.modal-popup.js-thanks-for-an-order-popup
    .modal-popup__container
        header.modal-popup__header
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.79 14.79").modal-popup__close.js-modal-popup__close
                title Close popup
                line(x1="2" y1="2" x2="12.79" y2="12.79" fill="none" stroke="#24b3fd" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4")
                line(x1="2" y1="12.79" x2="12.79" y2="2" fill="none" stroke="#24b3fd" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4")

            span.modal-popup__title Спасибо за заказ!

        .modal-popup__content.thanks-for-an-order-popup__content
            p.thanks-for-an-order-popup__text Подробности по Вашему заказу #4893839398 можно посмотреть в личном кабинете, раздел
                = ' '
                a(href='#').thanks-for-an-order-popup__link Заказы