.modal-popup.js-thanks-for-registration-popup
    .modal-popup__container
        header.modal-popup__header
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.79 14.79").modal-popup__close.js-modal-popup__close
                title Close popup
                line(x1="2" y1="2" x2="12.79" y2="12.79" fill="none" stroke="#24b3fd" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4")
                line(x1="2" y1="12.79" x2="12.79" y2="2" fill="none" stroke="#24b3fd" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4")

            span.modal-popup__title Спасибо за регистрацию!

        .modal-popup__content.thanks-for-registration-popup__content
            p.thanks-for-registration-popup__text Подтвержение будет отправлено Вам на почту
            a(href='#').modal-popup__link.thanks-for-registration-popup__link Отправить