.l-about
  position relative
.b-about
  background none
  position relative
  &__info
    // background url('../images/photodown.png') left bottom no-repeat
    position relative
  &__title 
    font-family "Roboto"
    color #24b3fd
    font-size 35px
    font-weight 300
    line-height 45px
    text-decoration none
    text-align center
    margin 30px 0
  &__description
    font-family "Roboto"
    font-size 55px
    font-weight bold
    line-height 55px
  &__name
    col(3/12, offset: 4/12)
  
  &__middle
    position relative
  &__border
    display block
    margin 0 auto
    height 1px
    width 66%
    border-bottom 1px solid #000
    margin-top 20px
  &__age
    height 4px
  &__value
    position absolute
    top 70px
    left -100px
    font-size 26px
  &__vertical-border
    position absolute
    top -35px
    left 3px
    margin-right 3px
    width 3px
  &__position 
    position relative
    height inherit
    &.__1
      top -150px
    &.__2
      top -100px
    &.__3
      top -40px
    &.__4
      top 35px
  &__history
    position absolute
    top 0
    left 0
    background #fff
  &__photo-down
    position absolute
    bottom 35px
    left 15px
  &__text-bottom
    position absolute
    right 60px
    bottom 90px
    font-size 26px
    line-height 22px
    text-align center
      

    

.vertical-border
  &__circle
    height 8px
    width 8px
    border-radius 30px
    background #24b3fd
  &__line
    border 1px solid #c6c6c6
    height 700px
    box-sizing border-box
    width 1px
    margin-left 3px
    margin-top 5px
  
.history
  &__name
    color #07405e
    font-size 24px
    padding-top 20px
    font-weight bold
  &__text
    font-size 14px
    widht 70%
    
.b-companies
  &Info
    margin-top 70px
    font-family 'Roboto'
    &__title
      font-weight bold
      padding-bottom 20px
    &__description
      text-align left

.b-companies
  &Features
    margin-top 50px
    font-family 'Roboto'
    &__image-container
      position relative
      height 260px
      width 100%
      border 1px solid #e6e7e8
    &__image     
      &.__1
        position absolute
        bottom 40px
        left 50%
        transform translate(-50%,0)
      &.__2
        position absolute
        bottom 40px
        left 50%
        transform translate(-50%,0)
      &.__3
        position absolute
        bottom 40px
        left 50%
        transform translate(-50%,0)
    &__title
      margin-top 50px
      font-weight bold
      color #07405e
    &__description
      padding-top 20px
      font-weight normal
.b-culture
  margin-top 50px
  &Info
    font-family 'Roboto'
    padding-left 110px
    position relative  
    &__title
      color #07405e
      font-size 24px
      font-weight bold
    &__description
      padding-top 20px
      font-weight normal    
    &.__1:before
      position absolute
      content url('../images/icon1.png')
      display inline-block
      left 15px 
      top 0
    &.__2:before
      position absolute
      content url('../images/icon2.png')
      display inline-block
      left 15px 
      top 0
    &.__3:before
      position absolute
      content url('../images/icon3.png')
      display inline-block
      left 15px 
      top 0
    &.__4:before
      position absolute
      content url('../images/icon4.png')
      display inline-block
      left 15px 
      top 0
    &.__5:before
      position absolute
      content url('../images/icon5.png')
      display inline-block
      left 15px 
      top 0
    &.__6:before
      position absolute
      content url('../images/icon6.png')
      display inline-block
      left 15px 
      top 0
    &.__7:before
      position absolute
      content url('../images/icon7.png')
      display inline-block
      left 15px 
      top 0
    &.__8:before
      position absolute
      content url('../images/icon8.png')
      display inline-block
      left 15px 
      top 0
    
      
    
      

  