@import '../base/mixins&includes.styl'

.l-about
  position relative
.b-about
  background none
  position relative
  &__info
    // background url('../images/photodown.png') left bottom no-repeat
    position relative
    +b(tablet)
      display none
    &-mob
      display none
      +b(tablet)
        display block
  &__title 
    font-family "Roboto"
    color #24b3fd
    font-size 40px
    font-weight 300
    line-height 20px
    text-decoration none
    text-align center
    margin 40px 0
    +b(tablet)
      font-size 30px
    +b(mobile)
      margin 16px 0 10px
      line-height 40px
  &__description
    margin-top -10px
    font-family "Roboto"
    font-size 55px
    font-weight bold
    line-height normal
    +b(laptop)
      font-size 40px
    +b(tablet)
      font-size 22px
      text-align center
      margin-top 0
    +b(mobile)
      padding-bottom 0
    & > span
      color #24b3fd    
  &__photo-up
    margin-left -10px
  &__empty
    height 4px
  &__chronicle
    overflow inherit
    height 799px
    padding-top 40px
    & .col-3
      height inherit
  &__name
    col(3/12, offset: 4/12)
  
  &__middle
    position relative
    img
      width 67.67%
      height 225px
  &__border
    display block
    margin 0 auto
    height 1px
    width 66%
    border-bottom 1px solid #000
    margin-top 30px
    +b(tablet)
      width 40%
    +b(mobile)
      margin-top 24px
  &__age
    margin-left 0
    width 215px
    height 225px
    +b(laptop)
      margin-left 0
  &__value
    position absolute
    top 70px
    left -114px
    font-family $secondFont
    font-size 26px
    line-height 22px
  &__vertical-border
    position absolute
    top -38px
    left 3px
    margin-right 3px
    width 3px
  &__position 
    position relative
    height inherit
    &.__1
      top -170px
    &.__2
      top -104px
    &.__3
      top -38px
    &.__4
      top 18px
  &__history
    position absolute
    top 0
    left -2px
    background #fff
  &__photo-down
    position absolute
    bottom -4px
    left 0
    +b(tablet)
      display none
  &__text-bottom
    position absolute
    right 50px
    bottom 66px
    font-family $secondFont
    font-size 26px
    line-height 22px
    text-align center
    +b(tablet)
      margin-top 30px
      position static
      font-size 22px
    +b(mobile)
      margin-top 34px
      

    

.vertical-border
  &__circle
    margin-left 0px
    height 7px
    width 7px
    border-radius 50%
    background #24b3fd
  &__line
    border-right 1px solid #c6c6c6
    height 700px
    box-sizing border-box
    width 1px
    margin-left 3px
    margin-top 5px
  
.history
  &__name
    color #07405e
    font-size 25px
    line-height 30px
    padding-top 10px
    padding-bottom 8px
    font-weight bold
    +b(tablet)
      font-size 18px
    +b(mobile)
      padding-top 10px
      padding-bottom 6px
  &__text
    font-size 14px
    line-height 22px
    +b(mobile)
      padding-bottom 0
    &.__last
      font-family 'Roboto'

section.l-companies
  padding-top 10px    
  +b(mobile)
    padding-top 2px
    padding-bottom 0
.b-companies
  &Info
    margin-top 60px
    font-family 'Roboto'
    +b(tablet)
      margin-top 24px
    &__title
      font-family $secondFont
      font-size 25px
      line-height normal
      font-weight bold
      padding-bottom 10px
      +b(tablet)
        font-size 18px
      
    &__description
      line-height 22px
      text-align left  
      +b(mobile)
        padding-bottom 30px
      

.b-companies
  &Features
    margin-top 40px
    font-family 'Roboto'
    +b(mobile)
      margin-top 2px
      overflow: auto
    &__image-container
      position relative
      height 260px
      width 100%
      border 1px solid #e6e7e8
      border-radius 5px
      box-shadow: 0 1px 2px 0 rgba(black,.1)
      +b(mobile)
        height 140px
    &__image
      fill #24b3fd
      &.__1
        position absolute
        bottom 40px
        left calc(50% - 10px)
        transform translate(-50%,0)
        +b(mobile)
          top 50%
          left 50%
          width 87px
          height 111px
          transform translate(-50%, -50%)
      &.__2
        position absolute
        bottom 40px
        left 50%
        transform translate(-50%,0)
        width 151px
        height 161px
        +b(mobile)
          top 50%
          left 50%
          width 94px
          height 100px
          transform translate(-50%, -50%)
      &.__3
        position absolute
        bottom 40px
        left 50%
        width 185px
        height 132px
        transform translate(-50%,0)
        +b(mobile)
          top 50%
          left 50%
          width 127px
          height 90px
          transform translate(-50%, -50%)
    &__title
      margin-top 48px
      font-family $secondFont
      font-size 20px
      line-height 20px
      font-weight bold
      color #07405e
      +b(tablet)
        font-size 18px
      +b(mobile)
        margin-top 24px
    &__description
      font-family $secondFont
      font-size 14px
      line-height 22px
      padding-top 10px
      font-weight normal
      +b(tablet)
        padding-top 6px
        padding-bottom 28px
    &__list
      +b(tablet)
        padding-bottom 30px
    &__item 
      position relative
      &::before 
        float: left
        content ''
        margin-top 9px
        margin-right 3px
        width 4px
        height 4px
        border-radius 50%
        background-color #677e8a
        +b(mobile)
          margin-right 10px
section.l-culture
  padding-top 30px
  +b(mobile)
    padding-top 0
    padding-bottom 32px
.b-culture
  margin-top 62px
  margin-bottom 36px
  +b(mobile)
    margin-top 18px
    margin-bottom 0
  &__flex
    display flex
    flex-direction row
    justify-content space-between
    align-items flex-start
    align-content flex-start
    flex-wrap wrap
    +b(mobile)
      flex-direction column
      justify-content flex-start
  &Info
    box-sizing border-box
    width 48.5%
    font-family 'Roboto'
    padding-left 95px
    position relative
    +b(tablet)
      padding-left 80px
    +b(mobile)
      width 100%
      padding-left 52px
    &__title
      color #07405e
      font-family $mainFont
      font-size 25px
      font-weight bold
      +b(tablet)
        font-size 18px
    &__description
      font-family $mainFont
      padding-top 12px
      font-weight normal
      +b(tablet)
        font-size 14px 
      +b(mobile)
        padding-top 2px
        padding-bottom 28px
        line-height 22px
    &:before 
      position absolute
      content ''
      left 0
      top 6px
      background-repeat no-repeat
      background-position 50% 50%
      background-size contain
      display block
      +b(mobile)
        left 1px
    &.__1
      +b(mobile)  
        order: 1  
      &:before
        background-image  url('../images/icon1.png')
        width 44px
        height 51px
        left 8px
        +b(mobile)
          left 3px
          width 28px
          height 32px
    &.__2
      +b(mobile)  
        order: 2    
      &:before
        background-image url('../images/icon2.png')
        width 49px
        height 49px
        left 7px
        +b(mobile)
          left 1px
          width 30px
          height 30px
    &.__3
      padding-top 10px    
      +b(mobile) 
        padding-top 0
        order: 3   
      &:before    
        background-image url('../images/icon3.png')
        width 53px
        height 53px
        top 14px
        left 4px
        +b(mobile)
          top 6px
          left 1px
          width 33px
          height 33px
    &.__4
      padding-top 5px    
      +b(mobile)
        padding-top 0
        order: 4    
      &:before    
        background-image url('../images/icon4.png')
        width 59px
        height 59px
        top 12px
        +b(mobile)
          top 6px
          left 0
          width 37px
          height 37px
    &.__5
      +b(mobile)  
        order: 5    
      &:before
        background-image url('../images/icon5.png')
        width 54px
        height 46px
        +b(mobile)
          left 0
          width 39px
          height 32px
    &.__6
      +b(mobile)  
        order: 6   
      &:before    
        background-image url('../images/icon6.png')
        width 54px
        height 54px
        +b(mobile)
          left -2px
          width 39px
          height 38px
    &.__7
      padding-top 10px    
      +b(mobile) 
        padding-top 0
        order: 7   
      &:before    
        background-image url('../images/icon7.png')
        width 56px
        height 58px
        top 14px
        +b(mobile)
          top 6px
          left -2px
          width 40px
          height 41px
    &.__8
      padding-top 5px    
      +b(mobile) 
        padding-top 0
        order: 8
      &:before
        background-image url('../images/icon8.png')
        width 38px
        height 48px
        top 12px
        left 10px
        +b(mobile)
          top 6px
          left 5px
          width 27px
          height 34px
.collage
  box-sizing border-box
  display flex
  flex-direction row
  justify-content center
  align-items flex-end
  max-height 675px
  height 53.9%
  max-width 900px
  width 78.9%
  &__col
    box-sizing border-box
    height 100%
    width 50%
    display flex
    flex-direction row
    justify-content flex-start
    align-items flex-end
    align-content flex-end
    flex-wrap wrap
  &__item
    position relative
    overflow hidden
    &_vertical
      width 50%
      height 66.6%
    &_square
      width 50%
      height 33.3%
    &_horizontal
      width 100%
      height 33.3%
    img 
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      margin auto
      min-width 100%
      min-height 100%
      width 0
      object-fit cover
      
.round-tr
  border-top-right-radius 5px
.round-tl
  border-top-left-radius 5px
.round-bl
  border-bottom-left-radius 5px
.round-br
  border-bottom-right-radius 5px
    
    
      

  