@import '../base/mixins&includes.styl'

.checkoutHeader
  padding 30px 0 10px
  text-align: center

  +b(mobile)
    padding: 20px 0 10px

  &__nameHotel
    display: block
    font-family 'Roboto'
    font-weight 300
    line-height normal
    font-size 40px
    color #24b3fd

    +b(mobile)
      font-size: 30px

      & > span
         display: block
         text-align: center

  &__geo
    font-family 'Roboto'
    font-weight 300
    color #acadaf
    font-size 14px
    +b(mobile)
      font-size 12px

.checkoutTabs
  margin-top: 35px

  +b(mobile)
    margin-top: 25px

  &__block
    height:auto
    width:100%
    +b(mobile)
      height auto

  &__nav
    padding 25px 0
    margin-bottom 50px
    border-top 1px solid #9f9fa0
    border-bottom 1px solid #9f9fa0
    +b(mobile)
      display none

    & > .ui-tabs-active > a
      color #24b3fd !important
      font-weight 600
      font-size 22px

      &:after
        position absolute
        content url('../images/icon/arrow-down.png')
        height 100%
        width 80%
        top 25px
        left 50%
        transform translate(-50%, 50%)
        background #fff
        +b(mobile)
          background none
          left 90%
          top 0
          width 20px
          height 11px
          transform translate(0, 0)

    & > li
      position relative
      display inline-block
      width 33%
      text-align center
      font-size 22px
      font-weight 300
      +b(mobile)
        width 100%
      & > a
        text-decoration none
        color #677e8a !important
        height 20px
        width 20px

        &:hover
          color #24b3fd !important
          font-weight 600
          font-size 22px

          &:after
            position absolute
            content url('../images/icon/arrow-down.png')
            height 100%
            width 80%
            top 25px
            left 50%
            transform translate(-50%, 50%)
            background #fff
            +b(mobile)
              background none
              left 90%
              top 0
              width 20px
              height 11px
              transform translate(0, 0)

.about-tour
  display: flex
  flex-flow: row wrap
  justify-content: space-between

  +b(mobile)
    flex-flow: column wrap

  &__column
    display: flex
    flex-direction: column
    width: 50%

    +b(mobile)
      width: 100%
      
    &_left
        flex: 1
        margin-right: 40px
        
        +b(mobile)
            flex: auto
            margin-right: 0

    &_right
      align-items: flex-end
      width: 375px
      
      +b(mobile)
          width: 100%

  &__title
    display: block
    margin-bottom: 34px
    width: 100%
    color: #07405e
    font-size: em(25px, 14px)
    font-weight: 700

    +b(mobile)
      font-size: em(18px, 14px)

  &__heading
    color: #07405e
    font-family: "Open Sans Light", "Open Sans", sans-serif
    font-size: em(20px, 14px)
    text-transform uppercase

    +b(mobile)
      font-size: em(18px, 14px)

  &__description
    display: block
    margin-top: 14px
    width: 100%
    font-size: 1em
    color: #000000

    +b(mobile)
      font-size: em(12px, 14px)
      line-height: 1.3

  &__icon-list
    display: flex
    flex-flow: row wrap
    width: 100%
    margin-top: 23px
    margin-bottom: 47px

    +b(mobile)
      flex-flow: column nowrap
      width: 100%
      margin-top: 20px
      margin-bottom: 20px

    &-wrapper
      display: block

    &-item
      display: flex
      align-items: center
      width: 50%
      margin-bottom: 15px

      +b(mobile)
        width: 100%

    &-icon
      display: block
      fill: #24b3fd

      & > *
        fill: #24b3fd

      &-wrapper
        display: block
        width: 25px
        margin-right: 12px

      &_calendar
        width: 21px
        height: 22px

      &_deluxe
        width: 24px
        height: 17px

      &_night
        width: 20px
        height: 20px

      &_breakfast
        width: 19px
        height: 23px

      &_people
        width: 22px
        height: 20px

      &_christmas
        width: 16px
        height: 23px

      &_excursion
        width: 21px
        height: 26px

      &_insurance
        width: 20px
        height: 25px

      &_vip
        width: 23px
        height: 23px

      &_marriage
        width: 19px
        height: 22px

      &_arrival
        width: 19px
        height: 25px

      &_visa
        width: 21px
        height: 21px

      &_transfer
        width: 23px
        height: 14px

    &-text
      color: #000000
      font-size: em(16px, 14px)

      & > small
        font-size: em(12px, 14px)
        color: #999999

  &__photos
    display: block
    
    +b(mobile)
        width: 100%

    &-list
      display: flex
      flex-flow: row wrap
      justify-content: space-between
      width: 375px
      margin-top: 10px

      +b(mobile)
        width: 100%


    &-item
      position: relative
      display: block
      width: 180px
      height: 110px
      border-radius: 5px
      overflow: hidden
      margin-top: 15px

      +b(mobile)
        width: 15%
        height: 110px
        
      +below(700px)
          width: 31%
          
      +below(480px)
          width: 47.5%

    &-image
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin: auto
      min-width: 100%
      min-height: 100%
      width: 0
      object-fit: cover

  &__tickets
    display: block
    width: 100%

    +b(mobile)
      margin-top: 20px

    &-list
      display: flex
      justify-content space-between
      margin-top: 24px

      +b(mobile)
        display: none

      &_mobile
        display: none

        +b(mobile)
          display: block

    &-item
      display: flex
      width: 48%
      height: 134px
      border-radius: 10px
      box-shadow: 0 0 3.8px .2px rgba(35, 41, 50, 0.3)
      overflow: hidden

      +b(mobile)
        padding: 12px 23px
        width: 100%
        flex: 1
        height: auto

        &:not(:last-child)
          margin-bottom: 24px

        &-info
          &-list
            display: block
            width: 100%

          &-item
            display: flex
            justify-content: space-between
            padding: 8px 0
            width: 100%
            border-bottom: 1px solid #c6c6c6

            &:last-child
              padding-bottom: 0
              border-bottom: 0

          &-col
            display: block

            &_logo
              display: flex
              justify-content: center
              align-items: center
              width: 50px

            &:not(:last-child)
              margin-right: 10px

          &-text
            display: block
            font-size: em(12px, 14px)

            &_blue
              color: #07405e

    &-logos
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-around
      padding: 10px 5px
      width: 89px
      height: 100%
      background-color: #fff

      &-item
        display: block

      &-image
        max-width: 100%
        height: auto

    &-info
      position: relative
      display: block
      width: 100%
      height: 100%
      background-color: #07405e;

      &-image
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        margin: auto
        min-width: 100%
        min-height: 100%
        width: 0
        object-fit: cover
        opacity: .35
        pointer-events: none

      &-content
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 35px 16px 28px
        height: 100%
        z-index: 2

      &-row
        display: flex
        justify-content space-between

      &-time
        font-size: em(25px, 14px)
        font-weight: 700
        color: #fff

      &-travel-time
        display: flex
        justify-content: space-between
        align-items: center
        width: 210px

        &-icon
          display: block
          width: 22px
          height: 11px
          fill: #fff

          &_down
            transform: rotate(45deg)

        &-text
          display: block
          text-align: center

          & > span
            display: block
            color: #fff
            font-size: em(11px, 14px)
            line-height: em(11px, 14px)

            &:not(:last-child)
              margin-bottom: 7px

      &-direction
        display: block

        &_right
          text-align: right

        & > span
          display: block
          color: #fff
          font-size: em(12px, 14px)
          line-height: em(12px, 14px)

          &:not(:last-child)
            margin-bottom: 9px

      &-airports
        display: flex
        width: 222px

        &-item
          display: flex
          align-items: center

          &:not(:last-child)
            flex: 1

            &::after
              content: ''
              display: block
              margin: 0 7px
              flex: 1
              height: 1px
              background-color: #fff

      &-airport
        display: flex
        justify-content: center
        align-items: center
        width: 34px
        height: 34px
        border: 1px solid #fff
        border-radius: 50%
        font-family: "Open Sans Semibold", "Open Sans", sans-serif
        font-size: em(11px, 14px)
        text-transform: uppercase
        color: #fff

  &__order
    display: flex
    flex-flow: row wrap
    justify-content: center
    width: 100%
    margin-top: 45px
    border-top: 1px solid #999
    padding-top: 40px
    padding-bottom: 80px

    +b(mobile)
      margin-top: 25px
      pdding-top: 20px

    &-sum
      display: flex
      flex-direction: column
      margin-right: 54px

      +b(mobile)
        flex-direction: row
        align-items: flex-end
        justify-content: center
        margin: 0
        order: 1

      &-heading
        display: block
        margin-bottom: 5px
        font-size: 1em
        line-height: 1em
        color: #999

        +b(mobile)
          line-height: auto

      &-price
        display: block
        font-size: em(60px, 14px)
        line-height: 1
        font-weight: 700
        color: #000

        +b(mobile)
          margin-left: 10px
          font-size: em(30px, 14px)

    &-button
      display: flex
      justify-content: center
      align-items: center
      padding: 10px
      margin: 0
      width: 263px
      height: 85px
      font-size: em(30px, 14px)
      font-weight: 700
      color: #fff

      +b(mobile)
        margin-top: 15px
        width: 100%
        height: 40px
        font-size: em(16px, 14px)
        order: 3

    &-bonus
      display: block
      margin-top: 27px
      width: 100%
      font-size: em(13px, 14px)
      color: #999
      text-align: center

      +b(mobile)
        order: 2
        font-size: em(11px, 14px)

.tourist-data
  display: flex
  justify-content: space-between
  padding-bottom: 20px

  +b(mobile)
    flex-direction: column
    justify-content: flex-start

  &__tour-card
    display: block
    width: 263px
    margin-right: 30px
    flex-shrink: 0

    +b(mobile)
      width: 100%
      margin-right: 0

      .card__title
        border-bottom: 1px solid #898989

      .card__content
        padding: 2px 13px 13px

      .card__description
        display: block

  &__form
    display: flex
    flex-direction: column
    width: 100%

  &__contacts
    display: flex
    justify-content: space-between

    +b(mobile)
      flex-direction: column
      justify-content: flex-start
      margin-top: 25px

    &-description
      display: flex
      flex-direction: column
      justify-content: flex-end
      width: 262px
      text-align: left
      margin-bottom: 20px

      +b(mobile)
        display: none

      &-text
        display: block
        font-size: em(12px, 14px)
        color: #999

  &__tourist
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    margin-top: 15px
    padding-top: 25px
    border-top: 1px solid #c6c6c6
    
    .tourist-data__field
        width: 48%
        margin-right: 0
        +b(mobile)
            width: 100%

    +b(mobile)
      flex-direction: column
      justify-content: flex-start

    &-title
      color: #07405e
      font-weight: 700
      font-size: em(25px, 14px)
      padding-right: 22px
      border-right: 1px solid #ddd
      margin-right: 22px

      +b(mobile)
        margin-right: 0
        margin-bottom: 11px
        padding-right: 0
        border-right: 0
        font-size: em(18ox, 14px)

    &-heading
      display: flex
      align-items: center
      width: 100%
      margin-bottom: 22px

      +b(mobile)
        flex-direction: column
        align-items: flex-start

    &-choose
      position: relative

      &-icon
        position: absolute
        top: 50%
        display: block
        pointer-events: none

        &_people
          left: 0
          transform: translateY(-50%)
          width: 24px
          height: 22px
          fill: #24b3fd

        &_dropdown
          right: 0
          transform: translateY(-50%)
          width: 10px
          height: 6px
          fill: #748893

      &-select
        padding-left: 35px
        padding-right: 18px
        border: 0
        outline: none

  &__payment
    display: block
    padding: 20px 0

    &-accept
      width: 80%

      +b(mobile)
        width: 100%

    &-button
      margin: 40px auto 0

      +b(mobile)
        display: flex
        justify-content: center
        align-items: center
        padding: 0
        width: 100%
        height: 40px
        margin-top: 25px

  &__field
    display: block
    margin-bottom: 20px
    margin-right: 20px
    +b(mobile)
        margin-right: 0

  &__label
    display: block
    color: #252525
    font-size: em(16px, 14px)
    text-align: left

  &__input
    display: flex
    align-content: center
    margin-top: 9px
    padding: 0 12px
    width: 100%
    height: 40px
    border-radius: 5px
    border: 1px solid #ddd
    font-weight: 700
    color: #000
    font-size: em(16px, 14px)

    +b(mobile)
      width: 100%
      font-size: 1em

    &::placeholder
      color: #ccc

    &_medium
      width: 100%

      +b(mobile)
        width: 100%

  &__checkbox
    display: flex

    &-box
      display: block
      width: 12px
      height: 12px
      border-radius: 1px
      border: 1px solid #b9b9b9
      background-color: transparent
      transition: all .25s ease-in-out
      flex-shrink: 0

    &-control
      display: none

      :checked + ^[1]-box
         background-color: #24b3fd
         border-color: transparent

    &-text
      display: block
      margin-top: -2px
      margin-left: 9px
      font-size: em(12px, 14px)
      color: #999
      line-height: 1.333
      text-align: left
      transition: all .25s ease-in-out

      +b(mobile)
        margin-left: 26px

.pay-an-order
  display: flex
  justify-content: space-between
  padding-bottom: 20px

  +b(mobile)
    flex-direction: column
    justify-content: flex-start

  &__tour-card
    display: block
    width: 263px
    margin-right: 30px
    flex-shrink: 0

    +b(mobile)
      display: none

  &__tabs
    display: flex
    flex-direction: column
    width: 100%

  &__nav
    display: flex
    justify-content: space-between

    +b(mobile)
      flex-direction: column
      justify-content: flex-start

    &-item
      display: block
      box-shadow: 0 0 3.8px .2px rgba(35, 41, 50, .3)
      border-radius: 10px
      overflow: hidden
      opacity: .3
      transition: all .25s ease-in-out
      width: 48%
      
      +b(mobile)
          width: 100%

      +b(mobile)
        &:not(:last-child)
          margin-bottom: 25px

    .ui-tabs-active
      opacity: 1

    &-link
      display: flex
      flex-direction: column
      align-items: center
      padding: 27px 50px 25px
      width: 100%
      min-height: 204px
      text-decoration: none

      +b(mobile)
        width: 100%
        padding-left: 15px
        padding-right: 15px
        min-height: 0

      &_office
        padding-left: 25px
        padding-right: 25px

    &-title
      display: block
      font-family: "Open Sans Light", "Open Sans", sans-serif
      font-size: em(20px, 14px)
      line-height: 1.3
      color: #07405e
      text-align: center
      text-transform: uppercase

      +b(mobile)
        font-size: em(18px, 14px)

    &-icon
      display: block
      fill: #07405e

      & > *
        fill: #07405e

      &-wrapper
        height: 50px

      &_card
        width: 50px
        height: 35px

      &_office
        width: 43px
        height: 41px

    &-description
      margin-top: 20px
      display: block
      font-size: em(12px, 14px)
      color: #000000
      line-height: 1.3
      text-align: center
      padding-bottom: 0

  &__block
    display: block
    margin-top: 52px
    min-height: 400px

    +b(mobile)
      margin-top: 25px

  &__title
    display: block
    font-size: em(25px, 14px)
    font-weight: 700
    color: #07405e

    +b(mobile)
      font-size: em(18px, 14px)

  &__radio
    display: flex
    align-items: center
    margin-top: 20px

    &-box
      display: block
      width: 12px
      height: 12px
      border-radius: 50%
      border: 1px solid #b9b9b9
      background-color: transparent;
      transition: all .25s ease-in-out
      flex-shrink: 0

    &-control
      display: none

      :checked + ^[1]-box
         background-color: #24b3fd
         border-color: transparent

    &-text
      display: block
      margin-left: 13px
      font-size: em(16px, 14px)
      color: #252525
      line-height: 1.333
      text-align: left
      transition: all .25s ease-in-out

  &__button
    display: flex
    justify-content: center
    align-items: center
    margin-top: 38px
    min-width: 263px
    height: 55px

    +b(mobile)
      margin-top: 25px
      padding: 0
      width: 100%
      height: 40px

  &__text
    display: block
    font-size: 1em
    color: #000

    & > span, p
      display: block
      line-height: 1.5

    & > p
      padding: 0
      margin: 18px 0

      &:last-child
        margin-bottom: 0