@import '../base/mixins&includes.styl'

.compare-page
  .dSubscribePrice
    margin-bottom: 30px

.compare
  p
    padding-bottom: 0
  &__header
    position: relative
    text-align center
    .dNews__h2
      margin: 22px 0 23px
  &__clear
    position: absolute
    right: 0
    top: 22px
    font-size: 12px
    padding-left: 23px
    text-decoration: none
    color: #666666
    +b(tablet)
      width: 90px
      line-height: 1.2em
      text-align: left
    +b(mobile)
      position: relative
      top: 0
      margin-bottom: 23px
      display: inline-block
      width: auto
      display: block;
      margin: 0 auto 20px;
      width: 150px;
    img
      position: absolute
      left: 0
      top: 0
      bottom: 0
      margin: auto
  &__date
    display: inline-flex
    align-items: center
    position: relative
    .icon-calendar
      width: 39px
    input
      border: 0
      cursor: pointer
  &__datetext
    font-size: 14px
    font-weight: 600
    color: #323131
    white-space: nowrap
    margin-right: 10px
  &__main-wrapper
    +b(mobile)
      overflow-x: scroll
  &__main
    padding-bottom: 11px
    min-width 800px
    +b(mobile)
      width: auto
  &__cols
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 0
    text-align: center
    min-height: 118px
    +b(mobile)
      justify-content: space-around
      min-height 0
    .search__arrow
      position: static
      transform: translateY(-20%)
      +b(mobile)
        display: block;
        margin: 13px auto 0;
    &_images
      padding: 27px 0 39px
    &_food
      min-height: 145px
      padding: 0 0 20px
      +b(mobile)
          min-height 0
          padding-top 30px
          padding-bottom 30px
    &_bonuses
      padding: 46px 0
      align-items: flex-start
      +b(mobile)
          padding 10px 0
    
      .hotelsBonus__column
        float: none
        width: 100%
        min-height: 180px
        height: auto
        overflow: hidden
        padding: 15px
        display: flex
        align-items: center
        justify-content: center
        & + .hotelsBonus__column
          margin-top: 30px
          +b(mobile)
              margin-top 15px
      .hotelsBonus__name
        font-size: 17px
        font-weight: 500
        text-transform: uppercase
        line-height: 1.4em
        margin-bottom: 12px
        +b(mobile)
            font-size 14px
      .hotelsBonus__border-bottom
        width: 50%
      .hotelsBonus__date
        margin-top: 11px
      .hotelsBonus__date-value
        margin-top: 1px
        font-size: 18px
        +b(mobile)
            font-size 14px
    &_description
      padding: 42px 0 39px
      +b(mobile)
          padding: 15px 0
    &_rest
      padding: 42px 0 36px
      align-items: flex-start
      +b(mobile)
          padding: 15px 0
    &_services
      padding: 47px 0 38px
      +b(mobile)
          padding: 15px 0
    &_reservation
      border-top: 1px solid #c6c6c6
  &__col
    width: 31.58%
  &__imgblock
    height: 180px
    border-radius: 9px
    overflow: hidden
    position: relative
    display: flex
    justify-content: center
    align-items: flex-end
    padding: 12px
    box-sizing: border-box
    box-shadow: 0px 0px 3.8px 0.2px rgba(35, 41, 50, 0.3)
    &:after
      content: ""
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 2
      pointer-events: none
      border-radius: 9px
    &.active
      box-shadow: 0
      &:after
        background: linear-gradient(to bottom, rgba(7,64,94,0) 50%,rgba(7,64,94,0.86) 100%)
      .compare__addicon
        opacity: 0
        pointer-events: none
      .compare__hotelimg
        filter: grayscale(0)
        opacity: 1
      .compare__delete
        opacity: 1
        pointer-events: all
        &:hover
          opacity: 0.7
      .compare__hotelname
        opacity: 1
        pointer-events: all
  &__addicon
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    margin: auto
    z-index: 3
    width: 54px
    height: 54px
    transition: all .25s ease-in-out
    &:hover
      opacity: 0.7
  &__hotelimg
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    margin: auto
    min-width: 100%
    min-height: 100%
    width: 0
    object-fit: cover
    z-index: 1
    filter: grayscale(1)
    opacity: 0.25
  &__delete
    position: absolute
    right: 10px
    top: 10px
    transition: all .25s ease-in-out
    z-index: 2
    opacity: 0
    pointer-events: none
    img
      transform: rotate(45deg)
  &__hotelselect
    position: relative
    z-index: 3
  &__hotelname
    display: block
    font-size: 16px
    font-weight: 500
    color: #fff
    position: relative
    opacity: 0
    pointer-events: none
    text-decoration: none
    transition: all 0.25s ease-in-out
    svg
      margin-left: 10px
      fill: #fff
  &__option-heading
    text-align: center
    font-size: 22px
    font-weight: 300
    color: #677e8a
    padding: 17px 0 23px
    border-top: 1px solid #c6c6c6
    border-bottom: 1px solid #c6c6c6
    +b(mobile)
        font-size 18px
  &__hoteltype
    text-decoration: none
    color: #000
    font-size: 16px
    +b(mobile)
        font-size 14px
  &__hotelprice
    font-size: 20px
    font-weight: 500
    color: #000
  &__hotelstars
    svg
      width: 20px
      height: 20px
      fill: #24b3fd
  &__hotelrating
    font-size: 20px
    font-weight: 300
    color: #000
    +b(mobile)
        font-size 18px
    span
      font-weight: 500
  &__hotelfood
    font-size: 16px
    color: #000
    +b(mobile)
        font-size 14px
    svg
      width: 18px
      height: 23px
      fill: #24b3fd
      vertical-align: middle
      margin-top: -6px
      margin-right: 10px
  &__hoteldescription
    font-size: 16px
    line-height: 1.4em
    +b(mobile)
        font-size 14px
    span
      font-weight: 600
      color: #000
    & + .compare__hoteldescription
      margin-top: 12px
  &__hotelregion,
  &__hotelcountry,
  &__hotelrest
    font-size: 16px
    color: #000
    font-weight: 600
    +b(mobile)
        font-size 14px
  &__hotelrest
    li
      margin-top: 14px
      &:first-child
        margin-top: 0
  &__hotelservices
    display: inline-block
    text-align: left
    font-size: 16px
    +b(mobile)
        font-size 14px
    li
      margin-top: 10px
      &:first-child
        margin-top: 0
    svg
      width: 19px
      height: 23px
      fill: #24b3fd
      vertical-align: middle
      margin-right: 10px
  &__reserve-button
    font-size: 18px
    line-height: 40px
    padding: 0 10px
    +b(mobile)
        font-size 14px