.contacts
  &__title
    box-sizing border-box
    width 100%
    & > h1
      font-size 40px
      line-height 0.5em
      font-weight 300
      text-align center
  &__content
    box-sizing border-box
    width 100%
    display flex
    flex-direction row
    justify-content space-between
    align-items flex-start
  &__item
    width 25%
    & h2
      font-family $mainFont, $fixFont
      font-size 20px
      line-height 1em
      font-weight 700
      color #07405e 
    & p
      font-family $mainFont, $fixFont
      font-size 14px
      line-height 2.1em
    &_adress
      & p
        color #252525;
        