@import '../base/mixins&includes.styl'

.country-page

  +b(mobile)
    .dNews__h2
      margin: 15px 0
      font-size: 22px

    .regionHotelsSlider
      margin-top: 40px

    .other-news
      margin: 0

      &__collumn
        margin: 0 0 15px 0
        padding-bottom: 14px
        border-bottom: 1px solid #999

    .hotelsArticle
      &__content
        display: block
        max-height: 100%

      &__blockOpacity
        display: none

      &__button
        display: none

    .filterHotels__switch-inner
      display: none

    .filterCountry__options
      display: none
      
    .filter__buttonMob
      pointer-events none
      
    .contactForm
      margin 0 !important

.countryTabs
  &__layout
    margin-top 71px
    margin-bottom: 30px

    +b(mobile)
      margin-top: 25px

  &__block
    +b(mobile)
      margin-top: 13px

  &__nav
    padding 18px 0
    margin-bottom 39px
    border-top 1px solid #9f9fa0
    border-bottom 1px solid #9f9fa0


    +b(mobile)
      display: none

    & > .ui-tabs-active > a
      color #24b3fd !important
      font-weight 600
      font-size 22px

      &:after
        position absolute
        content url('../images/icon/arrow-down.png')
        height 100%
        width 80%
        top 25px
        left 50%
        transform translate(-50%, 50%)
        background #fff
        +b(mobile)
          background none
          left 90%
          top 0
          width 20px
          height 11px
          transform translate(0, 0)

    & > li
      position relative
      display inline-block
      width 19%
      text-align center
      font-size 22px
      font-weight 300
      & > a
        text-decoration none
        color #677e8a !important
        height 20px
        width 20px
  
        &:hover
          color #24b3fd !important
          font-weight 600
          font-size 22px
    
          &:after
            position absolute
            content url('../images/icon/arrow-down.png')    
            height 100% 
            width 80%
            top 25px
            left 50%
            transform translate(-50%, 50%)
            background #fff
  &__sorting
    padding-left 6px

    &Title
      display inline-block
      vertical-align middle
      font-weight bold
      color #000
      padding-right 30px
    &List
      display inline-block
      vertical-align middle
      +b(mobile)
        display block
    &ListItem
      display inline-block
      vertical-align middle 
      margin-left 23px
      &:first-child
        margin-left 0
      & > a
        text-decoration none
        color #999
        padding 0 10px
        border-radius 12px
      &.active > a
        background #f4f4f4
        color #000
      +b(mobile)
        display block
        margin-top 15px
        margin-left 0
        
  &__excursion
    display none
    margin-top 30px
    &.active
      display block
    
.historyTab
  &__item
    clearfix()
  &__image
    col(5/12)

    +b(mobile)
      position: relative
      col(1)
      width: 100%
      height: 210px
      border-radius: 10px
      overflow: hidden

    & > img
      margin-bottom 17px

      +b(mobile)
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        margin: auto
        min-width: 100%
        min-height: 100%
        width: 0
        object-fit: cover

  &__description
    col(7/12)

    +b(mobile)
      margin-top: 20px
      col(1)
        
.excursion
  &__toptext
    line-height 1.6em
    padding-bottom 35px
        
.excursionTab
  margin-top 60px
  &:first-child
    margin-top 0
  +b(mobile)
    margin-top: 0
  &__item
    border-bottom 1px solid #999
    margin-bottom 20px    
    clearfix()
    &_type1
      border-radius 10px
      box-shadow 0px 0px 3.8px 0.2px rgba(35, 41, 50, 0.3)
      border-bottom 0
      margin-bottom 30px
      overflow hidden
      .excursionTab__image
        border-radius 0
        +b(mobile)
          height 100px
      .excursionTab__description
        min-height 230px
        padding-top 10px
        padding-bottom 10px
        display flex
        flex-direction column
        justify-content center
        +b(mobile)
          margin-top 15px
          padding 0 22px
      .excursionTab__descriptionTitle
        +b(mobile)
          margin-bottom 0
    &_type3
      margin-bottom 24px
      .excursionTab__description
        padding-right 0
        padding-bottom 25px
      .excursionTab__descriptionTitle
        margin-top 0
        margin-bottom 13px
      .hotelsDescription__list
        margin-top 0
        margin-bottom 0
      .hotelsDescription__li
        margin-top 10px
        padding-left 30px
        

    &.__type-2
      overflow: hidden;
      box-shadow 1px 1px 3px #999,
                  -1px -1px 3px #999
      border-radius 12px
      
    .hotelsDescription__li:first-of-type
      +b(mobile)
        margin-top 10px
      
  &__image
    col(3/12)
    border-radius 10px
    overflow hidden

    +b(mobile)
      position: relative
      col(1)
      width: 100%
      height: 200px
      border-radius: 10px
      overflow: hidden

    & > img
      display block
      width 100%

      +b(mobile)
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        margin: auto
        min-width: 100%
        min-height: 100%
        width: 0
        object-fit: cover
      
  &__description
    col(9/12)
    padding-right 4%
    margin-right 0
    +b(mobile)
      col(1)
      padding: 0
      margin-top: 25px

    &Title
      margin-top 10px
      margin-bottom 10px
      color #07405e
      font-weight bold
      font-size 25px
      +b(mobile)
        margin-top: 0
        margin-bottom: 15px
        font-size 18px
        
    &Info
      margin-top 14px
      font-weight 600
      letter-spacing 0.02em
      padding-bottom 0
      & + .excursionTab__descriptionInfo
        margin-top 2px

    &SubTitle
      margin-top 10px
      margin-bottom 10px
      font-size 20px
      color #07405e
      font-weight 300
    &Text
      margin-top 10px
      margin-bottom 10px
      font-size 14px
      line-height: 1.6em

.filterCountry
  
  margin-top 53px
  margin-bottom 30px

  +b(mobile)
    margin-top: 15px
    margin-bottom: 15px

  &__hotels
    +b(mobile)
      display: none

  &__button
    float right
    padding 16px 42px
  
  &__title
    margin-bottom 20px
  &__options
    margin-top 30px
    margin-bottom 76px
    clearfix()
    &Column
      col(1/4)
      +b(mobile)
        col(1)
      & > li
        list-style-type none
        & > label
          padding-left 27px !important

.typesHoliday
  margin-top 54px
  .category__list
    padding-top 18px

.regionCountry
    .section__title
        margin-bottom 20px

.country-page
  .catalog-looking-for
      padding 10px 0px 0
  .main-gallery-slider__price
    display none
  .main-gallery-slider__info
    display none