@import '../base/mixins&includes.styl'

.calendarSlider
  position relative
  &:before
    content ''
    position absolute
    border-top 1px solid #cccccc
    width 100%
    bottom 50px
    left 0
  &:after
    content ''
    position absolute
    border-top 1px solid #cccccc
    width 100%
    bottom 69px
    left 0
  &__arrow
    position absolute
    height 20px
    width 20px
    & > svg
      fill #457086
      height 100%
      width 100%
    &.__left
      top 50%
      left 0
    &.__right
      top 50%
      right 0
        
.calendar-price
  margin 30px 0

  +b(mobile)
    display none

  & > .container
    display: flex
    align-items: center

  &__btn
    cursor: pointer

    & > svg
      width: 8px
      height: 15px
      fill: #677e8a

    &_next
      order: 3
      margin-left: 10px

    &_prev
      order: 1
      margin-right: 10px

  & .swiper-container
    order: 2

#mapPrice
  max-height: 100%
  max-width: 100%
  height 500px
  width 900px
  height:400px
  width:100%
  border-radius:12px

.hotelsTabs
  margin-top: 35px

  +b(mobile)
    margin-top: 22px

  &__bonus
    clearfix()
  &__block
    height:auto
    width:100%
    // background:#000
    +b(mobile)
      height auto
  &__nav
    padding 25px 0
    margin-bottom 50px
    border-top 1px solid #9f9fa0
    border-bottom 1px solid #9f9fa0
    +b(mobile)
      display none

    & > .ui-tabs-active > a
      color #24b3fd !important
      font-weight 600
      font-size 22px

      &:after
        position absolute
        content url('../images/icon/arrow-down.png')
        height 100%
        width 80%
        top 25px
        left 50%
        transform translate(-50%, 50%)
        background #fff
        +b(mobile)
          background none
          left 90%
          top 0
          width 20px
          height 11px
          transform translate(0, 0)


    & > li
      position relative
      display inline-block
      width 24%
      text-align center
      font-size 22px
      font-weight 300
      +b(mobile)
        width 100%
      & > a
        text-decoration none
        color #677e8a !important
        height 20px
        width 20px
  
        &:hover
          color #24b3fd !important
          font-weight 600
          font-size 22px
    
          &:after
            position absolute
            content url('../images/icon/arrow-down.png')    
            height 100% 
            width 80%
            top 25px
            left 50%
            transform translate(-50%, 50%)
            background #fff
            +b(mobile)
              background none
              left 90%
              top 0
              width 20px
              height 11px
              transform translate(0, 0)
.hotelsDescription
  margin-top: 33px
  clearfix()

  +b(mobile)
    margin-top: 23px

  &__accordTitle
    position relative
    display none
    text-align center
    font-size 22px
    font-weight 300

    +b(mobile)
      cursor pointer
      width 100%
      display flex
      justify-content space-between
      text-decoration none
      color #677e8a !important
      font-size: 18px
      font-family: "Open Sans Light", "Open Sans", sans-serif;
      font-weight: 300
      border-bottom: 1px solid #c6c6c6
      padding: 8px 0 9px
      transition: all .25s ease-in-out

      &:first-of-type
        border-top: 1px solid #c6c6c6

      &::after
        content url('../images/icon/arrow-down-sm.png')
        background none
        width 20px
        height 11px
        transform translate(0, 0)

      &:hover
        color #24b3fd !important


      .active&
        font-weight: 700
        color #24b3fd !important
        border-bottom: 1px solid transparent

        &::after
          content url('../images/icon/arrow-down.png')
          position: absolute
          top: 50%
          right: 0
          width 20px
          height 11px
          transform: translate(0, 0) rotate(180deg)

  &__column
    col(1/3)
    +b(mobile)
      unstack()

  &__heading
    display: flex

  &__icon
    display block
    height 30px
    width 30px
    & > svg      
      height 100%
      width 100%
      fill #07405e

    &-wrapper
      display: block
      height: 100%

  &__title
    display block
    font-size 20px
    color #07405e
    padding-left 10px
    align-self: center
    +b(mobile)
      font-size 18px
      text-transform uppercase

  &__value
    margin 20px 0
    font-size 14px
    font-weight 400
    +b(mobile)
      margin 12px 0 3px
  &__name 
    font-weight 600
  &__list
    margin 20px 0
    +b(mobile)
      margin 13px 0 15px
  &__li
    position relative
    font-size: 14px
    padding-left: 20px
    font-weight: normal
    +b(mobile)
      margin-top 5px
      padding-left 13px
      &:first-of-type
        margin-top 0
    // padding-top: 10px
    // padding-bottom: 10px
  &__li:before
    position absolute
    top 8px
    left 0
    color: #999
    content: ''
    height: 5px
    width: 5px
    background: #677e8a
    border-radius: 53px
  &__info
    +b(mobile)
      margin-top 34px
      &:first-child
        margin-top 0
  
.hotelsBonus

  &__column
    col(1/2)
    display block
    position: relative
    border-radius 12px
    height 400px
    color #fff    
    text-decoration none
    padding 60px 60px 0
    transition all .25s ease-in-out
    overflow hidden
    
    &:hover
      box-shadow: 0px 0px 9.5px 0.5px rgba(35, 41, 50, 0.3)
      .hotelsBonus__hover
        opacity 1
        pointer-events all

    +b(mobile)
      unstack()
      padding 20px 20px
      margin-top 10px
      margin-bottom 10px
      height auto
      width 100%
      min-height 400px
      &:hover
        box-shadow: none
        .hotelsBonus__hover
          opacity 0
          pointer-events none

  &__image
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    min-width: 100%
    min-height: 100%
    width: 0
    object-fit: cover

  &__content
    position: relative
    margin: auto
    display: block
    z-index: 1
  
  &__hover
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background-color #fff
    z-index 2
    padding 39px 24px
    opacity 0
    pointer-events none
    transition all .25s ease-in-out
      
    p
      padding 0
      
    &-heading
      font-size 22px
      font-weight 600
      color #07405e
      text-transform uppercase
      line-height 1.2em
      letter-spacing 0.02em
        
    &-optionlist
      margin-top 31px
      font-size 14px
      color #333333
      letter-spacing 0.02em
        
      li
        margin-top 14px
        &:first-child
          margin-top 0
          
    &-optionname
      font-weight 600
      color #000
      margin-right 5px
      
    &-attention
      border-top 1px solid #c6c6c6
      margin-top 16px
      padding-top 13px
      
    &-attentionheading
      font-size 14px
      font-weight 600
      color #e13838
      letter-spacing 0.02em
      
    &-attentiontext
      font-size 14px
      color #333333
      margin-top 2px
      line-height 1.5em
        
    &.popup
      position relative
      padding 0 15px 35px
      opacity 1
      pointer-events all
      background-color transparent
      margin-top -10px
      .hotelsBonus__hover-heading
        color #24b3fd
        text-transform none
        letter-spacing -0.04em
        text-align center
      .hotelsBonus__hover-optionlist
        margin-top 20px
        

  &__name
    text-align center
    font-weight bold    
    font-size 22px
    margin-bottom 24px
    line-height 30px
    text-transform uppercase
    
    +b(mobile)
      font-size 18px
      text-transform uppercase
  &__info
    text-align center
    margin-bottom 25px
    font-size 14px  
        
  &__border-bottom
    height 1px
    width 30%
    border-top 1px solid #fff
    display block
    margin 0 auto
  &__date
    margin-top 20px
    font-size 22px
    &-name
      font-size 12px
      text-align center
      padding 0
    &-value
      margin-top 20px
      font-size 22px
      text-align center
      padding 0
.filterHotels
  &__switch-inner
    background none
    margin-top: 36px
  &__switch-view
    border 1px solid #fff
    // border-radius 4px
      
.filterMob
  &__search
    +b(mobile)
      float none !important
      margin-top 10px !important
      width 100% !important
      margin-bottom 10px !important
      background-color #fff !important
      border 1px solid #999 !important
      border-left 1px solid #999 !important
      border-radius 8px !important
    
.holidayCreate
  margin-top: 300px

  +b(mobile)
    margin-top 18px
    padding-bottom 15px

    & > .section__title .h2
      font-family: Roboto, "Open Sans"
      font-weight 700
      font-size: 22px
      line-height: 1.35em
      padding: 0 35px

  &__filterMob, .hotelsTours__filterMob
    position fixed
    top 0
    padding-top 47px
    z-index 300
    height 100%
    width 100%
    background #fff

  &__filter
    position: relative
    min-height 200px
    margin-top: 20px
    margin-bottom: 10px

    +b(mobile)
      background none
      height auto
      display none

    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      display: block
      width: 100%
      height: 100%
      background-color: rgba(0, 0, 0, .43)
      z-index: 2

    &-image
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin: auto
      min-width: 100%
      min-height: 100%
      width: 0
      object-fit: cover
      z-index: 1

    &-content
      position: relative
      display: block
      padding-top: 17px
      padding-bottom: 17px
      z-index: 3

      & > .filter__box-shadow
        box-shadow: none
      & > .filterHotels__switch-inner
        margin-top: 0

        & > .filterHotels__switch-view
          border: 0

  &__selectors
    overflow hidden
    width 50%
    margin 20px auto 20px

  &__selectors-item
    position relative
    col(1/2)
    
    & > label
      position absolute
      height 9px
      width 27px
      right 10px
      top 50%
      transform translateY(-50%)
      & > svg
        display block
        width 100%
        height 100%
        fill #fff
    & > select
      border-radius 5px
      height 40px  
      color #fff
      background rgba(9,60,87,.5)
      outline none
      border: 1px solid #fff

  &__sort-inner
    text-align center
    padding-top 12px
    border-top 1px solid rgba(204, 204, 204, .5)
    margin 0 auto

    .catalog-sort__list
      margin-right: 0
      padding-right: 0

    .catalog-sort__title, .catalog-sort__link
      color: #ffffff

    .catalog-sort__link:hover
      color: #ffffff

    .catalog-sort__list-item.active .catalog-sort__link
      color: #677e8a

  &__result
    +b(mobile)
      display none
  &__sliderMob
    display none
    +b(mobile)
      display block
  &__slider
    position relative
    margin-top 20px
    margin-bottom 30px
    min-height 700px
    +b(mobile)
      min-height auto
      margin-top 22px
      margin-bottom 0

    &__arrow
      position absolute
      height 40px
      width 30px
      background #457086
      & > svg
        padding 10px 5px
        fill #fff
        height 100%
        width 100%
      &.__left
        top 45%
        left 0
      &.__right
        top 45%
        right 0

.numbersSlider
  &__item
    position: relative
    display block
    border-radius 10px
    margin 0 15px 10px
    overflow hidden
    box-shadow: 0 0 3.8px 0.2px rgba(35, 41, 50, 0.3)
    transition all 0.3s ease-in-out 0s
    transform translate3d(0,0,0)

    +b(mobile)
      margin: 30px 0 0
      &:first-child
        margin-top 0
      &:nth-child(n+4)
        display none

    &:hover
      cursor pointer
      box-shadow: 0 0 9.5px 0.5px rgba(35, 41, 50, 0.3)

    &:hover .numbersSlider__image
      max-height: 145px

      +b(mobile)
        transition none
        max-height 115px

    &:hover .numbersSlider__zoom
      display: block
      opacity: 1

      +b(mobile)
        display: none

  &__zoom
    position: absolute
    top: 114px
    right: 14px
    display: block
    width: 20px
    height: 20px
    z-index: 3
    opacity: 0
    transition: opacity .5s ease-in-out

    +b(mobile)
      display: none

  &__lunch
    position: absolute
    top: 83px
    right: 24px
    display: none
    width: 24px
    height: 22px
    z-index: 3
    fill: #fff

    +b(mobile)
      display: block

  &__images
    position relative
    overflow hidden 

    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      display: block
      width: 100%
      height: 100%
      background-color: rgba(0, 0, 0, .25)

      +b(mobile)
        top 35%
        height: 65%
        background-color: transparent
        background-image: linear-gradient(transparent, #07405e)
        opacity: .86

  &__image
    width: 263px
    height: auto
    max-height 115px
    object-fit: cover
    z-index 2
    transform: translateZ(0)
    transition all .3s ease-in-out

  &__arrow
    position absolute
    z-index 10
    height 20px    
    width 20px
    & > svg
      width 100%
      height 100%
      fill #fff
    &.__left
      top 50%
      left 10px
    &.__right
      top 50%
      right 10px

  &__type
    display: flex
    flex-direction: column
    justify-content center
    margin 0 15px
    padding: 13px 0
    border-bottom 1px solid #999
    height 85px

    +b(mobile)
      border-bottom: none
      margin 0 23px
      height 74px

  &__info
    display: flex
    flex-direction: column
    justify-content center
    margin 0 15px
    padding: 13px 0
    border-bottom 1px solid #999
    height 85px

    +b(mobile)
      display none

      &_price
        display: block
        margin: 0
        padding: 0
        height: 0
        border: 0

        & ^[0]__propertie
         display: none

  &__propertie
    margin-bottom: 4px
    font-size 12px
    color #999999
  &__value
    font-size 14px
    font-weight bold
    color #000
  &__price
    font-size 25px
    font-weight bold
    color #24b3fd

    +b(mobile)
      position: absolute
      top: 105px
      left: 24px
      transform: translateY(-100%)
      font-size: 22px
      font-weight: normal
      color: #ffffff

  &__form
    padding-top 20px
    margin 0 15px
    height 65px

    +b(mobile)
      display: none

  &__checkbox
    display inline-block
    vertical-align middle
    background #fff
    border 1px solid #999
    border-radius 80px
    height 15px
    width 15px 
    transition all 0.3s ease-in-out 0s

  &__labelCheckbox
    display inline-block
    vertical-align middle
    font-size 16px
    padding-left 10px

.checkboxActive
  background #24b3fd
  border 1px solid #24b3fd
  transition all 0.3s ease-in-out 0s

  & + .numbersSlider__labelCheckbox
    text-indent -9999px
    position: relative

    &::after
      position: absolute
      top: 0
      left: 0
      display inline-block
      width: 200px
      content: attr(data-active-text)
      text-indent 0
      padding-left 10px

.numberResult
  position: relative
  border-radius: 10px
  box-shadow: 0 0 3.8px 0.2px rgba(35, 41, 50, 0.3)
  overflow: hidden
  display: flex
  justify-content center
  align-items center
  min-height: 230px
  width: 100%

  &__image
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    min-width: 100%
    min-height: 100%
    width: 0
    object-fit: cover
    opacity: .2
    z-index: 2

    &-wrapper
      position: absolute
      top: 0
      left: 0
      display: block
      width: 100%
      height: 100%
      background-color: #1c0d00
      z-index: 1

      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        display: block
        width: 100%
        height: 100%
        background-image: linear-gradient(to bottom, #ffffff, #ffc600)
        opacity: .2

  &__content
    margin: 15px
    display: inline-block
    position: relative
    z-index: 3
    +below(1220px)
      width: 95%

  &__sumBonus, &__paymentMethods
    display: flex

  &__sum
    color #fff
    width 225px
    display inline-block
    vertical-align middle
    +b(tablet)
      width 27%
    &Title
      color #fff
      font-size 14px
    &Value
      font-size 60px
      font-weight bold
      line-height normal
    &Icon
      display inline-block
      vertical-align middle
      height 35px
      width 30px
      & > svg
        width 100%
        height 100%
        fill #fff
    &Text 
      display inline-block
      vertical-align middle
      padding-left 15px
    &Link
      font-size 13px
      outline none
      color #fff
  &__payment
    display inline-block
    vertical-align middle 
    margin-left 47px
    border-left 1px solid #999
    border-right  1px solid #999
    padding-left 50px
    color #fff
    font-size 13px
    line-height 18px
    width 440px
    +b(tablet)
      width 50%
      padding-left 1%
      margin-left 2% 
    &Link
      display block
      margin-top 23px
      margin-bottom 23px
      font-size 13px
      outline none
      color #fff      
    &Icon
      display inline-block
      vertical-align middle
      height 35px
      width 30px
      & > svg
        width 100%
        height 100%
        fill #fff
    &Text 
      display inline-block
      vertical-align middle
      padding-left 15px
  
  &__buy
    display inline-block
    vertical-align middle
    +b(tablet)
      width 20%
    &Button 
      color #fff
      margin-left 45px
      width 260px
      +b(tablet)
        width 100%
        margin-left 0
      
.hotelsTours
  margin-top: 80px
  +b(mobile)
    margin-top 19px

  & .hotelsToursfilter__buttonMob
    display: none

    +b(mobile)
      display: block
      width: 100%
      height: 40px
      padding: 0
      margin-top 9px

  & > .section__title .pick-up
    +b(mobile)
      display: block
      margin: 0
      padding: 0
      color: #677e8a
      font-size: 22px
      line-height: 27px

    .dropdown__box
      padding: 10px
      text-align: center

      +b(mobile)
        min-width: calc(100% - 30px)
        margin-left: 15px

  &__sortingMob
    display none
    +b(mobile)
      display block
      margin-top 30px
    &Title
      display block
      margin-top: 20px
      font-weight bold
      color #000
      padding-right 30px
    &List
      margin-top 15px
      display block
      vertical-align middle
      & > li
        margin-top 10px
        margin-bottom 10px

  &__sorting
    display inline-block
    vertical-align middle
    margin-top: 26px
    margin-bottom 26px
    +below(1220px)
      width: 100%

    +b(mobile)
      display: none

    &Selectors
      position relative
      display inline-block
      vertical-align middle
      border-right 1px solid #e8e8e8
      height 30px
      +b(mobile)
        border-right none
        border-bottom: 1px solid #cccccc

        & > label
          right: 0

        & > select
          padding-left: 0
          padding-right: 0
          font-size: 14px
          color: #000000

      &.__food
        width 218px
        +below(1220px)
          width 33%
        +b(mobile)
          width 100%
        & > label
          position absolute
          z-index 1
          height 9px
          width 27px
          right 10px
          top 50%
          transform translateY(-50%)
          & > svg
            display block
            width 100%
            height 100%
            fill #457086
        & > select
          position relative
          z-index 2  
          color #000
          background none
          border none
      &.__typeNumbers
        width 260px
        +below(1220px)
          width 33%
        +b(mobile)
          width 100%
        & > label
          position absolute
          z-index 1
          height 9px
          width 27px
          right 10px
          top 50%
          transform translateY(-50%)
          & > svg
            display block
            width 100%
            height 100%
            fill #457086
        & > select
          position relative
          z-index 2  
          color #000
          background none
          border none
      &.__airCompanie
        width 240px
        +below(1220px)
          width 33%
        +b(mobile)
          width 100%
        & > label
          position absolute
          z-index 1
          height 9px
          width 27px
          right 10px
          top 50%
          transform translateY(-50%)
          & > svg
            display block
            width 100%
            height 100%
            fill #457086
        & > select
          position relative
          z-index 2  
          color #000
          background none
          border none
    &Switch
      display inline-block
      vertical-align middle
      width 400px
      padding-left 30px
      +below(1220px)
          display block
          margin 20px auto 0
      +b(mobile)
        display none
    &Title
      display inline-block
      vertical-align middle
      font-weight bold
      color #000
      padding-right 30px
    &List
      display inline-block
      vertical-align middle
    &ListItem
      display inline-block
      vertical-align middle
      & > a
        text-decoration none
        color #999
        padding 0 10px
        border-radius 12px
      &.active > a
        background #f4f4f4
        color #000
  &__tableMob
    margin-top: 20px
    display none
    +b(mobile)
      display block
      margin-top 22px
  &__table
    +b(mobile)
      display none
    &Titles
      display table
      height 50px
      border-top 1px solid rgba(204, 204, 204, .5)
      border-bottom 1px solid rgba(204, 204, 204, .5)
      color #999
    &Title
      display inline-block
      vertical-align middle
      display table-cell
      &:last-child
        text-align right
      &.__tour
        width 340px
      &.__duration
        width 195px
      &.__numbers
        width 200px
      &.__food
        width 161px
      &.__airCompanie
        width 162px
      &.__price
        width 58px
    &Cells
      display table
      padding-top 10px
    &Cell
      display table-cell
      vertical-align middle
      padding-top 30px
      padding-bottom 30px
      font-size 14px
      &:last-child
        text-align right
      &.__tour
        width 340px
      &.__duration
        width 195px
      &.__numbers
        width 200px
      &.__food
        width 161px
      &.__airCompanie
        width 162px
      &.__price
        width 61px
        color #24b3fd
        font-size 18px
        font-weight bold
    
.hotelsAround
  margin-top 40px
  margin-bottom 40px
  +b(mobile)
    display none
  &__title
    margin-bottom 50px
.sliderHotelsAround
  position relative
  height 357px
  +below(1220px)
    height 380px
  +b(mobile)
    height auto
  .slick-dots
    bottom: auto
    top: 100%
    margin-top: 15px
    button
      width: 16px
      height: 16px
      border: 2px solid $secondFontColor
  +b(mobile)
    .slick-dots {
      position: static
      margin: 0 0 17px 0
    }
  &__list
    +b(mobile)
      .sliderHotelsAround__list-item
        padding: 0 0 28px 0
        &:nth-child(n+4)
          display none
      .mob-hide {
        display: none
      }
      .card__rating-icon
        left 24px
      .card__bonuses
        display none
      .card__icon-heart
        margin-right 23px
      .card__content
        padding: 2px 23px 27px
      .card__rating
        margin-right 0
      .card__rating .card__rating-star
        margin-left 0
      .card__title
        border-bottom: 1px solid #898989
      .card__description
        display block
        padding 0
        margin-top 4px
      .card__description-icon
        margin-right 2px
    @media (min-width: 768px)
      &--tiles-view
        margin: 0 -15px
        display: flex
        flex-flow: row wrap
        clearfix()
        .sliderHotelsAround__list-item
          width: 33.3333%
          padding: 0 15px 30px
          &--wide
            width: 100%
            .help-card
              min-height: 191px
              &:before
                min-height: 191px
        .card
          &__img-box
            height: 115px
          &__country
            font-size: 11px
            line-height: 15px
          &__content
            padding: 4px 15px 18px
          h3
            font-size: 14px
            line-height: 20px
          &__rating
            font-size: 15px
            &-star
              width: 13px
              height: 13px
          &__title
            margin: 0
          &__description
            font-size: 14px
            &-icon
              width: 20px
              height: 20px
        .help-card
          padding: 0 12px
          min-height: 342px
          &:before
            min-height: 342px
      &--lines-view
        .sliderHotelsAround__list-item
          padding: 0 0 15px 0
          //@include clearfix
        .card
          position: relative
          &__img-box
            float: left
            width: 33.333%
            position: absolute
            height: 100%
            margin: 0 0 0 -15px
          &__price
            left: auto
            right: 0
          &__content
            float: right
            width: 66.6667%
            padding: 15px 30px 15px 15px
          &__tag
            &-box
              width: 50%
              float: right
              //text-align: right
          &__title
            padding-bottom: 4px
            margin: 0
          &__description
            font-size: 14px
            &-box
              width: 50%
              float: left
        .help-card
          min-height: 194px
          &:before
            min-height: 194px

.hotelsSimilar
  margin-top 40px
  margin-bottom 40px
  +b(mobile)
    display none
  &__title
    margin-bottom 50px
.sliderHotelsSimilar
  position relative
  height 415px
  .slick-dots
    bottom: auto
    top: 100%
    margin: 16px 0 0 0
    button
      width: 16px
      height: 16px
      border: 2px solid $secondFontColor
  +b(mobile)
    .slick-dots {
      position: static
      margin: 0 0 17px 0
    }
  &__list
    +b(mobile)
      .sliderHotelsSimilar__list-item {
        padding: 0 0 30px 0
      }
      .mob-hide {
        display: none
      }
    @media (min-width: 768px)
      &--tiles-view
        margin: 0 -15px
        display: flex
        flex-flow: row wrap
        clearfix()
        .sliderHotelsSimilar__list-item
          width: 33.3333%
          padding: 0 15px 30px
          &--wide
            width: 100%
            .help-card
              min-height: 191px
              &:before
                min-height: 191px
        .card
          &__img-box
            height: 115px
          &__country
            font-size: 11px
            line-height: 15px
          &__content
            padding: 4px 15px 18px
          h3
            font-size: 14px
            line-height: 20px
          &__rating
            font-size: 15px
            &-star
              width: 13px
              height: 13px
          &__title
            margin: 0
          &__description
            font-size: 14px
            &-icon
              width: 20px
              height: 20px
        .help-card
          padding: 0 12px
          min-height: 342px
          &:before
            min-height: 342px
      &--lines-view
        .sliderHotelsSimilar__list-item
          padding: 0 0 15px 0
          //@include clearfix
        .card
          position: relative
          &__img-box
            float: left
            width: 33.333%
            position: absolute
            height: 100%
            margin: 0 0 0 -15px
          &__price
            left: auto
            right: 0
          &__content
            float: right
            width: 66.6667%
            padding: 15px 30px 15px 15px
          &__tag
            &-box
              width: 50%
              float: right
              //text-align: right
          &__title
            padding-bottom: 4px
            margin: 0
          &__description
            font-size: 14px
            &-box
              width: 50%
              float: left
        .help-card
          min-height: 194px
          &:before
            min-height: 194px
            
.hotelsArticle
  position relative
  margin-top 40px
  margin-bottom 40px
  +b(mobile)
    display none
  &__title
    margin-bottom 50px
  &__wrapper
    position relative
  &__blockOpacity
    position absolute
    display block
    height 100px
    width 100%
    bottom 0
    background: rgba(255,255,255,0.61)
    background: linear-gradient(to bottom, rgba(255,255,255,0.12) 37%, rgba(255,255,255,0.87) 86%, rgba(255,255,255,1) 100%)
  &__content
    position relative
    max-height 210px
    overflow hidden
    transition all 0.6s ease-in-out
    &.__history
      min-height 728px
    &.active
      max-height: 2000px
      transition all 0.6s ease-in-out
  &__history-column
    float left
    width 46%
    margin-right 3%
    line-height 30px
    font-size 14px
  &__button
    display block
    margin 0 auto
    width auto
    padding: 12px 40px
.svg__compare
  display inline-block
  vertical-align middle
  fill #24b3fd
  padding: 4px
  width: 29px
  height: 28px
  &.__popup
    fill #fff
.svg__price
  display inline-block
  vertical-align middle
  fill #24b3fd
  width 20px
  height 20px
.svg__rating
  display inline-block
  vertical-align middle
  fill #24b3fd
  width 25px
  height 25px
  margin-right: 20px
  +b(tablet)
    margin-right 8%
    width 18px
    height 18px
  
.svg__wishlist
  display inline-block
  vertical-align middle
  fill #fff
  padding: 4px
  stroke #24b3fd
  stroke-width: 20
  width: 29px
  height: 28px
  &.__popup
    fill #24b3fd
    padding: 4px
    stroke #fff
.svg__close
  height 20px
  width 20px
  transform rotate(45deg)
.popup__compare
  position fixed
  display none
  background #24b3fd
  z-index 1000
  top 0
  left 0
  height 60px
  width 100%
  padding 8px 0
.popup__wishlist
  position fixed
  display none
  background #24b3fd
  z-index 1000
  top 0
  left 0
  height 60px
  width 100%
  padding 8px 0
.popup__title
  display inline-block
  vertical-align middle
  font-size 25px
  font-weight 300
  width 430px
  +below(1220px)
    width 400px
.popup__column
  display inline-block
  height 100%
  padding 8px 0
  color #fff
.popup__middle
  display inline-block
  vertical-align middle
  width 660px
  padding-left 56px
  border-left 1px solid #fff
  border-right 1px solid #fff
  +below(1220px)
    width 490px
.popup__link
  display inline-block
  vertical-align middle
  font-size 14px
  font-weight 300
  color #fff
  padding-left 10px
  
.popup__close
  display inline-block
  vertical-align middle
  width 30px
  text-align right
  margin-top 4px
  cursor pointer
.hotelsHeader
  padding 30px 0 10px

  +b(mobile)
    padding: 20px 0 10px

  &__column
    display inline-block
    vertical-align middle 
    &.__panel
      width 20%
      font-size 12px
      color #666666
      +b(mobile)
        display none  
    &.__title
      width 59%
      text-align center
      +b(mobile)
        width 100%
    &.__rating
      width 20%
      text-align right
      +b(tablet)
        width 18%
      +b(mobile)
        display none
  &__button-wishlist
    cursor pointer
    & > img
      display inline-block
      vertical-align middle
      // height 20px
      // width 20px
    & > span 
      display inline-block
      vertical-align middle
      padding-left 10px 
    &Mob
      display none
      cursor pointer
      +b(mobile)
        display block
        text-align center
        color #666666
        font-size 16px
        padding-top 8px
        padding-bottom 12px
        & > img
          display inline-block
          vertical-align middle
          // height 20px
          // width 20px
        & > span 
          display inline-block
          vertical-align middle
          padding-left 10px 
        
    
      
  &__button-compare
    cursor pointer
    & > span 
      display inline-block
      vertical-align middle
      padding-left 10px 
      
  &__value
    display inline-block
    vertical-align middle
    font-size 30px
    +b(tablet)
      font-size 20px
  &__nameHotel
    font-family 'Roboto'
    font-weight 300
    line-height normal
    font-size 40px
    color #24b3fd
    +b(mobile)
      font-size 30px
  &__geo
    font-family 'Roboto'
    font-weight 300
    color #acadaf
    font-size 14px
    +b(mobile)
      font-size 12px
  &__priceMob
    display none
    +b(mobile)
      display block
      text-align center
      font-size 24px
      font-weight bold
      margin-top 10px

.filter__buttonMob
  display none
  +b(mobile)
    width 100%
    display block
    margin-top 16px
    margin-bottom 20px
    height: 40px
    padding: 0

.hotelsBonusdetail,
.hotelsAddtofavorite
  display none