@import '../base/mixins&includes.styl'

.personal-area
  display: block

  &__profile, &__request
    margin: 0 auto 65px
    display: block
    width: 585px

  &__no-orders
    display: flex
    justify-content: space-between
    margin-bottom: 65px

    &-image-grid
      width: 360px

    &-tour
      display: block
      margin-top: 100px
      width: 295px

    &-heading
      font-family: "Roboto", "Open Sans", sans-serif
      font-size: em(26px, 14px)
      line-height: .84
      color: #252525
      text-align: center

      &::after
        content: ''
        display: block
        margin: 22px auto 0
        width: 62%
        height: 1px
        background-color: #000000

    &-button
      display: flex
      justify-content: center
      align-items: center
      margin: 76px auto 0
      padding: 0
      width: 263px
      min-height: 85px
      font-size: em(30px, 14px)
      font-weight: 700

  &__favorites
    display: flex
    margin-bottom: 65px

    &-catalog
      flex: 1

    &-sidebar
      width: 263px
      margin-left: 30px

    &-banner
      position: relative
      display: block
      width: 100%
      height: 341px
      box-shadow: 0 0 3.8px .2px rgba(35, 41, 50, .3)
      border-radius: 10px
      overflow: hidden

      &-image
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        margin: auto
        min-width: 100%
        min-height: 100%
        width: 0
        object-fit: cover
        z-index: 1

      &:not(:last-child)
        margin-bottom: 20px

  &__tourists
    display: block
    margin-bottom: 50px

    &-content
      margin-bottom: 40px
      padding: 54px 0
      border-top: 1px solid #b9b9b9
      border-bottom: 1px solid #b9b9b9

    &-add
      display: block
      text-align: center
      font-size: em(16px, 14px)

  &__required
    font-size: em(12px, 14px)
    color: #999

    & > span
      color: #fd2424

  &__checkbox
    display: flex
    align-items: center

    &-box
      display: block
      width: 12px
      height: 12px
      border-radius: 1px
      border: 1px solid #b9b9b9
      background-color: transparent
      transition: all .25s ease-in-out
      flex-shrink: 0

    &-control
      display: none

      :checked + ^[1]-box
       background-color: #24b3fd
       border-color: transparent

    &-text
      display: block
      margin-top: -4px
      margin-left: 10px
      font-size: em(12px, 14px)
      color: #252525
      line-height: 1.333
      text-align: left
      transition: all .25s ease-in-out

      +b(mobile)
        margin-left: 26px

  &__link
    color: #000
    font-weight: 700
    text-decoration: underline dashed

  &__select
    position: relative
    display: flex
    align-items: center
    flex: 1
    padding: 0 12px
    height: 40px
    border-radius: 5px
    border: 1px solid #ddd
    font-size: em(16px, 14px)
    color: #000
    font-weight: 700
    transition: all .25s ease-in-out

    &:focus
      border-color: #748893
      font-weight: 400

    &-field
      display: block
      border: 0
      padding: 0 22px 0 0
      margin: 0
      background-color: transparent
      outline: none
      appearance: none

    &-icon
      position: absolute
      top: 50%
      display: block
      pointer-events: none
      right: 12px
      transform: translateY(-50%)
      width: 10px
      height: 6px
      fill: #748893

  &__field
    display: flex
    align-items: center

    &-text
      padding-left: 30px
      font-size: em(18px, 14px)
      color: #000

    &_default
      flex-direction: column
      align-items: flex-start

      & ^[0]__label
        margin-bottom: 10px
        flex: 1

    &_labelless
      padding-left: 225px

    &:not(:last-child)
      margin-bottom: 20px

  &__label
    flex: 0 0 200px
    margin-right: 25px
    font-size: em(16px, 14px)
    color: #000
    text-align: right

    &_size_small
      font-size: em(12px, 14px)
      color: #999

    & > span
      color: #fd2424

  &__text-field, &__text-area
    display: flex
    align-items: center
    flex: 1
    padding: 0 12px
    height: 40px
    border-radius: 5px
    border: 1px solid #ddd
    font-size: em(16px, 14px)
    color: #000
    font-weight: 700
    transition: all .25s ease-in-out

    &:focus
      border-color: #748893
      font-weight: 400

  &__text-area
    height: 170px
    padding: 12px

.personal-area-nav
  position: relative
  display: block
  width: 100%

  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    display: block
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .28)
    z-index: 2

  &__image
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    min-width: 100%
    min-height: 100%
    width: 0
    object-fit: cover
    z-index: 1

  &__content
    position: relative
    display: flex
    min-height: 114px
    z-index: 3

  &__bonuses
    display: flex
    flex-direction: column
    align-self: center
    margin-right: 63px

    &-column
      display: flex

    &-icon
      width: 54px
      height: 49px
      fill: #fff
      margin-right: 18px

    &-text
      color: #fff
      font-size: em(20px, 14px)
      font-weight: 700

      &_size_lg
        font-size: em(40px, 14px)

  &__items
    display: flex
    justify-content: space-between
    align-items: center
    padding-left: 74px
    width: 100%
    border-left: 1px solid rgba(255, 255, 255, .5)

  &__item
    display: block

    &_active

      & ^[0]__link
        padding: 4px 19px
        background-color: #f0f0f0
        border-radius: 10px
        color: #000
        text-decoration: none

        &:hover
          color: #000

  &__link
    font-size: em(18px, 14px)
    font-weight: 700
    color: #fff
    text-decoration: underline dashed
    line-height: 1

    &:hover
      color: #fff
      text-decoration: none
      transition: .25s ease-in-out
      opacity: .8

.personal-area-section
  display: block
  margin-top: 63px

  &__heading
    display: block
    font-size: em(25px, 14px)
    font-weight: 700
    color: #07405e
    text-align: center

  &__content
    display: block
    margin-top: 25px

.personal-area-tourist
  display: block

  &:not(:last-of-type)
    margin-bottom: 54px

  &__header
    display: flex
    justify-content: space-between

  &__title
    font-family: "Open Sans Light", "Open Sans", sans-serif
    font-weight: 300
    font-size: em(20px, 14px)
    color: #07405e
    text-transform: uppercase

  &__controls
    display: flex
    align-items: flex-end

  &__button
    display: flex
    align-items: center
    color: #24b3fd
    cursor: pointer
    background-color: transparent
    border: 0
    margin: 0
    padding: 0
    transition: .25s ease-in-out

    &:hover, &:active, &:focus
      background-color: transparent
      cursor: pointer
      color: #24b3fd
      opacity: .8

    &:disabled
      color: #999
      background: transparent

      .personal-area-tourist__button-icon
        fill: #999

    &:not(:last-child)
      margin-right: 60px

    &-icon
      display: block
      fill: #24b3fd
      transition: .25s ease-in-out

      &_check
        width: 18px
        height: 18px

      &_delete
        width: 15px
        height: 17px

    &-text
      font-size: em(16px, 14px)
      font-weight: 700
      margin-left: 6px

  &__form
    display: flex
    flex-direction column
    justify-content: space-between
    margin-top: 20px
    padding: 27px 17px
    box-shadow: 0 0 3.8px 0.2px rgba(35, 41, 50, .3)
    border-radius: 10px

    .personal-area__field
      margin-bottom: 0

      & > input
        flex-basis: auto

  &__row
    display: flex
    justify-content: space-between

    &:not(:last-child)
      margin-bottom: 18px

  &__text
    display: block
    margin-top: 15px
    color: #999999
    font-size: em(12px, 14px)


.personal-area-image-grid
  display: flex
  width: 100%
  flex-direction: column

  &__row
    display: flex

  &__column
    position: relative
    display: block
    flex: 1
    height: 180px
    box-shadow: 0 0 3.8px .2px rgba(35, 41, 50, .3)
    overflow: hidden

    &_half_width
      flex: 0 0 50%

    &_push_right
      margin-left: auto

    for angle in 'top-left' 'top-right' 'bottom-left' 'bottom-right'
      &_round_{angle}
        border-{angle}-radius: 5px

  &__image
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    min-width: 100%
    min-height: 100%
    width: 0
    height: 0
    object-fit: cover
    z-index: 1