@import '../base/mixins&includes.styl'

.personal-area
  display: block

  .interactive-stars
    +b(mobile)
      width: 100%
      justify-content: space-between

  &__profile, &__request
    margin: 0 auto 65px
    display: block
    width: 585px

    +b(mobile)
      width: 100%

      .button
        display: flex
        justify-content: center
        align-items: center
        padding: 0
        width: 100%
        height: 40px

  &__profile_agent
    width: 100%

    .filter__li
      text-align: center

  &__orders-detail
    display: block
    margin-bottom: 65px

    .about-tour
      margin-bottom: 54px

    & ^[0]-tourist:first-of-type
      margin-top: 54px

      +b(mobile)
        margin-top: 20px

  &__orders
    display: block
    margin-bottom: 65px

    .about-tour__tickets-list
      flex-direction: column
      justify-content: space-between
      margin: 0
      width: 100%
      height: 100%

    .about-tour__tickets-item
      width: 100%

    .card
      width: 100%

    .card__img-box
      height: 134px

    .card__price
      font-size: em(16px, 14px)

      +b(mobile)
        font-size: 1em
        padding-right: 15px

    .card__description-box
      display: flex

      +b(mobile)
        flex-direction: column
        border-top: 1px solid #000
        border-bottom: 1px solid #000
        padding-bottom: 7px

    .card__links
      padding: 14px 0
      text-align: center

      & > .button
        margin-top: 6px
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 40px
        color: #ffffff

    .card__description
      margin-top: 15px
      margin-right: 10px

      +b(mobile)
        display: block
        margin: 0

        &:not(:first-child)
          padding-top: 0

      &:first-child
        margin-right: 55px

      &:last-child
        margin-left: auto
        margin-right: 0

      & > span
        display: block

      & > .button
        display: flex
        align-items: center
        padding: 0 24px
        height: 40px
        color: #ffffff

  &__no-orders
    display: flex
    justify-content: space-between
    margin-bottom: 65px

    &-image-grid
      width: 360px

      +b(mobile)
        display: none

    &-tour
      display: block
      margin-top: 100px
      width: 295px

      +b(mobile)
        width: 100%
        margin-top: 10px

    &-heading
      font-family: "Roboto", "Open Sans", sans-serif
      font-size: em(26px, 14px)
      line-height: .84
      color: #252525
      text-align: center

      +b(mobile)
        padding: 0 15px
        font-size: em(22px, 14px)

      &::after
        content: ''
        display: block
        margin: 22px auto 0
        width: 62%
        height: 1px
        background-color: #000000

    &-button
      display: flex
      justify-content: center
      align-items: center
      margin: 76px auto 0
      padding: 0
      width: 263px
      min-height: 85px
      font-size: em(30px, 14px)
      font-weight: 700

      +b(mobile)
        margin-top: 30px
        width: 100%
        min-height: 40px
        font-size: em(16px, 14px)

  &__favorites
    display: flex
    margin-bottom: 65px

    &-catalog
      flex: 1

      +b(mobile)
        flex: initial
        width: 100%

    &-sidebar
      width: 263px
      margin-left: 30px

      +b(mobile)
        display: none

    &-banner
      position: relative
      display: block
      width: 100%
      height: 341px
      box-shadow: 0 0 3.8px .2px rgba(35, 41, 50, .3)
      border-radius: 10px
      overflow: hidden

      &-image
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        margin: auto
        min-width: 100%
        min-height: 100%
        width: 0
        object-fit: cover
        z-index: 1

      &:not(:last-child)
        margin-bottom: 20px

  &__tourists
    display: block
    margin-bottom: 50px

    +b(mobile)
      margin-bottom: 20px

    &-content
      margin-bottom: 40px
      padding: 54px 0
      border-top: 1px solid #b9b9b9
      border-bottom: 1px solid #b9b9b9

      +b(mobile)
        margin-bottom: 20px
        padding: 20px 0

    &-add
      display: block
      text-align: center
      font-size: em(16px, 14px)

      +b(mobile)
        margin-bottom: 50px

  &__required
    font-size: em(12px, 14px)
    color: #999

    & > span
      color: #fd2424

  &__checkbox
    display: flex
    align-items: center

    &-box
      display: block
      width: 12px
      height: 12px
      border-radius: 1px
      border: 1px solid #b9b9b9
      background-color: transparent
      transition: all .25s ease-in-out
      flex-shrink: 0

    &-control
      display: none

      :checked + ^[1]-box
       background-color: #24b3fd
       border-color: transparent

    &-text
      display: block
      margin-top: -4px
      margin-left: 10px
      font-size: em(12px, 14px)
      color: #252525
      line-height: 1.333
      text-align: left
      transition: all .25s ease-in-out

      +b(mobile)
        margin-left: 26px

  &__link
    color: #000
    font-weight: 700
    text-decoration: underline dashed

    +b(mobile)
      padding: 15px 0 !important
      display: block !important
      width: 100% !important
      font-size: em(16px, 14px) !important
      text-align: center !important
      text-decoration: underline dashed !important

  &__select
    position: relative
    display: flex
    align-items: center
    flex: 1
    padding: 0 12px
    height: 40px
    border-radius: 5px
    border: 1px solid #ddd
    font-size: em(16px, 14px)
    color: #000
    font-weight: 700
    transition: all .25s ease-in-out

    +b(mobile)
      width: 100%
      min-height: 40px

    &:focus
      border-color: #748893
      font-weight: 400

    &-field
      display: block
      border: 0
      padding: 0 22px 0 0
      margin: 0
      background-color: transparent
      outline: none
      appearance: none

    &-icon
      position: absolute
      top: 50%
      display: block
      pointer-events: none
      right: 12px
      transform: translateY(-50%)
      width: 10px
      height: 6px
      fill: #748893

  &__field
    display: flex
    align-items: center
    flex: 1

    +b(mobile)
      flex-direction: column
      align-items: flex-start

    &-text
      padding-left: 30px
      font-size: em(18px, 14px)
      color: #000

      +b(mobile)
        display: none

    &_default
      flex-direction: column
      align-items: flex-start

      +b(mobile)
        &:not(:last-child)
          margin-bottom: 18px !important

      & ^[0]__label
        margin-bottom: 10px
        flex: 1

        +b(mobile)
          margin-bottom: 0

    &_labelless
      padding-left: 225px

      +b(mobile)
        padding-left: 0

    &:not(:last-child)
      margin-bottom: 20px

  &__label
    flex: 0 0 200px
    margin-right: 25px
    font-size: em(16px, 14px)
    color: #000
    text-align: right

    +b(mobile)
      display: block
      flex: 0
      text-align: left
      margin-bottom: 10px
      margin-right: 0
      font-size: 1em
      color: #252525

    &_size_small
      font-size: em(12px, 14px)
      color: #999

    & > span
      color: #fd2424

  &__text-field, &__text-area
    display: flex
    align-items: center
    flex: 1
    padding: 0 12px
    height: 40px
    border-radius: 5px
    border: 1px solid #ddd
    font-size: em(16px, 14px)
    color: #000
    font-weight: 700
    transition: all .25s ease-in-out

    +b(mobile)
      width: 100%
      min-height: 40px

    &:focus
      border-color: #748893
      font-weight: 400

  &__text-area
    height: 170px
    padding: 12px

    +b(mobile)
      height: 75px

.personal-area-nav-mobile
  position: fixed
  display: none
  bottom: 0
  left: 0
  z-index: 100
  width: 100%
  height: 30px
  box-shadow: 0 0 3.8px .2px rgba(35, 41, 50, .3)

  +b(mobile)
    display: flex

  &__item
    display: block
    background-color: #24b3fd
    flex: 1

    &:not(:last-child)
      border-right: 1px solid #fff

    &_active
      border: 0
      background-color: #ffffff

      & ^[0]__icon
        fill: #24b3fd

        & > *
          fill: #24b3fd

      & ^[0]__icon_heart
        fill: transparent
        stroke: #24b3fd

        & > *
          fill: transparent
          stroke: #24b3fd

  &__link
    display: flex
    justify-content: center
    align-items: center
    padding: 2px 0
    width: 100%
    height: 100%
    text-decoration: none

  &__icon
    fill: #fff

    & > *
      fill: #fff

    &_bag
      width: 23px
      height: 19px

    &_heart
      width: 21px
      height: 18px

      & > *
        fill: transparent
        stroke: #fff
        stroke-width: 1

    &_list
      width: 16px
      height: 29px

    &_user
      width: 17px
      height: 20px

    &_users
      width: 23px
      height: 23px

    &_percent
      width: 24px
      height: 24px

.personal-area-nav
  position: relative
  display: block
  width: 100%

  +b(mobile)
    display: none

  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    display: block
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .28)
    z-index: 2

  &__image
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    min-width: 100%
    min-height: 100%
    width: 0
    object-fit: cover
    z-index: 1

  &__content
    position: relative
    display: flex
    min-height: 114px
    z-index: 3

  &__master-web
    display: flex
    align-items: center
    align-self: center
    padding: 0 38px
    margin-right: 63px
    height: 40px

  &__bonuses
    display: flex
    flex-direction: column
    align-self: center
    margin-right: 63px

    &-column
      display: flex

    &-icon
      width: 54px
      height: 49px
      fill: #fff
      margin-right: 18px

    &-text
      color: #fff
      font-size: em(20px, 14px)
      font-weight: 700

      &_size_lg
        font-size: em(40px, 14px)

  &__items
    display: flex
    justify-content: space-between
    align-items: center
    padding-left: 74px
    width: 100%
    border-left: 1px solid rgba(255, 255, 255, .5)

  &__item
    display: block

    &_active

      & ^[0]__link
        padding: 4px 19px
        background-color: #f0f0f0
        border-radius: 10px
        color: #000
        text-decoration: none

        &:hover
          color: #000

  &__link
    font-size: em(18px, 14px)
    font-weight: 700
    color: #fff
    text-decoration: underline dashed
    line-height: 1

    &:hover
      color: #fff
      text-decoration: none
      transition: .25s ease-in-out
      opacity: .8

.personal-area-section
  display: block
  margin-top: 63px

  +b(mobile)
    margin-top: 25px

  &__header
    position: relative
    justify-content: center
    align-items: flex-end
    display: flex

    +b(mobile)
      flex-direction: column

  &__back
    position: absolute
    bottom: 0
    left: 0
    display: flex
    align-items: center
    text-decoration: none
    transition: .25s ease-in-out

    +b(mobile)
      position: static
      margin-bottom: 18px
      padding: 0 15px
      width: calc(100% + 30px)
      height: 40px
      background-color: #f4f4f4
      transform: translateX(15px)

    &:hover
      opacity: .8

    &-icon
      width: 10px
      height: 5px
      fill: #748893
      transform: rotate(90deg)

      +b(mobile)
        width: 14px
        height: 8px

    &-text
      padding-left: 11px
      font-family: "Open Sans Light", "Open Sans", sans-serif
      font-weight: 300
      font-size: 1em
      color: #999999

      +b(mobile)
        font-size: em(16px, 14px)
        color: #677e8a
        font-family: "Open Sans", sans-serif
        font-weight: 400

  &__heading
    display: block
    font-size: em(25px, 14px)
    font-weight: 700
    color: #07405e
    text-align: center

    +b(mobile)
      width: 100%
      font-size: em(18px, 14px)

    &_align_left
      text-align: left

  &__content
    display: block
    margin-top: 25px

.personal-area-tourist
  display: block

  &:not(:last-of-type)
    margin-bottom: 54px

    +b(mobile)
      margin-bottom: 40px

  &__header
    display: flex
    justify-content: space-between

    .personal-area-tourist__controls
      +b(mobile)
        display: none

  &__title
    font-family: "Open Sans Light", "Open Sans", sans-serif
    font-weight: 300
    font-size: em(20px, 14px)
    color: #07405e
    text-transform: uppercase

  &__controls
    display: flex
    align-items: flex-end

    +b(mobile)
      width: 100%
      justify-content: space-between
      margin-top: 30px

  &__button
    display: flex
    align-items: center
    color: #24b3fd
    cursor: pointer
    background-color: transparent
    border: 0
    margin: 0
    padding: 0
    transition: .25s ease-in-out

    &:hover, &:active, &:focus
      background-color: transparent
      cursor: pointer
      color: #24b3fd
      opacity: .8

    &:disabled
      color: #999
      background: transparent

      .personal-area-tourist__button-icon
        fill: #999

    &:not(:last-child)
      margin-right: 60px

    &-icon
      display: block
      fill: #24b3fd
      transition: .25s ease-in-out

      &_check
        width: 18px
        height: 18px

      &_delete
        width: 15px
        height: 17px

    &-text
      font-size: em(16px, 14px)
      font-weight: 700
      margin-left: 6px

  &__form
    display: flex
    flex-direction column
    justify-content: space-between
    margin-top: 20px
    padding: 27px 17px
    box-shadow: 0 0 3.8px 0.2px rgba(35, 41, 50, .3)
    border-radius: 10px

    +b(mobile)
      padding: 0
      box-shadow: none

    .personal-area__field
      margin-bottom: 0

      & > input
        flex-basis: auto

  &__row
    display: flex
    justify-content: space-between

    +b(mobile)
      flex-direction: column

    &:not(:last-child)
      margin-bottom: 18px

      +b(mobile)
        margin-bottom: 0

  &__text
    display: block
    margin-top: 15px
    color: #999999
    font-size: em(12px, 14px)

    &-field
      display: block
      color: #000
      font-size: em(16px, 14px)
      font-weight: 700

.personal-area-image-grid
  display: flex
  width: 100%
  flex-direction: column

  +b(mobile)
    display: none

  &__row
    display: flex

  &__column
    position: relative
    display: block
    flex: 1
    height: 180px
    box-shadow: 0 0 3.8px .2px rgba(35, 41, 50, .3)
    overflow: hidden

    &_half_width
      flex: 0 0 50%

    &_push_right
      margin-left: auto

    for angle in 'top-left' 'top-right' 'bottom-left' 'bottom-right'
      &_round_{angle}
        border-{angle}-radius: 5px

  &__image
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    min-width: 100%
    min-height: 100%
    width: 0
    height: 0
    object-fit: cover
    z-index: 1

.personal-area-order
  display: block

  &:not(:last-child)
    margin-bottom: 55px

    +b(mobile)
      margin-bottom: 35px

  &__heading
    display: block
    padding-bottom: 15px
    border-bottom: 1px solid #b9b9b9
    font-family: "Open Sans Light", "Open Sans", sans-serif
    font-weight: 300
    font-size: em(20px, 14px)
    color: #07405e
    text-transform: uppercase

    +b(mobile)
      font-size: em(18px, 14px)

  &__items
    display: flex
    justify-content: space-between
    margin-top: 15px

    +b(mobile)
      flex-direction: column

  &__item
    display: flex
    width: 555px
    min-height: 292px

    +b(mobile)
      width: 100%
      margin-bottom: 25px
      height: 173px

  &__banner
    position: relative
    display: block
    width: 100%
    height: 100%
    box-shadow: 0 0 3.8px .2px rgba(35, 41, 50, .3)
    background-color: #000000
    border-radius: 10px
    overflow: hidden
    text-decoration: none

    &_with_overlay &-image
      opacity: .62

    &-image
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin: auto
      min-width: 100%
      min-height: 100%
      width: 0
      object-fit: cover
      z-index: 1

    &-content
      position: relative
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 100%
      padding: 15px
      font-size: em(16px, 14px)
      font-weight: 700
      text-align: center
      color: #ffffff
      text-transform: uppercase
      z-index: 2

.personal-area-payment
  display: block

  &__container
    position: relative
    display: block
    width: 100%
    margin-top: 30px
    background-color: #07405e
    box-shadow: 0 0 3.8px .2px rgba(35, 41, 50, .3)
    border-radius: 10px
    overflow: hidden

    +b(mobile)
      margin-top: 20px
      border-radius: 0
      width: calc(100% + 30px)
      transform: translateX(-15px)

  &__image
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    min-width: 100%
    min-height: 100%
    width: 0
    object-fit: cover
    opacity: .35

  &__content
    position: relative
    display: flex
    width: 100%
    min-height: 244px
    padding: 19px
    z-index: 1
    color: #fff

    +b(mobile)
      flex-direction: column
      padding: 30px 14px

  &__column
    display: flex
    justify-content: center
    align-items: center
    flex: 1

    +b(mobile)
      justify-content: flex-start
      align-items: flex-start
      flex-direction: column

    &_align_left
      justify-content: flex-start

    &:first-of-type
      flex: 0 0 488px
      border-right: 1px solid #fff

      +b(mobile)
        flex: 0
        width: 100%
        border-right: 0
        border-bottom: 1px solid #fff

  &__price
    display: block

    +b(mobile)
      margin-bottom: 15px

    &-heading
      display: block
      font-size: 1em
      line-height: 1

      +b(mobile)
        margin-bottom: 5px

    &-sum
      display: block
      font-size: em(60px, 14px)
      font-weight: 700
      line-height: 1

      +b(mobile)
        font-size: em(30px, 14px)

  &__detail
    display: flex
    padding: 15px 0
    height: 100%
    flex-direction: column
    justify-content: space-between

    +b(mobile)
      padding-bottom: 0

    &-text::not(:first-child)
      +b(mobile)
        padding-top: 0

    &-text::not(:last-child)
      margin-bottom: 5px

      +b(mobile)
        margin: 0

    &_default
      justify-content: flex-start
      height: auto

      +b(mobile)
        width: 100%
        flex-direction: column

      &:first-child
        margin-left: 63px

        +b(mobile)
          margin: 0

      &:not(:last-child)
        margin-right: 95px

        +b(mobile)
          margin: 0

      & ^[0]__detail-text:not(:last-child)
        +b(mobile)
          margin-bottom: 10px