@import '../base/mixins&includes.styl'

.regionCountry
  position relative
  margin 50px 0 5px
  &__inner
    padding 40px 0
    text-align center
  &__column
    position: relative
    col(1/4)
    float none
    display inline-block
    margin-right 2%
    height 180px
    border-radius 12px
    overflow: hidden

    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      display: block
      width: 100%
      height: 100%
      background-color: rgba(0, 0, 0, .4)
      z-index: 2

    &:hover .regionCountry__bg
      min-width: 110%
      min-height: 110%

    +b(mobile)
      col(1)
      margin-top 20px

      &:hover .regionCountry__bg
        min-width: 100%
        min-height: 100%

  &__bg
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    min-width: 100%
    min-height: 100%
    width: 0
    object-fit: cover
    z-index: 1
    transition: all .5s ease-in-out
    transform: translate3d(0)
  &__name
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    position: relative
    color #fff
    font-family 'Roboto'
    font-weight bold
    font-size 25px
    z-index: 3
    text-transform uppercase
.regionArticle
  &__content
    margin-top 20px
    margin-bottom 20px
    overflow hidden
  &__text
    col(8/12)
    +b(mobile)
      col(1)
      margin-top 20px
    &Title
      display block
      text-align center
      font-family 'Roboto'
      font-size 26px   
      & > span
        &:after
          content ''
          display block
          height 1px
          width 30%
          margin 30px auto
          border-bottom 1px solid #000
        
    &Description
      font-family 'Roboto'
      font-size 14px
      line-height: 22px
      padding-right 12.5%
  &__images
    col(4/12)
    +b(mobile)
      col(1)
      margin-top 20px
  &__image
    margin-bottom 30px
    width 100%
    height auto
  &__border
    display table
    col(5/12)
    position relative
    margin-top 50px
    border-radius 12px
    border 7px solid #24b3fd
    height 300px
    +b(mobile)
      col(1)
      margin-top 20px
    &Text      
      padding 85px 10px 0
      & > span
        font-size: 26px;
        font-weight: normal;
        font-family: Roboto;
        display block
        line-height normal
        text-align center
        &:after
          content ''
          display block
          height 1px
          width 30%
          margin 30px auto
          border-bottom 1px solid #000
    &Quotes
      position absolute      
      height 40px
      width 60px
      & > svg
        padding 0 5px
        background #fff
        width 100%
        height 100%
        fill #24b3fd        
      &.__top
        top 0
        left 10%
        transform translateY(-50%) rotate(180deg)
      &.__bottom
        bottom 0
        right 10%
        transform translateY(50%)
  &__text-2
    col(7/12)
    +b(mobile)
      col(1)
      margin-top 20px
    
    
.regionHotelsSlider
  margin-bottom 30px
  &__title
    margin-bottom 23px

#specialOffers__map
  height 530px
  width 100%
  
.otherRegions
  margin-top 41px
  margin-bottom 50px

  &__slider
    position: relative
    display: block
    height: 201px
    
    &-wrapper
      position: relative
      margin-top: 40px

  &__button
    position: absolute
    top: 50%
    transform: translateY(-50%)
    display: block
    padding: 9px 9px 9px 10px
    width: 33px
    height: 44px
    background-color: rgba(7, 64, 94, .75)
    z-index 3
    cursor: pointer
    transition background .25s ease-in-out

    &:hover
      background-color: rgba(7, 64, 94, 1)

    &-icon
      display: block
      width: 15px
      height: 26px
      fill: #fff

    &_prev
      left: 0
      border-radius: 0 5px 5px 0

    &_next
      right: 0
      border-radius: 5px 0 0 5px

  &__item
    position: relative
    width: 100%
    border-radius: 10px
    background-color: #000
    overflow: hidden

    &:hover .otherRegions__image
      min-width: 110%
      min-height: 110%
      opacity: .3

    +b(mobile)
      &:hover .otherRegions__image
        min-width: 100%
        min-height: 100%
        opacity: .8

  &__image
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    min-width: 100%
    min-height: 100%
    width: 0
    object-fit: cover
    z-index: 1
    opacity: .8
    transition: all .5s ease-in-out
    transform: translate3d(0)

  &__name
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    font-size: 25px
    font-weight: 700
    color: #fff
    z-index: 2
    text-decoration: none
    text-transform: uppercase

    &:hover
      color: #fff


.contactForm
  position relative
  background url('../images/bg/contactform.jpg') no-repeat 50%
  +b(mobile)
    background-size cover
  &__inner
    margin-left 9.4%
    margin-right 8.6%
    padding-bottom 52px
    padding-top 48px
    +b(mobile)
      margin-left 0
      margin-right 0
      padding-top 26px
      padding-bottom 26px
      margin-bottom 24px
      
  &__textTitle
    display block
    color #fff
    text-align center
    font-family 'Roboto'
    font-size 25px 
    font-weight 700
    +b(mobile)
      font-size 18px
    & > span
      &:after
        content ''
        display block
        height 1px
        width 30%
        margin 30px auto 25px
        border-bottom 1px solid #fff
        +b(mobile)
          width 72%
          margin 20px auto 16px
    &_nounderline
      margin 10px 0 48px
      +b(mobile)
        margin 4px 0 11px
        font-size 25px
      & span::after 
        display none  
  &__description
    display: block
    color #fff
    text-align center
    font-size 14px
    margin-bottom 47px
    +b(mobile)
      margin-bottom 0
      font-size 12px
  &__row
    margin-top 27px
    overflow hidden
    padding-left 57px
    +b(mobile)
      padding-left 0
      margin-top 8px
    &:last-child
      padding-left 0
  &__input
    col(1/3)
    width 30%
    margin-right 3%
    &:last-child
      margin-left 4%
      +b(mobile)
        margin-left 0
    +b(mobile)
      col(1)  
      margin-top 10px
      margin-bottom 11px
    & > label
      font-size 16px
      color #fff
      margin-bottom 10px
      +b(mobile)
        font-size 14px
      & > span
        color #fd2424
    & > input
      height 40px
      border-radius 4px
      border 1px solid #fff
      background rgba(10,45,64,0.5)
      color #fff

      &:placeholder
        opacity: 1

      &:focus
        color: #333
  &__textarea
    width 100%
    +b(mobile)
      margin-bottom 16px
    & > label
      font-size 16px
      color #fff
      margin-bottom 10px
      +b(mobile)
        font-size 14px
    & > textarea
      width 100%
      height 80px
      border-radius 4px
      border 1px solid #fff
      background rgba(10,45,64,0.5)
      +b(mobile)
        height 64px
      &:focus
        background #fff
  &__button
    width auto
    padding 12px 36px
    text-align center
    margin: 0 auto;
    display: block;
    +b(mobile)
      width 100%
    
    
