.l-about
  
  
  .b-about.container
    h2.b-about__title О компании
    .b-about__info
      .row
        .b-about__left.__1
          .b-about__images
        .b-about__right.__2
          p.b-about__name Компания Pennville Holdings Limited
          p.b-about__text Основная сфера деятельности компании — проектное управление недвижимостью.
          p.b-about__text   Результаты нашей работы продемонстрировали высокий потенциал компании и позволили зарекомендовать себя в качестве профессионалов на рынке услуг управленческого консалтинга.
          p.b-about__text   Компания предоставляет широкий диапазон услуг комплексного управления: от управления бизнесом на основании передачи функции единоличного исполнительного органа до сопровождения бизнеса, которое включает юридические, финансовые, бухгалтерские и инженерные услуги. Также мы специализируемся в области налогового консалтинга, представления интересов клиентов в суде, подготовки управленческой и финансовой отчетности, разработки и контроля выполнения бюджетов, управления объектами недвижимости.
      
