include ../helpers/bem

block config
- var config = {}

doctype html
html(lang="ru-RU")
  head
    meta(charset='utf-8')
    title #{config.title || 'Maldiva'}
    meta(name="description" content="")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    
    //- link(rel='stylesheet', href="./css/bootstrap.css")
    link(rel='stylesheet', href="./css/widgets.css")
    link(rel='stylesheet', href="./css/style.css")    
    script(type="text/javascript" src="javascripts/vendor/jquery-1.11.3.min.js")
    script(type="text/javascript" src="javascripts/vendor/jquery-ui.min.js")
    //- link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet") 
    
    //- link(href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700" rel="stylesheet")
    
    block styles
    
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")  
    //- | <script>window.Modernizr || document.write('<script src="javascripts/vendor/modernizr-2.8.3.min.js"><\/script>')</script>
    //- | <!--[if lt IE 9]>
    //- |   <script src="javascripts/vendor/IE9.js"></script>
    //- | <![endif]-->
  body
    | <!--[if IE]>
    |  <div class="browsehappy">
    |    <p>
    |      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.
    |    </p>
    |  </div>
    | <![endif]-->
    
    block content
    
    
    script(type="text/javascript" src="./javascripts/vendor/widgets.js")
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBkc2YUNDMaLs-nD3ypfYNMuQjHtkg1ng&callback=initMap")
    script(type="text/javascript" src="./javascripts/vendor/infobox.js")
    script(type="text/javascript" src="./javascripts/vendor/richmarker.js")
    script(type="text/javascript" src="./javascripts/vendor/functions.js")
    //- script(src="javascripts/main.js")
    script(type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
    script(type="text/javascript" src="https://yastatic.net/share2/share.js" async="async")



    

        
    block scripts
    
    