.l-consultate
  .b-consultate.container
    .b-consultate__left.__1
      h2.b-consultate__title text
      p.b-consultate__text  Lorem ipsum dolor sit amet.
    .b-consultate__right.__2
      form.b-consultate__form
        input.b-consultate__input(type="text")
        input.b-consultate__input(type="text")
        input.b-consultate__input(type="text")
        button.b-consultate__btn submit