ul.simple-slider.feedback__list2
  li.simple-slider__item
    .feedback__item
      .feedback__head
        span.feedback__rating 4,5
        h3 Kurumba Village
      .feedback__subhead
        h5 Алексей
        .feedback__tripadviser
          img(src='images/tripadvisor.jpg', alt='')
      p.feedback__description
        | Отличный отель. Прекрасный персонал, который стерпел все мои прихоти. Просто супер! Буду рад поехать отдыхать сюда ...
      a(href='#') Подробнее
  li.simple-slider__item
    .feedback__item
      .feedback__head
        span.feedback__rating 4,5
        h3 Kurumba Village
      .feedback__subhead
        h5 Алексей
        .feedback__tripadviser
          img(src='images/tripadvisor.jpg', alt='')
      p.feedback__description
        | Отличный отель. Прекрасный персонал, который стерпел все мои прихоти. Просто супер! Буду рад поехать отдыхать сюда ...
      a(href='#') Подробнее
  li.simple-slider__item
    .feedback__item
      .feedback__head
        span.feedback__rating 4,5
        h3 Kurumba Village
      .feedback__subhead
        h5 Алексей
        .feedback__tripadviser
          img(src='images/tripadvisor.jpg', alt='')
      p.feedback__description
        | Отличный отель. Прекрасный персонал, который стерпел все мои прихоти. Просто супер! Буду рад поехать отдыхать сюда ...
      a(href='#') Подробнее
  li.simple-slider__item
    .feedback__item
      .feedback__head
        span.feedback__rating 4,5
        h3 Kurumba Village
      .feedback__subhead
        h5 Алексей
        .feedback__tripadviser
          img(src='images/tripadvisor.jpg', alt='')
      p.feedback__description
        | Отличный отель. Прекрасный персонал, который стерпел все мои прихоти. Просто супер! Буду рад поехать отдыхать сюда ...
      a(href='#') Подробнее
  li.simple-slider__item
    .feedback__item
      .feedback__head
        span.feedback__rating 4,5
        h3 Kurumba Village
      .feedback__subhead
        h5 Алексей
        .feedback__tripadviser
          img(src='images/tripadvisor.jpg', alt='')
      p.feedback__description
        | Отличный отель. Прекрасный персонал, который стерпел все мои прихоти. Просто супер! Буду рад поехать отдыхать сюда ...
      a(href='#') Подробнее
.button-more-box
  a.button(href='#') Все отзывы