
.container
  .filterHotels__switch-inner
    //- ul.switch__list
    //-   li.switch__li.active
    //-     a.switch__link(href='#', data-tab='1')
    //-       svg.icon-tour
    //-         use(xlink:href='#tour')
    //-       span Туры
    //-   li.switch__li
    //-     a.switch__link(href='#', data-tab='2')
    //-       svg.icon-hotel
    //-         use(xlink:href='#hotel')
    //-       span Отели
    //-   li.switch__li
    //-     a.switch__link(href='#', data-tab='3')
    //-       svg.icon-plane
    //-         use(xlink:href='#plane')
    //-       span Билеты
    .filterHotels__switch-view
      .switch__content.active(data-content='1')
        .search.search--lg
          form(action='')
            .search__items
              .search__item
                svg.search__icon.icon-compass
                  use(xlink:href='#compass')
                input.search__input.js-init-autocomplete(type='text', placeholder='Куда', data-source='places')
              .search__item.search__item--lg.search__item--people
                svg.search__icon.icon-people
                  use(xlink:href='#people')
                input.search__input.js-init-people(type='text', placeholder='2 взрослых 0 детей', readonly='true')
                svg.search__arrow
                  use(xlink:href='#caret-down')
              .search__item.search__item--lg
                svg.search__icon.icon-calendar
                  use(xlink:href='#calendar')
                input.search__input.js-init-calendar(type='text', placeholder='Выберите дату', readonly='true')
                svg.search__arrow
                  use(xlink:href='#caret-down')
              .search__item
                svg.search__icon.icon-location
                  use(xlink:href='#location')
                input.search__input.js-init-autocomplete(type='text', placeholder='Из Москвы', data-source='from')
                svg.search__arrow
                  use(xlink:href='#caret-down')

            button.search__button.button(type='submit') Поиск
      //- .switch__content(data-content='2')
      //-   .search.search--lg
      //-     form(action='')
      //-       .search__items
      //-         .search__item
      //-           svg.search__icon.icon-compass
      //-             use(xlink:href='#compass')
      //-           input.search__input.js-init-autocomplete(type='text', placeholder='Куда', data-source='places')
      //-         .search__item.search__item--lg.search__item--people
      //-           svg.search__icon.icon-people
      //-             use(xlink:href='#people')
      //-           input.search__input.js-init-people(type='text', placeholder='2 взрослых 0 детей', readonly='true')
      //-           svg.search__arrow
      //-             use(xlink:href='#caret-down')
      //-         .search__item.search__item--lg
      //-           svg.search__icon.icon-calendar
      //-             use(xlink:href='#calendar')
      //-           input.search__input.js-init-calendar(type='text', placeholder='Выберите дату', readonly='true')
      //-           svg.search__arrow
      //-             use(xlink:href='#caret-down')
      //-         .search__item
      //-           svg.search__icon.icon-location
      //-             use(xlink:href='#location')
      //-           input.search__input.js-init-autocomplete(type='text', placeholder='Из Москвы', data-source='from')
      //-           svg.search__arrow
      //-             use(xlink:href='#caret-down')
      //-       button.search__button.button(type='submit') Поиск
      //- .switch__content(data-content='3') билеты
//- // switch end
//- // people-drop
.people-drop.dropdown__box
  .dropdown__triangle
  .people
    .people__item
      .people__top
        svg.people__minus.icon-minus
          use(xlink:href='#minus')
        svg.icon-man
          use(xlink:href='#man')
        svg.people__plus.icon-plus
          use(xlink:href='#plus')
      strong.people__value
        | Взрослыx:
        input#input-adult.people__input(data-min='0', data-max='10', value='2')
    .people__item
      .people__top
        svg.people__minus.icon-minus
          use(xlink:href='#minus')
        svg.icon-baby
          use(xlink:href='#baby')
        svg.people__plus.icon-plus
          use(xlink:href='#plus')
      strong.people__value
        | Детей:
        input#input-child.people__input(data-min='0', data-max='10', value='0')
//- // people-drop end
//- // calendar-drop
.calendar-drop.dropdown__box
  .dropdown__triangle
  .calendar
    .calendar__top
      strong.calendar__title Выберите кол-во ночей
      .calendar__left
        .calendar__amount
          .calendar__minus
            svg.icon-minus
              use(xlink:href='#minus')
          input.calendar__nights(type='text', value='7 ночей', data-min='0', data-max='100')
          .calendar__plus
            svg.icon-plus
              use(xlink:href='#plus')
      .calendar__right
        .calendar__toggle.toggle
          input#input-calendar-1.radio--toggle(type='radio', name='calendar', value='1', checked='checked')
          label(for='input-calendar-1') ± 2 Ночи
          input#input-calendar-2.radio--toggle(type='radio', name='calendar', value='2')
          label(for='input-calendar-2') Ровно
    .calendar__bottom
      strong.calendar__title Выберите дату вылета
      .calendar__datepicker
      button.calendar__button.button Сохранить
//- // calendar-drop end

.holidayCreate__selectors
  .holidayCreate__selectors-item
    label(for="test") 
      svg
        use(xlink:href='#caret-down')
    select(name="test")
      option test1
      option test2
      option test3
      option test4
  .holidayCreate__selectors-item
    label(for="test") 
      svg
        use(xlink:href='#caret-down')
    select(name="test")
      option test1
      option test2
      option test3
      option test4
.holidayCreate__sort
  .container
    .catalog-sort.js-mobile-screen
      a.catalog-sort__back.back.js-close-mobile-screen(href='#')
        svg.icon-arrow-left
          use(xlink:href='#arrow-left')
        | Назад
      .catalog-sort__desctop.holidayCreate__sort-inner
        span.catalog-sort__title(style="color:#fff;") Сортировать по:
        ul.catalog-sort__list.js-sort
          li.catalog-sort__list-item.active
            a.catalog-sort__link(href='#') цене
          li.catalog-sort__list-item
            a.catalog-sort__link(href='#') дате
          li.catalog-sort__list-item
            a.catalog-sort__link(href='#') популярности
          li.catalog-sort__list-item
            a.catalog-sort__link(href='#') названию
      