.main-gallery-slider.swiper-container.js-main-gallery-slider
    .main-gallery-slider__description-wrapper
        .main-gallery-slider__description.container
            span.main-gallery-slider__price От 5 500 $
            span.main-gallery-slider__rating-icon 7,4
            .main-gallery-slider__info
                .main-gallery-slider__title Sol Cayo Largo
                .main-gallery-slider__stars
                    svg.icon-star-fill.main-gallery-slider__star
                        use(xlink:href='#star-fill')
                    svg.icon-star-fill.main-gallery-slider__star
                        use(xlink:href='#star-fill')
                    svg.icon-star-fill.main-gallery-slider__star
                        use(xlink:href='#star-fill')
                    svg.icon-star-fill.main-gallery-slider__star
                        use(xlink:href='#star-fill')
                    svg.icon-star-fill.main-gallery-slider__star
                use(xlink:href='#star-fill')

    ul.main-gallery-slider__items.swiper-wrapper
        - for (var i = 0, j = 1; i < 10; i++, j++)
            li.main-gallery-slider__item.swiper-slide
                - var src = 'images/slider/slider-0' + j + '.jpg';

                - if (j < 5)
                    img(src=src alt='').main-gallery-slider__image
                - else
                    video.main-gallery-slider__video.js-main-gallery-slider__video
                        source(src='videos/slider/slide.mp4' type='video/mp4')
                    - j = 0
    div.main-gallery-slider__button.main-gallery-slider__button_prev.js-main-gallery-slider__button_prev
        svg.main-gallery-slider__button-icon
            use(xlink:href="#arrow-left")

    div.main-gallery-slider__button.main-gallery-slider__button_next.js-main-gallery-slider__button_next
        svg.main-gallery-slider__button-icon
            use(xlink:href="#arrow-right")

.swiper-container.thumbs-gallery-slider.js-thumbs-gallery-slider
    ul.swiper-wrapper.thumbs-gallery-slider__items
        - for (var i = 0, j = 1; i < 10; i++, j++)
            - if (j < 5)
                li.swiper-slide.thumbs-gallery-slider__item
                    - var src = 'images/slider/slider-0' + j + '.jpg';
                    img(src=src alt='').thumbs-gallery-slider__image

            - else
                - j = 0;
                li.swiper-slide.thumbs-gallery-slider__item.thumbs-gallery-slider__item_video
                    img(src='images/slider/hotels-video.jpg' alt='').thumbs-gallery-slider__image

    div.thumbs-gallery-slider__button.thumbs-gallery-slider__button_prev.js-thumbs-gallery-slider__button_prev
        svg.thumbs-gallery-slider__button-icon
            use(xlink:href="#arrow-left")

    div.thumbs-gallery-slider__button.thumbs-gallery-slider__button_next.js-thumbs-gallery-slider__button_next
        svg.thumbs-gallery-slider__button-icon
            use(xlink:href="#arrow-right")

