header.header
        .container
          .header__top
            .header__nav-btn
              svg
                use(xlink:href='#hamburger')
            a.header__logo(href='#')
              svg.header__logo-icon
                use(xlink:href='#logo')
            dl.phone-list
              dt.phone-list__city
                | Москва и МО
                dd.phone-list__number
                  | +7 (495) 925-11-11
                  dt.phone-list__city
                    | Регионы
                    dd.phone-list__number +7 (800) 234-34-40
          nav.header__bottom
            .container
              nav.header__nav.nav
                a.header__small-logo(href='#')
                  svg
                    use(xlink:href='#logo-small')
                ul.nav__list
                  li.header__currency
                    a.header__currency-link(href='#')
                      b Валюта 
                      | US Dollar (курс 65.10)
                      svg.header__currency-icon
                        use(xlink:href='#caret-down')
                    .dropdown__box
                      span.dropdown__triangle
                      ul.dropdown__list
                        li.dropdown__list-item
                          a.dropdown__link(href='#') US Dollar
                        li.dropdown__list-item
                          a.dropdown__link(href='#') Рубль
                        li.dropdown__list-item
                          a.dropdown__link(href='#') Евро
                  li.nav__list-item.nav__list-item--big-drop
                    a.nav__link(href='#') Туры
                    .dropdown__box.dropdown--tour
                      span.dropdown__triangle
                      span.dropdown__btn-back
                        svg
                          use(xlink:href='#caret-down')
                        |                     Назад
                      .scroll-wrapper
                        .dropdown__col
                          span.dropdown__title
                            a(href="#")
                              | Африка
                              br
                              |  и Индийский океан
                          ul.dropdown__list
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Мальдивы
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Сейшелы
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Дайвинг Сафари
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Маврикий
                        .dropdown__col
                          span.dropdown__title
                            a(href="#")
                              | Америка и
                              br
                              |  Карибский бассейн
                          ul.dropdown__list
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Доминикана
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Куба
                        .dropdown__col
                          span.dropdown__title
                            a(href="#")
                              | Азия, Ближний и
                              br
                              |  Средний Восток
                          ul.dropdown__list
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Китай (КНР)
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Тайланд
                            li.dropdown__list-item
                              a.dropdown__link(href='#') ОАЭ
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Сингапур
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Малайзия
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Индонезия
                        .dropdown__col
                          span.dropdown__title
                            a(href="#")
                              Европа
                          ul.dropdown__list
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Россия
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Греция
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Автобусные туры
                        .dropdown__col
                          span.dropdown__title
                            a(href="#")
                              Австралия и Океания
                          ul.dropdown__list
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Французская Полинезия
                  li.nav__list-item.nav__list-item--big-drop
                    a.nav__link(href='#') Отели
                    .dropdown__box.dropdown--hotels
                      span.dropdown__btn-back
                        svg
                          use(xlink:href='#caret-down')
                        |                     Назад
                      span.dropdown__triangle
                      .scroll-wrapper
                        .dropdown__col
                          span.dropdown__title
                            a(href="#")
                              | Африка
                              br
                              |  и Индийский океан
                          ul.dropdown__list
                            li.dropdown__list-item
                              a.dropdown__link(href='#1') Мальдивы
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Сейшелы
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Дайвинг Сафари
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Маврикий
                        .dropdown__col
                          span.dropdown__title
                            a(href="#")
                              | Америка и
                              br
                              |  Карибский бассейн
                          ul.dropdown__list
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Доминикана
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Куба
                        .dropdown__col
                          span.dropdown__title
                            a(href="#")
                              | Азия, Ближний и
                              br
                              |  Средний Восток
                          ul.dropdown__list
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Китай (КНР)
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Тайланд
                            li.dropdown__list-item
                              a.dropdown__link(href='#') ОАЭ
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Сингапур
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Малайзия
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Индонезия
                        .dropdown__col
                          span.dropdown__title
                            a(href="#")
                              Европа
                          ul.dropdown__list
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Россия
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Греция
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Автобусные туры
                        .dropdown__col
                          span.dropdown__title
                            a(href="#")
                              Австралия и Океания
                          ul.dropdown__list
                            li.dropdown__list-item
                              a.dropdown__link(href='#') Французская Полинезия
                  li.nav__list-item
                    a.nav__link(href='#') О компании
                    .dropdown__box.dropdown--regular
                      span.dropdown__triangle
                      span.dropdown__btn-back
                        svg
                          use(xlink:href='#caret-down')
                        |                     Назад
                      ul.dropdown__list
                        li.dropdown__list-item
                          a.dropdown__link(href='#') О компании
                        li.dropdown__list-item
                          a.dropdown__link(href='#') Корпоративные услуги
                        li.dropdown__list-item
                          a.dropdown__link(href='#') Вакансии
                        li.dropdown__list-item
                          a.dropdown__link(href='#') Пресса о нас
                        li.dropdown__list-item
                          a.dropdown__link(href='#') Дисконтная программа
                  li.nav__list-item
                    a.nav__link(href='#') Новости
                  li.nav__list-item
                    a.nav__link(href='#') Контакты
                  li.nav__list-item
                    a.nav__link(href='#') MasterWeb
                .nav__compare
                  img(src='images/icons/svg/compare.svg', alt='@@', width='23')
                  a.nav__compare-link Сравнение
                .nav__sign
                  span.nav__sign-enter
                    a.nav__sign-link(href='#')
                      svg.nav__sign-icon
                        use(xlink:href='#user')
                      span.hide Войти в личный кабинет
                  span.nav__sign-entered
                    a.nav__sign-link(href='#')
                      img(src='images/icons/svg/user-entered.svg', alt='@@', width='22')
                      span.hide Konstantinova Valentina
                    a.nav__sign-link.nav__sign-link--exit.hide(href='#') Выход