header.l-header
  .b-header.container
    .b-header__menu
      #openbutton.menu__button.cd-menu-trigger
        span.menu__border
        
    .b-header__logo
      a.logo__link(href="#")
        img.logo__img(src="images/logo.png", alt="")
    .b-header__contacts
      .contacts__col.__1        
        a.mail__link(href="mailto:info@pennville-holdings.net")
          span.mail__icon
          span.mail__title  info@pennville-holdings.net
      .contacts__col.__2
        a.tel__link(href="tel:888888888")
          span.tel__icon
          span.tel__title +7 (999) 354 88 77

.aside_menu.invisible
  .div
    input(type="submit" id="closebutton" style="width:300px; " value="closebutton")
    ul
      li test
      li test
      li test



    //- a.b-header__logo(href="") logo
    //- ul.b-header__nav.nav-invisible
    //-   li
    //-     a.b-header__col(href="") Dashboard
    //-   li
    //-     a.b-header__col(href="") Products
    //-   li
    //-     a.b-header__col(href="") Categories
    //-   li
    //-     a.b-header__col(href="") Users
      
    //- a.navbar__collapse(style="font-size:24px;" href="" ) &#8801;

    

