.l-main
  .container.b-main
    .b-main__left
      h2.b-main__title  Мы знаем, как стать успешными!
      h3.b-main__description  Компания Pennville Holdings Limited была основана в 2003 году для управления частными инвестициями в недвижимость.
      .b-main__services-mobile
        .services-mobile__item
          a.services-mobile__link(href="#")
                 
            .services-mobile__info
              .services-mobile__title
                span Управление бизнесом
              .services-mobile__details
                span.services-mobile__icon
                span.services-mobile__detail Подробнее
        .services-mobile__item
          a.services-mobile__link(href="#")
                 
            .services-mobile__info
              .services-mobile__title
                span Финансовое сопровождение бизнеса
              .services-mobile__details
                span.services-mobile__icon
                span.services-mobile__detail Подробнее
        .services-mobile__item
          a.services-mobile__link(href="#")
                 
            .services-mobile__info
              .services-mobile__title
                span  Юридическое сопровождение бизнеса
              .services-mobile__details
                span.services-mobile__icon
                span.services-mobile__detail Подробнее
        .services-mobile__item
          a.services-mobile__link(href="#")
                 
            .services-mobile__info
              .services-mobile__title
                span Инженерное сопровождение бизнеса
              .services-mobile__details
                span.services-mobile__icon
                span.services-mobile__detail Подробнее
        .services-mobile__item
          a.services-mobile__link(href="#")
                 
            .services-mobile__info
              .services-mobile__title
                span Бухгалтерское сопровождение бизнеса
              .services-mobile__details
                span.services-mobile__icon
                span.services-mobile__detail Подробнее

        

    .b-main__right.b-main__services
      .services__item
        a.services__link(href="#")
          .services__bg.__1
          
          .services__info
            .services__title
              span Управление бизнесом
            .services__details
              span.services__icon
              span.services__detail Подробнее

      .services__item.__col
        a.services__link(href="#")
          .services__bg.__2
          .services__info
            .services__title
              span Финансовое <br>сопровождение бизнеса
            .services__details
              span.services__icon
              span.services__detail Подробнее
      .services__item.__col
        a.services__link(href="#")
          .services__bg.__3
          .services__info
            .services__title
              span Юридическое <br>сопровождение бизнеса
            .services__details
              span.services__icon
              span.services__detail Подробнее
      .services__item.__col
        a.services__link(href="#")
          .services__bg.__4
          .services__info
            .services__title
              span Инженерное <br>сопровождение бизнеса
            .services__details
              span.services__icon
              span.services__detail Подробнее
      .services__item.__col
        a.services__link(href="#")
          .services__bg.__5
          .services__info
            .services__title
              span Бухгалтерское <br>сопровождение бизнеса
            .services__details
              span.services__icon
                
              span.services__detail Подробнее

      