.news__item
  a.news__img-box(href='#')
    img(src='images/news/news-01.jpg', alt='')
  .news__content
    span.news__date 16/08
    span.news__title
      a(href='#') Путешествуйте на автобусе по Европе
    p.news__description
      | Компания «Мальдивиана» представляет Вашему вниманию Самое интересное и веселое ...
    a.news__link(href='#') Подробнее