.other-news        
  .other-news__collumn
    include news__item.jade
  .other-news__collumn
    include news__item.jade
  .other-news__collumn
    include news__item.jade
  .other-news__collumn
    include news__item.jade
  .clearfix