ul.sliderHotelsAround.sliderHotelsAround__list.sliderHotelsAround__list--tiles-view
  li.sliderHotelsAround__list-item
    .card
      a(href='#')
        .card__img-box
          img(src='images/card-image/card-image-06.jpg', alt='')
          span.card__rating-icon 7.3
            //- img(src="./images/card-image/icon-rating.png", alt="")
          span.card__price от 5 500 USD
          span.card__offer Спец. предложений: 5
          span.card__icon-wishlist
            svg
              use(xlink:href="#wishlist")
          span.card__gradient-bottom
        .card__content
          span.card__country Мальдивы
          .card__title
            span.card__rating
              | 5
              svg.card__rating-star
                use(xlink:href='#star-fill')
            h3 Kurumba Village
          .card__description-box
            span.card__description
              svg.card__description-icon
                use(xlink:href='#night')
              |                       7 ночей на двоих
            span.card__description
              svg.card__description-icon
                use(xlink:href='#calendar')
              |                       с 25.09 - по 10.10
            span.card__description
              svg.card__description-icon
                use(xlink:href='#food')
              |                       завтраки и обеды
          .card__tag-box
            span.card__tag эксклюзив
            span.card__tag семейный отдых
            span.card__tag LUXE  коллекция
            span.card__tag экономичный отдых
  li.sliderHotelsAround__list-item
    .card
      a(href='#')
        .card__img-box
          img(src='images/card-image/card-image-01.jpg', alt='')
          span.card__price от 5 500 USD
          span.card__gradient-bottom
        .card__content
          span.card__country Мальдивы
          .card__title
            span.card__rating
              | 5
              svg.card__rating-star
                use(xlink:href='#star-fill')
            h3 Kurumba Village
          .card__description-box
            span.card__description
              svg.card__description-icon
                use(xlink:href='#night')
              |                       7 ночей на двоих
            span.card__description
              svg.card__description-icon
                use(xlink:href='#plane-up')
              |                       вылет 25 авг.
            span.card__description
              svg.card__description-icon
                use(xlink:href='#food')
              |                       завтраки и обеды
          .card__tag-box
            span.card__tag эксклюзив
            span.card__tag семейный отдых
            span.card__tag LUXE  коллекция
            span.card__tag экономичный отдых
  li.sliderHotelsAround__list-item
    .card
      a(href='#')
        .card__img-box
          img(src='images/card-image/card-image-01.jpg', alt='')
          span.card__price от 5 500 USD
          span.card__gradient-bottom
        .card__content
          span.card__country Мальдивы
          .card__title
            span.card__rating
              | 5
              svg.card__rating-star
                use(xlink:href='#star-fill')
            h3 Kurumba Village
          .card__description-box
            span.card__description
              svg.card__description-icon
                use(xlink:href='#night')
              |                       7 ночей на двоих
            span.card__description
              svg.card__description-icon
                use(xlink:href='#calendar')
              |                       с 25.09 - по 10.10
            span.card__description
              svg.card__description-icon
                use(xlink:href='#food')
              |                       завтраки и обеды
          .card__tag-box
            span.card__tag эксклюзив
            span.card__tag семейный отдых
            span.card__tag LUXE  коллекция
            span.card__tag экономичный отдых
  
  li.sliderHotelsAround__list-item
    .card
      a(href='#')
        .card__img-box
          img(src='images/card-image/card-image-01.jpg', alt='')
          span.card__price от 5 500 USD
          span.card__gradient-bottom
        .card__content
          span.card__country Мальдивы
          .card__title
            span.card__rating
              | 5
              svg.card__rating-star
                use(xlink:href='#star-fill')
            h3 Kurumba Village
          .card__description-box
            span.card__description
              svg.card__description-icon
                use(xlink:href='#night')
              |                       7 ночей на двоих
            span.card__description
              svg.card__description-icon
                use(xlink:href='#calendar')
              |                       с 25.09 - по 10.10
            span.card__description
              svg.card__description-icon
                use(xlink:href='#food')
              |                       завтраки и обеды
          .card__tag-box
            span.card__tag эксклюзив
            span.card__tag семейный отдых
            span.card__tag LUXE  коллекция
            span.card__tag экономичный отдых
  li.sliderHotelsAround__list-item
    .card
      a(href='#')
        .card__img-box
          img(src='images/card-image/card-image-01.jpg', alt='')
          span.card__price от 5 500 USD
          span.card__gradient-bottom
        .card__content
          span.card__country Мальдивы
          .card__title
            span.card__rating
              | 5
              svg.card__rating-star
                use(xlink:href='#star-fill')
            h3 Kurumba Village
          .card__description-box
            span.card__description
              svg.card__description-icon
                use(xlink:href='#night')
              |                       7 ночей на двоих
            span.card__description
              svg.card__description-icon
                use(xlink:href='#calendar')
              |                       с 25.09 - по 10.10
            span.card__description
              svg.card__description-icon
                use(xlink:href='#food')
              |                       завтраки и обеды
          .card__tag-box
            span.card__tag эксклюзив
            span.card__tag семейный отдых
            span.card__tag LUXE  коллекция
            span.card__tag экономичный отдых
  li.sliderHotelsAround__list-item
    .card
      a(href='#')
        .card__img-box
          img(src='images/card-image/card-image-01.jpg', alt='')
          span.card__price от 5 500 USD
          span.card__gradient-bottom
        .card__content
          span.card__country Мальдивы
          .card__title
            span.card__rating
              | 5
              svg.card__rating-star
                use(xlink:href='#star-fill')
            h3 Kurumba Village
          .card__description-box
            span.card__description
              svg.card__description-icon
                use(xlink:href='#night')
              |                       7 ночей на двоих
            span.card__description
              svg.card__description-icon
                use(xlink:href='#calendar')
              |                       с 25.09 - по 10.10
            span.card__description
              svg.card__description-icon
                use(xlink:href='#food')
              |                       завтраки и обеды
          .card__tag-box
            span.card__tag эксклюзив
            span.card__tag семейный отдых
            span.card__tag LUXE  коллекция
            span.card__tag экономичный отдых
  li.sliderHotelsAround__list-item
    .card
      a(href='#')
        .card__img-box
          img(src='images/card-image/card-image-01.jpg', alt='')
          span.card__price от 5 500 USD
          span.card__gradient-bottom
        .card__content
          span.card__country Мальдивы
          .card__title
            span.card__rating
              | 5
              svg.card__rating-star
                use(xlink:href='#star-fill')
            h3 Kurumba Village
          .card__description-box
            span.card__description
              svg.card__description-icon
                use(xlink:href='#night')
              |                       7 ночей на двоих
            span.card__description
              svg.card__description-icon
                use(xlink:href='#calendar')
              |                       с 25.09 - по 10.10
            span.card__description
              svg.card__description-icon
                use(xlink:href='#food')
              |                       завтраки и обеды
          .card__tag-box
            span.card__tag эксклюзив
            span.card__tag семейный отдых
            span.card__tag LUXE  коллекция
            span.card__tag экономичный отдых
  
  li.sliderHotelsAround__list-item
    .card
      a(href='#')
        .card__img-box
          img(src='images/card-image/card-image-01.jpg', alt='')
          span.card__price от 5 500 USD
          span.card__gradient-bottom
        .card__content
          span.card__country Мальдивы
          .card__title
            span.card__rating
              | 5
              svg.card__rating-star
                use(xlink:href='#star-fill')
            h3 Kurumba Village
          .card__description-box
            span.card__description
              svg.card__description-icon
                use(xlink:href='#night')
              |                       7 ночей на двоих
            span.card__description
              svg.card__description-icon
                use(xlink:href='#calendar')
              |                       с 25.09 - по 10.10
            span.card__description
              svg.card__description-icon
                use(xlink:href='#food')
              |                       завтраки и обеды
          .card__tag-box
            span.card__tag эксклюзив
            span.card__tag семейный отдых
            span.card__tag LUXE  коллекция
            span.card__tag экономичный отдых
  li.sliderHotelsAround__list-item
    .card
      a(href='#')
        .card__img-box
          img(src='images/card-image/card-image-01.jpg', alt='')
          span.card__price от 5 500 USD
          span.card__gradient-bottom
        .card__content
          span.card__country Мальдивы
          .card__title
            span.card__rating
              | 5
              svg.card__rating-star
                use(xlink:href='#star-fill')
            h3 Kurumba Village
          .card__description-box
            span.card__description
              svg.card__description-icon
                use(xlink:href='#night')
              |                       7 ночей на двоих
            span.card__description
              svg.card__description-icon
                use(xlink:href='#calendar')
              |                       с 25.09 - по 10.10
            span.card__description
              svg.card__description-icon
                use(xlink:href='#food')
              |                       завтраки и обеды
          .card__tag-box
            span.card__tag эксклюзив
            span.card__tag семейный отдых
            span.card__tag LUXE  коллекция
            span.card__tag экономичный отдых
  li.sliderHotelsAround__list-item
    .card
      a(href='#')
        .card__img-box
          img(src='images/card-image/card-image-01.jpg', alt='')
          span.card__price от 5 500 USD
          span.card__gradient-bottom
        .card__content
          span.card__country Мальдивы
          .card__title
            span.card__rating
              | 5
              svg.card__rating-star
                use(xlink:href='#star-fill')
            h3 Kurumba Village
          .card__description-box
            span.card__description
              svg.card__description-icon
                use(xlink:href='#night')
              |                       7 ночей на двоих
            span.card__description
              svg.card__description-icon
                use(xlink:href='#calendar')
              |                       с 25.09 - по 10.10
            span.card__description
              svg.card__description-icon
                use(xlink:href='#food')
              |                       завтраки и обеды
          .card__tag-box
            span.card__tag эксклюзив
            span.card__tag семейный отдых
            span.card__tag LUXE  коллекция
            span.card__tag экономичный отдых