.dSubscribe
    .dSubscribe__wrapper
        img(src='images/bg/bg-subcribe.jpg' alt='').dSubscribe__image
    .dSubscribe__content
        .dSubscribe__title Хотите следить за нашими новостями?
        form.short-form.dSubscribe__form
            input(type='text', placeholder='Ваш E-mail')
            button.subscribe-button(type='submit', data-modal-popup='.js-thanks-for-subscribing-popup').js-open-modal-popup
                | Хочу!