ul.category__list
  li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-01.jpg', alt='')
        span.category-card__title
          | ВСЕ ВКЛЮЧЕНО
          span.category-card__count (5)
  li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-02.jpg', alt='')
        span.category-card__title
          | ПЛЯЖНЫЙ ОТДЫХ
          span.category-card__count (5)
  li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-03.jpg', alt='')
        span.category-card__title
          | ГОРОДСКОЙ ОТДЫХ
          span.category-card__count (5)
  li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-04.jpg', alt='')
        span.category-card__title
          | СЕМЕЙНЫЙ ОТДЫХ
          span.category-card__count (5)
  li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-05.jpg', alt='')
        span.category-card__title
          | ОТДЫХ С ДЕТЬМИ
          span.category-card__count (5)
  li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-06.jpg', alt='')
        span.category-card__title
          | МОЛОДОЖЕНЫ
          span.category-card__count (5)
  //li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-07.jpg', alt='')
        span.category-card__title
          | ЭКОНОМИЧЕСКИЙ ОТДЫХ
          span.category-card__count (5)
  //li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-08.jpg', alt='')
        span.category-card__title
          | LUXE КОЛЛЕКЦИЯ
          span.category-card__count (5)
  //li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-09.jpg', alt='')
        span.category-card__title
          | ЭКСКЛЮЗИВ
          span.category-card__count (5)
  //li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-10.jpg', alt='')
        span.category-card__title
          | ТОЛЬКО ДЛЯ ВЗРОСЛЫХ
          span.category-card__count (5)
  //li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-11.jpg', alt='')
        span.category-card__title
          | SPA
          span.category-card__count (5)
  //li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-12.jpg', alt='')
        span.category-card__title
          | АВТОБУСНЫЕ ТУРЫ
          span.category-card__count (5)
  //li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-13.jpg', alt='')
        span.category-card__title
          | ЯХТА
          span.category-card__count (5)
  //li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-14.jpg', alt='')
        span.category-card__title
          | РЕКОМЕНДУЕМЫЕ ОТЕЛИ
          span.category-card__count (5)
  //li.category__list-item
    .category-card
      a(href='#')
        img(src='images/category-image/category-image-15.jpg', alt='')
        span.category-card__title
          | ВИЛЛЫ И СЬЮТЫ
          span.category-card__count (5)