//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont = "Open Sans"
$mainFontSize = 14px
$mainFontHeight = 20px
$mainFontWeight = 400
$mainFontColor = #252626
$secondFont = "Roboto"
$secondFontSize = 16px
$secondFontHeight = 22px
$secondFontWeign = 400
$secondFontColor = #24b3fd
$fixFont = Verdana
$fixFontSize = 14px
$fixFontHeight = 24px
// Variables => Colors
//----------------------------------------------------//
$lightGreyColor = #f4f4f4
$greyColor = #acadaf
$darkBlueColor = #677e8a
$darkColor = #323132