extends layouts/application.jade



block content
  .wrapper
    include layouts/header.jade
    .section.l-about
      .container.b-about
        h2.b-about__title О компании
        .b-about__info
          .row
            .span-5
              p.b-about__description Мы <span>команда </span> профессионалов в сфере туризма
            .span-7
              .b-about__photo-up
                img.span-4(src="images/img_1.jpg", alt="")
                img.span-4(src="images/img_2.jpg", alt="")
                img.span-4(src="images/img_3.jpg", alt="")
          .row
            .span-5(style="height:4px;")
            .span-7.b-about__middle
              .span-4.b-about__age
                p.b-about__value Более 20 лет на рынке
                  span.b-about__border

              img.span-8(src="images/img_4.jpg" alt="")
          .row(style="overflow:inherit;height:799px;padding-top:40px;")
            .col-3(style="height:inherit;")
              .b-about__position.__1
                .b-about__vertical-border
                  .vertical-border__circle
                  .vertical-border__line
                .b-about__history
                  p.history__name 1994
                  p.history__text  Динамичная команда профессионалов, работающих на московском рынке международного выездного туризма с 1994 года. 
                    |Возможно, вы знали нас раньше как компанию "Aitken Spenсe Ceylon".
          
            .col-3(style="height:inherit;")
              .b-about__position.__2
                .b-about__vertical-border
                  .vertical-border__circle
                  .vertical-border__line
                .b-about__history
                  p.history__name 2002
                  p.history__text  В августе 2002 году в воды Индийского океана сошла со стапелей белоснежная туристическая яхта Maldiviana, наши чувства к Мальдивам взяли верх и появилась группа компаний Мальдивиана.
          
            .col-3(style="height:inherit;")
              .b-about__position.__3
                .b-about__vertical-border
                  .vertical-border__circle
                  .vertical-border__line
                .b-about__history
                  p.history__name 2015
                  p.history__text  Главный офис продаж - 
                    | м. «Китай-город»
                    | Офис по обслуживанию дайверов и продаже дайвинг-туров на яхту Maldiviana находится там же.пакеты по данным направлениям, так и реализацию отдельных туристских услуг.
                    | Миссия компании - продвижение и популяризация отдыха на Мальдивских островах и в Шри Ланке путем качественно оформленных предложений с учётом нашего многолетнего опыта работы на этих направлениях, понимания философии и особенностей каждой страны, что является гарантией успеха! 

            .col-3(style="height:inherit;")
              .b-about__position.__4
                .b-about__vertical-border
                  .vertical-border__circle
                  .vertical-border__line
                .b-about__history
                  p.history__name 2017
                  p.history__text.__last Являсь экспертом по Мальдивам и Шри Ланке, мы предоставляем весь спектр туристских услуг по этим направлениям: пляжный отдых, экскурсионные туры, комбинированные туры, дайвинг-сафари, VIP - обслуживание, корпоративное обслуживание, организация специальных чартерных рейсов, продажа регулярных авиаперевозок <b>а/к «Аэрофлот», «Emirates», «Qatar Airways»</b> и др.
                    | В качестве удобства работы с нами, мы предлагаем как сформированные туристские пакеты по данным направлениям, так и реализацию отдельных туристских услуг.
          .b-about__text-bottom Мы растем <br> дальше!
            span.b-about__border
          img.b-about__photo-down(src="images/photodown.png", alt="")
        .b-about__info-mob
          .row
            .span-12
              p.b-about__description Мы <span>команда </span><br> профессионалов <br>в сфере туризма
              p.history__name 1994
              p.history__text  Динамичная команда профессионалов, работающих на московском рынке международного выездного туризма с 1994 года. 
                |Возможно, вы знали нас раньше как компанию "Aitken Spenсe Ceylon".
              p.history__name 2002
              p.history__text  Главный офис продаж - 
                | м. «Китай-город»
                | Офис по обслуживанию дайверов и продаже дайвинг-туров на яхту Maldiviana находится там же.пакеты по данным направлениям, так и реализацию отдельных туристских услуг.
                | Миссия компании - продвижение и популяризация отдыха на Мальдивских островах и в Шри Ланке путем качественно оформленных предложений с учётом нашего многолетнего опыта работы на этих направлениях, понимания философии и особенностей каждой страны, что является гарантией успеха!
              p.history__name 2015
              p.history__text Являсь экспертом по Мальдивам и Шри Ланке, мы предоставляем весь спектр туристских услуг по этим направлениям: пляжный отдых, экскурсионные туры, комбинированные туры, дайвинг-сафари, VIP - обслуживание, корпоративное обслуживание, организация специальных чартерных рейсов, продажа регулярных авиаперевозок а/к «Аэрофлот», «Emirates», «Qatar Airways» и др.
                | В качестве удобства работы с нами, мы предлагаем как сформированные туристские пакеты по данным направлениям, так и реализацию отдельных туристских услуг.
              p.history__name 2017
              p.history__text.__last Являсь экспертом по Мальдивам и Шри Ланке, мы предоставляем весь спектр туристских услуг по этим направлениям: пляжный отдых, экскурсионные туры, комбинированные туры, дайвинг-сафари, VIP - обслуживание, корпоративное обслуживание, организация специальных чартерных рейсов, продажа регулярных авиаперевозок <b>а/к «Аэрофлот», «Emirates», «Qatar Airways»</b> и др.
                | В качестве удобства работы с нами, мы предлагаем как сформированные туристские пакеты по данным направлениям, так и реализацию отдельных туристских услуг.
              .b-about__text-bottom Мы растем дальше!
                span.b-about__border
          


    section.section.l-companies
      .section__title
          h2.h2 Группа компаний
      .container.b-companies
        .row.b-companiesInfo
          .col-6.colm-12
            h3.b-companiesInfo__title  Lorem ipsum dolor.
            p.b-companiesInfo__description   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis iste libero beatae consequuntur officia! Facere nemo harum ipsa omnis modi nulla veritatis ex aspernatur quaerat, natus laboriosam tenetur, facilis distinctio saepe consequatur voluptatem similique autem ipsam at ea, commodi molestiae.
          .col-6.colm-12
            h3.b-companiesInfo__title  Lorem ipsum dolor.
            p.b-companiesInfo__description   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum soluta doloremque, saepe quod totam vel, eveniet deserunt quas repellendus reprehenderit, rem voluptate. Ratione, fugit earum.
        .row.b-companiesFeatures
          .col-4.colt-12
            .b-companiesFeatures__image-container
              img.b-companiesFeatures__image.__1(src="images/cremle.png", alt="")
            h3.b-companiesFeatures__title lorem
            p.b-companiesFeatures__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima itaque quas exercitationem obcaecati accusamus quibusdam iusto eos eveniet, numquam, culpa totam nostrum deleniti quia saepe placeat ducimus ipsa libero quis.

          .col-4.colt-12
            .b-companiesFeatures__image-container
              //- img.b-companiesFeatures__image.__2(src="images/palma.png", alt="")
              svg.b-companiesFeatures__image.__2()
                use(xlink:href='#elefan' x="0" y="0")
              

            h3.b-companiesFeatures__title lorem
            p.b-companiesFeatures__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempora ullam delectus repellendus cum illo quaerat perspiciatis error aut ratione totam rem in, pariatur placeat velit, asperiores illum doloremque qui!
          .col-4.colt-12
            .b-companiesFeatures__image-container
              //- img.b-companiesFeatures__image.__3(src="images/slon.png", alt="")
              svg.b-companiesFeatures__image.__3()
                use(xlink:href='#palma' )
            h3.b-companiesFeatures__title lorem
            p.b-companiesFeatures__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam hic nam magni deserunt tempora debitis eos asperiores expedita a quae sunt explicabo libero fugit omnis, assumenda praesentium amet ea earum?

    section.section.l-culture
      .section__title
        h2.h2 Корпоративная культура
      .container.b-culture
        .row
          .col-6.colm-12
            .b-cultureInfo.__1
              h3.b-cultureInfo__title loremasdsadsad
              p.b-cultureInfo__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, accusantium.
            .b-cultureInfo.__2
              h3.b-cultureInfo__title test2
              p.b-cultureInfo__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, accusantium.
            .b-cultureInfo.__3
              h3.b-cultureInfo__title loremasdsadsad
              p.b-cultureInfo__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, accusantium.
            .b-cultureInfo.__4
              h3.b-cultureInfo__title loremasdsadsad
              p.b-cultureInfo__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, accusantium.
            
          .col-6.colm-12
            .b-cultureInfo.__5
              h3.b-cultureInfo__title loremasdsadsad
              p.b-cultureInfo__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ipsa!
            .b-cultureInfo.__6
              h3.b-cultureInfo__title loremasdsadsad
              p.b-cultureInfo__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ipsa!
            .b-cultureInfo.__7
              h3.b-cultureInfo__title loremasdsadsad
              p.b-cultureInfo__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ipsa!
            .b-cultureInfo.__8
              h3.b-cultureInfo__title loremasdsadsad
              p.b-cultureInfo__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ipsa!
            
  

            


  include layouts/footer.jade