extends layouts/application.jade



block content
  .wrapper
    include layouts/header.jade

    section.l-agents
      h2.l-agents__title test
      .container.b-agentsInfo
        .col-6.colm-12
          p.b-agentsInfo__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nam asperiores esse quas, eveniet! Rerum fugit praesentium expedita nobis, dolores, quasi ducimus qui molestias minus sapiente laborum numquam quas. A soluta aperiam fuga quae et voluptatem? Explicabo delectus magni odit voluptatibus nulla, quod quas sapiente, ducimus suscipit. Consequuntur, labore. Accusamus?
        .col-6.colm-12
          p.b-agentsInfo__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta magni aliquam eius sunt voluptates sint temporibus quaerat in blanditiis? Ea at vero numquam, non quam corporis placeat voluptatum explicabo. Fugit, aspernatur, unde. Assumenda laborum delectus natus officia ducimus aperiam at corporis unde quia quo reprehenderit, fugit eveniet! Alias, molestias, dolores!
    section.l-agentsForm
      h2.l-agentsForm__title registration agents
      .container
        form.b-agentsForm
          h3.b-agentsForm__title test:
          .b-agentsForm__data
              label.b-agentsForm__label data lorem<br> data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br> data
              input.b-agentsForm__input(type="file")
          

  include layouts/footer.jade