extends layouts/application.jade

block content

  .wrapper
    //- // HEADER
    include layouts/header.jade
    //- // HEADER [END]
    main.content.catalog-page
      .container.columns
        aside.sidebar.tabs.js-init-tabs.js-mobile-screen
          ul.tabs__list
            li.tabs__li
              a.tabs__link(href='#', data-tab='1') Туры
            li.tabs__li.active
              a.tabs__link(href='#', data-tab='2') Отели
            li.tabs__li
              a.tabs__link(href='#', data-tab='3') Билеты
          .tabs__content.active(data-content='1')
            .filter
              a.filter__back.back.js-close-mobile-screen(href='#')
                svg.icon-arrow-left
                  use(xlink:href='#arrow-left')
                | Назад
              form.filter__form(action='#')
                .filter__scroll
                  .filter__inner
                    fieldset.filter__item
                      strong.filter__title Цена
                      .filter__content
                        .filter__range.range
                          .range__slider.js-init-range(data-min='0', data-max='1000000', data-value1='1000', data-value2='900000', data-step='10000')
                          .range__values
                            span.range__value
                              span.js-range-min
                              |  руб.
                            span.range__value
                              span.js-range-max
                              |  руб.
                    fieldset.filter__item
                      strong.filter__title Рейтинг отеля
                      .filter__content
                        .filter__range.range
                          .range__slider.js-init-range(data-min='0', data-max='10', data-value1='3.7', data-value2='10.0', data-step='0.1')
                          .range__values
                            span.range__value
                              span.js-range-min
                            span.range__value
                              span.js-range-max

                      fieldset.filter__item.filter__item_dropdown.filter__item_dropdown_active.js-filter__item_dropdown
                        strong.filter__title.js-filter__title Категория отеля
                          svg.filter__title-icon
                            use(xlink:href='#caret-down')
                        .filter__content.js-filter__content
                          ul.filter__list
                            - for (var i = 1; i <= 5; i++)
                              li.filter__li.filter__li_stars
                                input.checkbox--star-icon(type='checkbox' id='t-star-#{i}')
                                label(for='t-star-#{i}')
                                  span.stars-icons
                                    - for (var j = 0; j < i; j++)
                                        svg.icon-star
                                          use(xlink:href='#star-fill')
                      fieldset.filter__item.filter__item_dropdown.filter__item_dropdown_active.js-filter__item_dropdown
                        strong.filter__title.js-filter__title Питание
                          svg.filter__title-icon
                            use(xlink:href='#caret-down')
                        .filter__content.js-filter__content
                          ul.filter__list
                            li.filter__li
                              input#t-food-1.checkbox--has-icon(type='checkbox')
                              label(for='t-food-1')
                                span.icon-wrap
                                  svg.icon-no-food
                                    use(xlink:href='#no-food')
                                |                           Без питания
                            li.filter__li
                              input#t-food-2.checkbox--has-icon(type='checkbox')
                              label(for='t-food-2')
                                span.icon-wrap
                                  svg.icon-breakfest
                                    use(xlink:href='#breakfest')
                                |                           Только завтраки
                            li.filter__li
                              input#t-food-3.checkbox--has-icon(type='checkbox')
                              label(for='t-food-3')
                                span.icon-wrap
                                  svg.icon-lunch-alternative
                                    use(xlink:href='#lunch-alternative')
                                |                           Завтрак и ужин
                            li.filter__li
                              input#t-food-4.checkbox--has-icon(type='checkbox')
                              label(for='t-food-4')
                                span.icon-wrap
                                  svg.icon-lunch
                                    use(xlink:href='#lunch')
                                |                           Завтрак, обуд, ужин (без алкоголя)
                            li.filter__li
                              input#t-food-5.checkbox--has-icon(type='checkbox')
                              label(for='t-food-5')
                                span.icon-wrap
                                  svg.icon-coctail
                                    use(xlink:href='#coctail')
                                |                           Все включено
                      fieldset.filter__item.filter__item_dropdown.filter__item_dropdown_active.js-filter__item_dropdown
                        strong.filter__title.js-filter__title Авиакомпания
                          svg.filter__title-icon
                            use(xlink:href='#caret-down')
                        .filter__content.js-filter__content
                          ul.filter__list
                            li.filter__li
                              input#t-airports-1.checkbox(type='checkbox')
                              label(for='t-airports-1') Все
                            li.filter__li
                              input#t-airports-2.checkbox(type='checkbox')
                              label(for='t-airports-2') Etihad Airways
                            li.filter__li
                              input#t-airports-3.checkbox(type='checkbox')
                              label(for='t-airports-3') Emirates
                            li.filter__li
                              input#t-airports-4.checkbox(type='checkbox')
                              label(for='t-airports-4') Austrian Airlines
                            li.filter__li
                              input#t-airports-5.checkbox(type='checkbox')
                              label(for='t-airports-5') Qatar Airways
                            li.filter__li
                              input#t-airports-6.checkbox(type='checkbox')
                              label(for='t-airports-6') Etihad Airways
                            li.filter__li
                              input#t-airports-7.checkbox(type='checkbox')
                              label(for='t-airports-7') Emirates
                            li.filter__li
                              input#t-airports-8.checkbox(type='checkbox')
                              label(for='t-airports-8') Austrian Airlines
                            li.filter__li
                              input#t-airports-9.checkbox(type='checkbox')
                              label(for='t-airports-9') Qatar Airways

                      fieldset.filter__item.filter__item_dropdown.filter__item_dropdown_active.js-filter__item_dropdown
                        strong.filter__title.js-filter__title Перелет
                          svg.filter__title-icon
                            use(xlink:href='#caret-down')
                        .filter__content.js-filter__content
                          ul.filter__list
                            li.filter__li
                              input#t-flight-1.checkbox(type='checkbox')
                              label(for='t-flight-1') Прямой
                            li.filter__li
                              input#t-flight-2.checkbox(type='checkbox')
                              label(for='t-flight-2') Непрямой
                            li.filter__li
                              input#t-flight-3.checkbox(type='checkbox')
                              label(for='t-flight-3') Все
                      fieldset.filter__item.filter__item_dropdown.filter__item_dropdown_active.js-filter__item_dropdown
                        strong.filter__title.js-filter__title Виды отдыха
                          svg.filter__title-icon
                            use(xlink:href='#caret-down')
                        .filter__content.js-filter__content
                          ul.filter__list
                            li.filter__li
                              input#t-rest-1(type='checkbox')
                              label(for='t-rest-1') Все включено
                            li.filter__li
                              input#t-rest-2(type='checkbox')
                              label(for='t-rest-2') Пляж
                            li.filter__li
                              input#t-rest-3(type='checkbox')
                              label(for='t-rest-3') Город
                            li.filter__li
                              input#t-rest-4(type='checkbox')
                              label(for='t-rest-4') Семейных отдых
                            li.filter__li
                              input#t-rest-5(type='checkbox')
                              label(for='t-rest-5') Отдых с детьми
                            li.filter__li
                              input#t-rest-6(type='checkbox')
                              label(for='t-rest-6') Молодожены
                            li.filter__li
                              input#t-rest-7(type='checkbox')
                              label(for='t-rest-7') Экономичных отдых
                            li.filter__li
                              input#t-rest-8(type='checkbox')
                              label(for='t-rest-8') LUXE коллекция
                            li.filter__li
                              input#t-rest-9(type='checkbox')
                              label(for='t-rest-9') Эксклюзив
                            li.filter__li
                              input#t-rest-10(type='checkbox')
                              label(for='t-rest-10') Только для взрослых
                            li.filter__li
                              input#t-rest-11(type='checkbox')
                              label(for='t-rest-11') SPA
                            li.filter__li
                              input#t-rest-12(type='checkbox')
                              label(for='t-rest-12') Автобусные туры
                            li.filter__li
                              input#t-rest-13(type='checkbox')
                              label(for='t-rest-13') ЯХТА
                            li.filter__li
                              input#t-rest-14(type='checkbox')
                              label(for='t-rest-14') Рекомендованные отели
                            li.filter__li
                              input#t-rest-15(type='checkbox')
                              label(for='t-rest-15') Виллы и Сьюты
                .filter__buttons
                  button.filter__button.button(type='submit') Найдено 146
                  a.filter__reset.js-reset-filter(href='#') Сбросить фильтр
          .tabs__content(data-content='2')
            .filter
              a.filter__back.back.js-close-mobile-screen(href='#')
                svg.icon-arrow-left
                  use(xlink:href='#arrow-left')
                | Назад
              form.filter__form(action='#')
                .filter__scroll
                  .filter__inner
                    fieldset.filter__item
                      strong.filter__title Цена
                      .filter__content
                        .filter__range.range
                          .range__slider.js-init-range(data-min='0', data-max='1000000', data-value1='1000', data-value2='900000', data-step='10000')
                          .range__values
                            span.range__value
                              span.js-range-min
                              |  руб.
                            span.range__value
                              span.js-range-max
                              |  руб.
                    fieldset.filter__item
                      strong.filter__title Рейтинг отеля
                      .filter__content
                        .filter__range.range
                          .range__slider.js-init-range(data-min='0', data-max='10', data-value1='3.7', data-value2='10.0', data-step='0.1')
                          .range__values
                            span.range__value
                              span.js-range-min
                            span.range__value
                              span.js-range-max
                      fieldset.filter__item.filter__item_dropdown.filter__item_dropdown_active.js-filter__item_dropdown
                        strong.filter__title.js-filter__title Категория отеля
                          svg.filter__title-icon
                            use(xlink:href='#caret-down')
                        .filter__content.js-filter__content
                          ul.filter__list
                            - for (var i = 1; i <= 5; i++)
                              li.filter__li.filter__li_stars
                                input.checkbox--star-icon(type='checkbox' id='h-star-#{i}')
                                label(for='h-star-#{i}')
                                  span.stars-icons
                                    - for (var j = 0; j < i; j++)
                                        svg.icon-star
                                          use(xlink:href='#star-fill')

                      fieldset.filter__item.filter__item_dropdown.filter__item_dropdown_active.js-filter__item_dropdown
                        strong.filter__title.js-filter__title Питание
                          svg.filter__title-icon
                            use(xlink:href='#caret-down')
                        .filter__content.js-filter__content
                          ul.filter__list
                            li.filter__li
                              input#h-food-1.checkbox--has-icon(type='checkbox')
                              label(for='h-food-1')
                                span.icon-wrap
                                  svg.icon-no-food
                                    use(xlink:href='#no-food')
                                |                           Без питания
                            li.filter__li
                              input#h-food-2.checkbox--has-icon(type='checkbox')
                              label(for='h-food-2')
                                span.icon-wrap
                                  svg.icon-breakfest
                                    use(xlink:href='#breakfest')
                                |                           Только завтраки
                            li.filter__li
                              input#h-food-3.checkbox--has-icon(type='checkbox')
                              label(for='h-food-3')
                                span.icon-wrap
                                  svg.icon-lunch-alternative
                                    use(xlink:href='#lunch-alternative')
                                |                           Завтрак и ужин
                            li.filter__li
                              input#h-food-4.checkbox--has-icon(type='checkbox')
                              label(for='h-food-4')
                                span.icon-wrap
                                  svg.icon-lunch
                                    use(xlink:href='#lunch')
                                |                           Завтрак, обуд, ужин (без алкоголя)
                            li.filter__li
                              input#h-food-5.checkbox--has-icon(type='checkbox')
                              label(for='h-food-5')
                                span.icon-wrap
                                  svg.icon-coctail
                                    use(xlink:href='#coctail')
                                |                           Все включено
                      fieldset.filter__item.filter__item_dropdown.filter__item_dropdown_active.js-filter__item_dropdown
                        strong.filter__title.js-filter__title Типо номера
                          svg.filter__title-icon
                            use(xlink:href='#caret-down')
                        .filter__content.js-filter__content
                          ul.filter__list
                            li.filter__li
                              input#h-number-1.checkbox(type='checkbox')
                              label(for='h-number-1') одноместный
                            li.filter__li
                              input#h-number-2.checkbox(type='checkbox')
                              label(for='h-number-2') 2-местный
                            li.filter__li
                              input#h-number-3.checkbox(type='checkbox')
                              label(for='h-number-3') стандарт
                            li.filter__li
                              input#h-number-4.checkbox(type='checkbox')
                              label(for='h-number-4') люкс
                      fieldset.filter__item.filter__item_dropdown.filter__item_dropdown_active.js-filter__item_dropdown
                        strong.filter__title.js-filter__title Виды отдыха
                          svg.filter__title-icon
                            use(xlink:href='#caret-down')
                        .filter__content.js-filter__content
                          ul.filter__list
                            li.filter__li
                              input#h-rest-1(type='checkbox')
                              label(for='h-rest-1') Все включено
                            li.filter__li
                              input#h-rest-2(type='checkbox')
                              label(for='h-rest-2') Пляж
                            li.filter__li
                              input#h-rest-3(type='checkbox')
                              label(for='h-rest-3') Город
                            li.filter__li
                              input#h-rest-4(type='checkbox')
                              label(for='h-rest-4') Семейныхq
                .filter__buttons
                  button.filter__button.button(type='submit') Найдено 146
                  a.filter__reset.js-reset-filter(href='#') Сбросить фильтр
          .tabs__content(data-content='3') 3
        .main
          .value
            a.value__edit.js-call-mobile-screen(href='.search')
              svg.icon-pen
                use(xlink:href='#pen')
            .value__item
              span(data-sync='#input-from') Москва
              svg.value__arrow.icon-arrow-direction
                use(xlink:href='#arrow-direction')
              span(data-sync='#input-to') Фр. Полинезия
            .value__item
              span(data-sync='#input-people')
                strong 2
                |  взрослых 
                strong 1
                |  ребёнок,
              span(data-sync='#input-nignts')
                strong 10 авг.
                |  на 7 ночей ± 2
          .search.search--sm.js-mobile-screen
            a.search__back.back.js-close-mobile-screen(href='#')
              svg.icon-arrow-left
                use(xlink:href='#arrow-left')
              | Назад
            form(action='')
              .search__items
                .search__item
                  svg.search__icon.icon-compass
                    use(xlink:href='#compass')
                  input.search__input.js-init-autocomplete(type='text', placeholder='Куда', data-source='places')
                .search__item.search__item--lg.search__item--people
                  svg.search__icon.icon-people
                    use(xlink:href='#people')
                  input.search__input.js-init-people(type='text', readonly='true', placeholder='2 взрослых 0 детей')
                  svg.search__arrow
                    use(xlink:href='#caret-down')
                .search__item.search__item--lg
                  svg.search__icon.icon-calendar
                    use(xlink:href='#calendar')
                  input.search__input.js-init-calendar(type='text', readonly='true', placeholder='Выберите дату')
                  svg.search__arrow
                    use(xlink:href='#caret-down')
                .search__item
                  svg.search__icon.icon-location
                    use(xlink:href='#location')
                  input.search__input.js-init-autocomplete(type='text', placeholder='Из Москвы', data-source='from')
                  svg.search__arrow
                    use(xlink:href='#caret-down')
              strong.search__label Вы искали:
              .search__controls
                button.search__control.button.js-close-mobile-screen(type='submit') Найдено 146
                a.search__reset(href='#') Сбросить фильтр
          //- // people-drop
          .people-drop.dropdown__box
            .dropdown__triangle
            .people
              .people__item
                .people__top
                  svg.people__minus.icon-minus
                    use(xlink:href='#minus')
                  svg.icon-man
                    use(xlink:href='#man')
                  svg.people__plus.icon-plus
                    use(xlink:href='#plus')
                strong.people__value
                  | Взрослыx: 
                  input#input-adult.people__input(data-min='0', data-max='10', value='2')
              .people__item
                .people__top
                  svg.people__minus.icon-minus
                    use(xlink:href='#minus')
                  svg.icon-baby
                    use(xlink:href='#baby')
                  svg.people__plus.icon-plus
                    use(xlink:href='#plus')
                strong.people__value
                  | Детей: 
                  input#input-child.people__input(data-min='0', data-max='10', value='0')
          //- // people-drop end
          //- // calendar-drop
          .calendar-drop.dropdown__box
            .dropdown__triangle
            .calendar
              .calendar__top
                strong.calendar__title Выберите кол-во ночей
                .calendar__left
                  .calendar__amount
                    .calendar__minus
                      svg.icon-minus
                        use(xlink:href='#minus')
                    input.calendar__nights(type='text', value='7 ночей', data-min='0', data-max='100')
                    .calendar__plus
                      svg.icon-plus
                        use(xlink:href='#plus')
                .calendar__right
                  .calendar__toggle.toggle
                    input#input-calendar-1.radio--toggle(type='radio', name='calendar', value='1', checked='checked')
                    label(for='input-calendar-1') ± 2 Ночи
                    input#input-calendar-2.radio--toggle(type='radio', name='calendar', value='2')
                    label(for='input-calendar-2') Ровно
              .calendar__bottom
                strong.calendar__title Выберите дату вылета
                .calendar__datepicker
                button.calendar__button.button Сохранить
          - // calendar-drop end
            //
          .contactForm.contacts-form
              .container
                form.contactForm__inner
                  .contactForm__textTitle
                    span
                      | К сожалению, ничего не найдено
                  span.contactForm__description Наши менеджеры подберут для Вас
                    br
                    | идеальное предложение, учитывая все Ваши пожелания.
                  .contactForm__row
                    .contactForm__input
                      label(for="name") <span>*</span>Имя:
                      input(name="name" type="text" placeholder="Мария")
                    .contactForm__input
                      label(for="tel") <span>*</span>Телефон:
                      input(name="tel" type="tel" placeholder="+7 (925) 123 23 55")
                    .contactForm__input
                      label(for="email") <span>*</span>E-mail:
                      input(name="email" type="email" placeholder="ksenia@mail")
                  .contactForm__row
                    .contactForm__textarea
                      label(for="message") Сообщение:
                      textarea(name="message", cols="30", rows="10" placeholder="Напишите текст Вашего сообщения")
                  .contactForm__row
                    button.contactForm__button Отправить
    //- // MAIN CONTENT [END]
  //- // FOOTER FIX [END]
  //- FOOTER
  include layouts/footer.jade

  include layouts/modal-popups/thanks-for-subscribing
  include layouts/modal-popups/thanks-for-request