extends layouts/application.jade



block content
  .wrapper
    
    include layouts/header.jade    
    .contacts
      .container
        .contacts__title
          h1 Контакты
        .contacts__content
          .contacts__item.contacts__item_adress
            h2 Адрес:
            p 101000, г.Москва, ул. Маросейка, д. 2/15 (м. «Китай-город»)
          .contacts__item.contacts__item_worktime
            h2 Часы работы:
            p пн-пт 10.00-19.00 
            p сб 11.00-18.00
          .contacts__item.contacts__item_phone
            h2 Телефон:
            a(href="tel:+74959251111") +7 (495) 925-11-11
          .contacts__item.contacts__item_email
            h2 E-mail:
            a(href="mailto:info@maldiviana.com") info@maldiviana.com      
    .map
    
    .contactForm
      .container
        form.contactForm__inner
          .contactForm__textTitle 
              span
                |Связаться с нами
          .contactForm__row
            .contactForm__input
              label(for="name") <span>*</span> Имя:
              input(name="name" type="text" placeholder="Мария")
            .contactForm__input
              label(for="tel") <span>*</span> Телефон:
              input(name="tel" type="tel" placeholder="+7 (925) 123 23 55")
            .contactForm__input
              label(for="email") <span>*</span> E-mail:
              input(name="email" type="email" placeholder="ksenia@mail")
          .contactForm__row
            .contactForm__textarea
              label(for="message") Сообщение:
              textarea(name="message", cols="30", rows="10" placeholder="Напишите текст Вашего сообщения")
          .contactForm__row
            button.contactForm__button Отправить
           
    include layouts/footer.jade