extends layouts/application.jade



block content
  .wrapper.country-page.catalog-page
    include layouts/header.jade
    
    .container
        .catalog-looking-for
          .catalog-looking-for__content
            .catalog-looking-for__row
              span.catalog-looking-for__text Москва
              svg.catalog-looking-for__direction
                use(xlink:href='#arrow-direction')
              span.catalog-looking-for__text Фр. Полинезия
            .catalog-looking-for__row
              span.catalog-looking-for__text
                b 2
                = ' '
                | взрослых
                = ' '
                b 1
                = ' '
                | ребёнок,
                = ' '
                b 10 авг.
                = ' '
                | на 5-7 ночей
    
          svg.catalog-looking-for__pen
            use(xlink:href='#pen')
    
    h2.dNews__h2 Мальдивы– лучший отдых!
    //slider
    - var gallerySliderNoDescription = true
    include layouts/gallery-slider

    .countryTabs__layout
      .container
        #countryTabs
          ul.countryTabs__nav
            li
              a( href="#countryTabs-5") О стране
            li
              a( href="#countryTabs-2") История страны
            li
              a( href="#countryTabs-3") Виза
            li 
              a( href="#countryTabs-4") Экскурсии
            li 
              a( href="#countryTabs-1") Статьи

          p.mobShow.hotelsDescription__accordTitle.js-countryTabs.active О стране
          #countryTabs-5.countryTabs__block
            p test
          p.mobShow.hotelsDescription__accordTitle.js-countryTabs История страны
          #countryTabs-2.countryTabs__block
            .hotelsArticle__wrapper.excursionTab
              .hotelsArticle__content.__history
                .historyTab__item
                  .historyTab__image
                    img(src="images/country/countryhist-1.jpg", alt="")
                    img(src="images/country/countryhist-2.jpg", alt="")
                  .historyTab__description
                    .regionArticle__textTitle 
                      span
                        |История Мальдивских островов
                    .excursionTab__descriptionText
                      |  В 1982 г., основываясь на записках британского комиссара на Цейлоне Х. Белла (1879) и американского антрополога К. Мэлони ("Население Мальдивских островов", 1980), Тур Хейердал приступил к исследованию истории Мальдив.
                      | <br/>К тому времени уже было известно, что мальдивская культура появилась значительно раньше V в. до н.э., времени, когда на островах появились буддисты.
                      | <br/>Раскопки, предпринятые Хейердалом на атоллах Хуваду и Адду, позволили сделать вывод, что на островах существовала более древняя цивилизация, вероятно арийского происхождения, родившаяся в долине реки Инд приблизительно за 2000 лет до н.э. Хейердал дает новую интерпретацию "хавиттам", обнаруженным в XIX в. Х. Беллом. Он полагает, что эти курганы, сложенные из коралловых блоков, являлись культовыми святынями народа, поклонявшегося Солнцу. Камни, окруженные концентрическими линиями, а также такие необычные для Мальдив мотивы, как цветы подсолнечника и лотоса, указывают на то, что их авторами были представители самых древних цивилизаций.
                      | <br/><br/>Заинтригованный Хейердал узнал у местных старожилов, что на Мальдивах существует легенда о белокожих людях высокого роста с голубыми глазами, орлиными носами, удлиненными лицами и темными волосами. Эти люди назывались рединами. Их верования основывались на культе Солнца и сопровождались обрядами, главными действующими лицами которых были злые духи-джинны.
                      | <br/>Найденные при раскопках фрагменты керамики позволили датировать поселения рединов примерно 2000 г. до н.э.
                      | <br/><br/>На острове Ниланду, который находится на одинаковом расстоянии как от самого северного, так и от самого южного из Мальдивских островов, обнаружены следы еще одного племени, которое, вероятно, последовало за рединами. Этот народ назывался холинами. Их религиозные святилища были окружены скульптурами, напоминающими грибы-поганки. Когда мальдивцев спросили о происхождении этих людей, они вполне логично ответили, что холины пришли из земли холинов. Нам придется удовлетвориться этим ответом, так как нет ни одного научного исследования на эту тему.
                      | <br/>В западной части атолла Мале живет небольшая община гиравару (около 200 человек).
                      | <br/>Раньше они размещались на острове Гиравару, что к западу от Мале, а затем, когда на их родном острове начали строить международный аэропорт, переселились на Мале. Они претендуют на звание старейших жителей Мальдив, и их претензии, похоже, весьма обоснованы. Гиравару являются потомками тамилов, выходцев из южных районов Индии, хотя некоторые специалисты утверждают, что они близки австралийским аборигенам. Несмотря на заселение острова буддистами, а затем и принятие ислама, гиравару сохранили свои древние традиции и всегда считались в некотором роде изгоями.
                      | <br/>Похоже, что дни этого племени сочтены. Ассимиляция гиравару идет быстрыми темпами. Живя в другой среде, они постепенно утрачивают свои обычаи. Правда, женщины до сих пор завязывают волосы с правой стороны, в то время как все остальные мальдивки — с левой, и украшают свою одежду необычной серебряной вышивкой. Гиравару говорят с особым акцентом. Он отличается от произношения жителей атолла Мале, но довольно похож на акцент обитателей атолла Адду.  
                      | <br/>Остров Гиравару
                      | <br/>Остров Гиравару
                      | <br/>Буддисты и Индуисты
                      | <br/>Вторая волна заселения Мальдивских островов приходится на 500 г. до н.э. В эту эпоху с территории современной Шри-Ланки на острова прибыли буддисты. Они обосновались преимущественно на южных островах, где и построили свои святилища в честь Будды, похожие на дагобы (буддистские святыни в форме купола), на месте древних хавитов культуры рединов.
                .hotelsArticle__blockOpacity
              button.hotelsArticle__button Подробнее

          p.mobShow.hotelsDescription__accordTitle.js-countryTabs Виза
          #countryTabs-3.countryTabs__block
            p test

          p.mobShow.hotelsDescription__accordTitle.js-countryTabs Экскурсии
          #countryTabs-4.countryTabs__block
            .countryTabs__sorting
              //- .catalog-sort__desctop.holidayCreate__sort-inner
              span.countryTabs__sortingTitle Показать:
              ul.countryTabs__sortingList.js-sort
                li.countryTabs__sortingListItem.active
                  a.countryTabs__sortingLink(href='#', data-exctab="1") однодневные
                li.countryTabs__sortingListItem
                  a.countryTabs__sortingLink(href='#', data-exctab="2") многодневные
                li.countryTabs__sortingListItem
                  a.countryTabs__sortingLink(href='#', data-exctab="3") все
                  
            .countryTabs__excursion.active(data-excursion="1")
              p.excursion__toptext Все экскурсии на Мальдивских островах организуются отелями, и набор экскурсий отеля<br> может отличаться, в зависимости от расположения острова.<br> Проведение некоторых экскурсий зависит от погоды и набора группы.<br> Рекомендуем планировать экскурсии в первые дни пребывания в отеле, чтобы не пропустить интересующую вас экскурсию.<br> Всю информацию об экскурсиях можно найти на демонстрационных стендах отеля, расположенных рядом со стойкой ресепшена.
              
              .excursionTab__item.excursionTab__item_type1
                .excursionTab__image
                  img(src="images/country/country.jpg", alt="")
                .excursionTab__description
                  .excursionTab__descriptionTitle Рыбалка/Fishing
                  p.excursionTab__descriptionInfo Рыбалка на местной лодке дони (dhoni) 2-3 часа.
                  p.excursionTab__descriptionInfo Средняя стоимость экскурсии $ 20-30
                  .excursionTab__descriptionText
                    |  Цена включает барбекю из пойманной рыбы в этот или на следующий день. окруженные концентрическими линиями, а также такие необычные для Мальдив мотивы, как цветы подсолнечника и лотоса, указывают на то, что их авторами были представители самых древних цивилизаций.
                    
              .excursionTab__item.excursionTab__item_type1
                .excursionTab__image
                  img(src="images/country/country.jpg", alt="")
                .excursionTab__description
                  .excursionTab__descriptionTitle Экскурсия по островам/Island Hopping
                  p.excursionTab__descriptionInfo Продолжительность - ½ дня, целый день.
                  p.excursionTab__descriptionInfo Средняя стоимость экскурсии $ 35-50.
                  .excursionTab__descriptionText
                    |  Обычно включает в себя посещение четырёх островов - 2 соседних острова-отеля, рыбацкую деревушку, необитаемый остров.
                    
              .excursionTab__item.excursionTab__item_type1
                .excursionTab__image
                  img(src="images/country/country.jpg", alt="")
                .excursionTab__description
                  .excursionTab__descriptionTitle Рыбалка/Fishing
                  p.excursionTab__descriptionInfo Рыбалка на местной лодке дони (dhoni) 2-3 часа.
                  p.excursionTab__descriptionInfo Средняя стоимость экскурсии $ 20-30
                  .excursionTab__descriptionText
                    |  Цена включает барбекю из пойманной рыбы в этот или на следующий день. окруженные концентрическими линиями, а также такие необычные для Мальдив мотивы, как цветы подсолнечника и лотоса, указывают на то, что их авторами были представители самых древних цивилизаций.
                    
              .excursionTab__item.excursionTab__item_type1
                .excursionTab__image
                  img(src="images/country/country.jpg", alt="")
                .excursionTab__description
                  .excursionTab__descriptionTitle Экскурсия по островам/Island Hopping
                  p.excursionTab__descriptionInfo Продолжительность - ½ дня, целый день.
                  p.excursionTab__descriptionInfo Средняя стоимость экскурсии $ 35-50.
                  .excursionTab__descriptionText
                    |  Обычно включает в себя посещение четырёх островов - 2 соседних острова-отеля, рыбацкую деревушку, необитаемый остров.<br> окруженные концентрическими линиями, а также такие необычные для Мальдив мотивы, как цветы подсолнечника и лотоса, указывают на то, что их авторами были представители самых древних цивилизаций.

            .countryTabs__excursion(data-excursion="2")
              .hotelsArticle__wrapper.excursionTab
                .hotelsArticle__content
                  .excursionTab__item
                    .excursionTab__image
                      img(src="images/country/country.jpg", alt="")
                    .excursionTab__description
                      .excursionTab__descriptionTitle test
                      .excursionTab__descriptionText
                        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus molestiae ipsa atque nobis facilis, eligendi suscipit porro similique quis corrupti earum adipisci error aspernatur eos praesentium, iste recusandae architecto molestias magnam. Similique rerum doloribus hic voluptate, molestias fuga debitis veniam, molestiae a qui praesentium quas commodi sint tempore distinctio consequatur.
                      ul.hotelsDescription__list
                        .hotelsDescription__name В отеле:
                        li.hotelsDescription__li завтраки, обеды, ужины;
                        li.hotelsDescription__li закуски;
                        li.hotelsDescription__li столовое вино, крепкий алкоголь, коктейли, пиво, безалкогольные напитки и пакетированные соки, бутылированная вода, чай и кофе;
                        li.hotelsDescription__li тренажерный зал, бадминтон, настольный теннис, бильярд, пляжный волейбол, сквош.
                  .excursionTab__item
                    .excursionTab__image
                      img(src="images/country/country.jpg", alt="")
                    .excursionTab__description
                      .excursionTab__descriptionSubTitle day 1
                      .excursionTab__descriptionText
                        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus molestiae ipsa atque nobis facilis, eligendi suscipit porro similique quis corrupti earum adipisci error aspernatur eos praesentium, iste recusandae architecto molestias magnam. Similique rerum doloribus hic voluptate, molestias fuga debitis veniam, molestiae a qui praesentium quas commodi sint tempore distinctio consequatur.
                      ul.hotelsDescription__list
                        .hotelsDescription__name В отеле:
                        li.hotelsDescription__li завтраки, обеды, ужины;
                        li.hotelsDescription__li закуски;
                        li.hotelsDescription__li столовое вино, крепкий алкоголь, коктейли, пиво, безалкогольные напитки и пакетированные соки, бутылированная вода, чай и кофе;
                        li.hotelsDescription__li тренажерный зал, бадминтон, настольный теннис, бильярд, пляжный волейбол, сквош.
                  .excursionTab__item
                    .excursionTab__image
                      img(src="images/country/country.jpg", alt="")
                    .excursionTab__description
                      .excursionTab__descriptionSubTitle day 2
                      .excursionTab__descriptionText
                        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus molestiae ipsa atque nobis facilis, eligendi suscipit porro similique quis corrupti earum adipisci error aspernatur eos praesentium, iste recusandae architecto molestias magnam. Similique rerum doloribus hic voluptate, molestias fuga debitis veniam, molestiae a qui praesentium quas commodi sint tempore distinctio consequatur.
                      ul.hotelsDescription__list
                        .hotelsDescription__name В отеле:
                        li.hotelsDescription__li завтраки, обеды, ужины;
                        li.hotelsDescription__li закуски;
                        li.hotelsDescription__li столовое вино, крепкий алкоголь, коктейли, пиво, безалкогольные напитки и пакетированные соки, бутылированная вода, чай и кофе;
                        li.hotelsDescription__li тренажерный зал, бадминтон, настольный теннис, бильярд, пляжный волейбол, сквош.
                  .excursionTab__item
                    .excursionTab__image
                      img(src="images/country/country.jpg", alt="")
                    .excursionTab__description
                      .excursionTab__descriptionSubTitle day 3
                      .excursionTab__descriptionText
                        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus molestiae ipsa atque nobis facilis, eligendi suscipit porro similique quis corrupti earum adipisci error aspernatur eos praesentium, iste recusandae architecto molestias magnam. Similique rerum doloribus hic voluptate, molestias fuga debitis veniam, molestiae a qui praesentium quas commodi sint tempore distinctio consequatur.
                      ul.hotelsDescription__list
                        .hotelsDescription__name В отеле:
                        li.hotelsDescription__li завтраки, обеды, ужины;
                        li.hotelsDescription__li закуски;
                        li.hotelsDescription__li столовое вино, крепкий алкоголь, коктейли, пиво, безалкогольные напитки и пакетированные соки, бутылированная вода, чай и кофе;
                        li.hotelsDescription__li тренажерный зал, бадминтон, настольный теннис, бильярд, пляжный волейбол, сквош.
                  .hotelsArticle__blockOpacity
                button.hotelsArticle__button Подробнее
  
              .hotelsArticle__wrapper.excursionTab
                .hotelsArticle__content
                  .excursionTab__item
                    .excursionTab__image
                      img(src="images/country/country.jpg", alt="")
                    .excursionTab__description
                      .excursionTab__descriptionTitle test
                      .excursionTab__descriptionText
                        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus molestiae ipsa atque nobis facilis, eligendi suscipit porro similique quis corrupti earum adipisci error aspernatur eos praesentium, iste recusandae architecto molestias magnam. Similique rerum doloribus hic voluptate, molestias fuga debitis veniam, molestiae a qui praesentium quas commodi sint tempore distinctio consequatur.
                      ul.hotelsDescription__list
                        .hotelsDescription__name В отеле:
                        li.hotelsDescription__li завтраки, обеды, ужины;
                        li.hotelsDescription__li закуски;
                        li.hotelsDescription__li столовое вино, крепкий алкоголь, коктейли, пиво, безалкогольные напитки и пакетированные соки, бутылированная вода, чай и кофе;
                        li.hotelsDescription__li тренажерный зал, бадминтон, настольный теннис, бильярд, пляжный волейбол, сквош.
                  .excursionTab__item
                    .excursionTab__image
                      img(src="images/country/country.jpg", alt="")
                    .excursionTab__description
                      .excursionTab__descriptionSubTitle day 1
                      .excursionTab__descriptionText
                        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus molestiae ipsa atque nobis facilis, eligendi suscipit porro similique quis corrupti earum adipisci error aspernatur eos praesentium, iste recusandae architecto molestias magnam. Similique rerum doloribus hic voluptate, molestias fuga debitis veniam, molestiae a qui praesentium quas commodi sint tempore distinctio consequatur.
                      ul.hotelsDescription__list
                        .hotelsDescription__name В отеле:
                        li.hotelsDescription__li завтраки, обеды, ужины;
                        li.hotelsDescription__li закуски;
                        li.hotelsDescription__li столовое вино, крепкий алкоголь, коктейли, пиво, безалкогольные напитки и пакетированные соки, бутылированная вода, чай и кофе;
                        li.hotelsDescription__li тренажерный зал, бадминтон, настольный теннис, бильярд, пляжный волейбол, сквош.
                  .excursionTab__item
                    .excursionTab__image
                      img(src="images/country/country.jpg", alt="")
                    .excursionTab__description
                      .excursionTab__descriptionSubTitle day 2
                      .excursionTab__descriptionText
                        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus molestiae ipsa atque nobis facilis, eligendi suscipit porro similique quis corrupti earum adipisci error aspernatur eos praesentium, iste recusandae architecto molestias magnam. Similique rerum doloribus hic voluptate, molestias fuga debitis veniam, molestiae a qui praesentium quas commodi sint tempore distinctio consequatur.
                      ul.hotelsDescription__list
                        .hotelsDescription__name В отеле:
                        li.hotelsDescription__li завтраки, обеды, ужины;
                        li.hotelsDescription__li закуски;
                        li.hotelsDescription__li столовое вино, крепкий алкоголь, коктейли, пиво, безалкогольные напитки и пакетированные соки, бутылированная вода, чай и кофе;
                        li.hotelsDescription__li тренажерный зал, бадминтон, настольный теннис, бильярд, пляжный волейбол, сквош.
                  .excursionTab__item
                    .excursionTab__image
                      img(src="images/country/country.jpg", alt="")
                    .excursionTab__description
                      .excursionTab__descriptionSubTitle day 3
                      .excursionTab__descriptionText
                        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus molestiae ipsa atque nobis facilis, eligendi suscipit porro similique quis corrupti earum adipisci error aspernatur eos praesentium, iste recusandae architecto molestias magnam. Similique rerum doloribus hic voluptate, molestias fuga debitis veniam, molestiae a qui praesentium quas commodi sint tempore distinctio consequatur.
                      ul.hotelsDescription__list
                        .hotelsDescription__name В отеле:
                        li.hotelsDescription__li завтраки, обеды, ужины;
                        li.hotelsDescription__li закуски;
                        li.hotelsDescription__li столовое вино, крепкий алкоголь, коктейли, пиво, безалкогольные напитки и пакетированные соки, бутылированная вода, чай и кофе;
                        li.hotelsDescription__li тренажерный зал, бадминтон, настольный теннис, бильярд, пляжный волейбол, сквош.
                  .hotelsArticle__blockOpacity
                button.hotelsArticle__button Подробнее
                
            .countryTabs__excursion(data-excursion="3")
              .excursionTab__item.excursionTab__item_type3
                .excursionTab__image
                  img(src="images/country/country.jpg", alt="")
                .excursionTab__description
                  .excursionTab__descriptionTitle Остров Джеймс Бонда в Тайланде
                  .excursionTab__descriptionText
                    |  В 1982 г., основываясь на записках британского комиссара на Цейлоне Х. Белла (1879) и американского антрополога К. Мэлони ("Население Мальдивских островов", 1980), Тур Хейердал приступил к исследованию истории Мальдив.<br> К тому времени уже было известно, что мальдивская культура появилась значительно раньше V в. до н.э., времени, когда на островах появились буддисты.
                  .excursionTab__descriptionText
                    |  Раскопки, предпринятые Хейердалом на атоллах Хуваду и Адду, позволили сделать вывод, что на островах существовала более древняя цивилизация, вероятно арийского происхождения, родившаяся в долине реки Инд приблизительно за 2000 лет до н.э. Хейердал дает новую интерпретацию "хавиттам", обнаруженным в XIX в. Х. Беллом. Он полагает, что эти курганы, сложенные из коралловых блоков, являлись культовыми святынями народа, поклонявшегося Солнцу. Камни, 
                    
              .excursionTab__item.excursionTab__item_type3
                .excursionTab__image
                  img(src="images/country/country.jpg", alt="")
                .excursionTab__description
                  .excursionTab__descriptionTitle Экскурсия в пещеру Пханг Нга
                  .excursionTab__descriptionText
                    |  В 1982 г., основываясь на записках британского комиссара на Цейлоне Х. Белла (1879) и американского антрополога К. Мэлони ("Население Мальдивских островов", 1980), Тур Хейердал приступил к исследованию истории Мальдив.<br> К тому времени уже было известно, что мальдивская культура появилась значительно раньше V в. до н.э., времени, когда на островах появились буддисты.
                  ul.hotelsDescription__list
                    .hotelsDescription__name Включено:
                    li.hotelsDescription__li Транспорт;
                    li.hotelsDescription__li Трансферы из отеля и в отель;
                    li.hotelsDescription__li Прохладительные напитки;
                    li.hotelsDescription__li Услуги русскоговорящего гида.
                    
              .excursionTab__item.excursionTab__item_type3
                .excursionTab__image
                  img(src="images/country/country.jpg", alt="")
                .excursionTab__description
                  .excursionTab__descriptionTitle Велосипед на Краби
                  .excursionTab__descriptionText
                    |  В 1982 г., основываясь на записках британского комиссара на Цейлоне Х. Белла (1879) и американского антрополога К. Мэлони ("Население Мальдивских островов", 1980), Тур Хейердал приступил к исследованию истории Мальдив.<br> К тому времени уже было известно, что мальдивская культура появилась значительно раньше V в. до н.э., времени, когда на островах появились буддисты.
                  .excursionTab__descriptionText
                    |  Раскопки, предпринятые Хейердалом на атоллах Хуваду и Адду, позволили сделать вывод, что на островах существовала более древняя цивилизация, вероятно арийского происхождения, родившаяся в долине реки Инд приблизительно за 2000 лет до н.э. Хейердал дает новую интерпретацию "хавиттам", обнаруженным в XIX в. Х. Беллом. Он полагает, что эти курганы, сложенные из коралловых блоков, являлись культовыми святынями народа, поклонявшегося Солнцу. Камни, окруженные концентрическими линиями, а также такие необычные для Мальдив мотивы, как цветы подсолнечника и лотоса, указывают на то, что их авторами были представители самых древних цивилизаций.
                    
              .excursionTab__item.excursionTab__item_type3
                .excursionTab__image
                  img(src="images/country/country.jpg", alt="")
                .excursionTab__description
                  .excursionTab__descriptionTitle Пейнтбол на Самуи
                  .excursionTab__descriptionText
                    |  В 1982 г., основываясь на записках британского комиссара на Цейлоне Х. Белла (1879) и американского антрополога К. Мэлони ("Население Мальдивских островов", 1980), Тур Хейердал приступил к исследованию истории Мальдив.<br> К тому времени уже было известно, что мальдивская культура появилась значительно раньше V в. до н.э., времени, когда на островах появились буддисты.
                  .excursionTab__descriptionText
                    |  Раскопки, предпринятые Хейердалом на атоллах Хуваду и Адду, позволили сделать вывод, что на островах существовала более древняя цивилизация, вероятно арийского происхождения, родившаяся в долине реки Инд приблизительно за 2000 лет до н.э. Хейердал дает новую интерпретацию "хавиттам", обнаруженным в XIX в. Х. Беллом. Он полагает, что эти курганы, сложенные из коралловых блоков, являлись культовыми святынями народа, поклонявшегося Солнцу. Камни,

          p.mobShow.hotelsDescription__accordTitle.js-countryTabs Статьи
          #countryTabs-1.countryTabs__block
            .other-news
              .other-news__collumn
                include layouts/news__item.jade
              .other-news__collumn
                include layouts/news__item.jade
              .other-news__collumn
                include layouts/news__item.jade
              .other-news__collumn
                include layouts/news__item.jade

              .other-news__collumn
                include layouts/news__item.jade
              .other-news__collumn
                include layouts/news__item.jade
              .other-news__collumn
                include layouts/news__item.jade
              .other-news__collumn
                include layouts/news__item.jade

    .filterCountry
      .section__title.filterCountry__title
        h2.h2 Подобрать тур
      .container
        button.filter__buttonMob Фильтр
        include layouts/filter__base.jade
      .container
        .filterCountry__options
          .filterCountry__optionsColumn
            li
              input#countryOption-1.checkbox--inline(type='checkbox')
              label(for='countryOption-1') Все включено
            li
              input#countryOption-2.checkbox--inline(type='checkbox')
              label(for='countryOption-2') Пляж
            li
              input#countryOption-3.checkbox--inline(type='checkbox')
              label(for='countryOption-3') Город
            li
              input#countryOption-4.checkbox--inline(type='checkbox')
              label(for='countryOption-4') Семейный отдых

          .filterCountry__optionsColumn
            li
              input#countryOption-5.checkbox--inline(type='checkbox')
              label(for='countryOption-5') Отдых с детьми
            li
              input#countryOption-6.checkbox--inline(type='checkbox')
              label(for='countryOption-6') Молодожены
            li
              input#countryOption-7.checkbox--inline(type='checkbox')
              label(for='countryOption-7') Экономичный отдых
            li
              input#countryOption-8.checkbox--inline(type='checkbox')
              label(for='countryOption-8') LUXE коллекция

          .filterCountry__optionsColumn
            li
              input#countryOption-9.checkbox--inline(type='checkbox')
              label(for='countryOption-9') Эксклюзив
            li
              input#countryOption-10.checkbox--inline(type='checkbox')
              label(for='countryOption-10') Только для взрослых
            li
              input#countryOption-11.checkbox--inline(type='checkbox')
              label(for='countryOption-11') SPA
            li
              input#countryOption-12.checkbox--inline(type='checkbox')
              label(for='countryOption-12') Автобусные туры 

          .filterCountry__optionsColumn
            li
              input#countryOption-13.checkbox--inline(type='checkbox')
              label(for='countryOption-13') ЯХТА
            li
              input#countryOption-14.checkbox--inline(type='checkbox')
              label(for='countryOption-14') Рекомендованные отели
            li
              input#countryOption-15.checkbox--inline(type='checkbox')
              label(for='countryOption-15') Виллы и Сьюты

      .container.filterCountry__hotels
        include layouts/hotels__around.jade
        a.button.filterCountry__button Все отели
           
    .typesHoliday
      .section__title
        h2.h2 Типы отдыха
      .container
        include layouts/types__holiday.jade

    .regionCountry
      .section__title
        h2.h2 Другие страны в этом регионе
      .container
        ul.category__list
          li.category__list-item
            .category-card
              a(href='#')
                img(src='images/region/country-2.jpg', alt='')
                span.category-card__title
                  | шри-ланка
          li.category__list-item
            .category-card
              a(href='#')
                img(src='images/region/country-3.jpg', alt='')
                span.category-card__title
                  | сейшелы
          li.category__list-item
            .category-card
              a(href='#')
                img(src='images/region/country-4.jpg', alt='')
                span.category-card__title
                  | дайвинг-сафари

    include layouts/special__offers.jade

    .otherRegions
      .section__title.regionHotelsSlider__title
        h2.h2 Другие регионы

      .otherRegions__slider-wrapper
        div.otherRegions__button.otherRegions__button_prev.js-otherRegions__button_prev
          svg.otherRegions__button-icon
            use(xlink:href="#arrow-left")

        div.otherRegions__button.otherRegions__button_next.js-otherRegions__button_next
          svg.otherRegions__button-icon
            use(xlink:href="#arrow-right")

        .otherRegions__slider.js-otherRegions__slider.swiper-container.container
          ul.otherRegions__items.swiper-wrapper
            - for (var i = 0; i < 2; i++)
              li.otherRegions__item.swiper-slide
                img(src='images/region/otherregions.jpg' alt='').otherRegions__image
                a(href='#').otherRegions__name Азия, Ближний и Средний Восток


    .contactForm
      .container
        form.contactForm__inner
          .contactForm__textTitle
            span
              | Выберите страну по вкусу
          .contactForm__description  Наши менеджеры подберут для вас идеальное предложение, учитывая все Ваши пожелания.

          .contactForm__row
            .contactForm__input
              label(for="") <span>*</span>Имя:
              input(name="name" type="text" placeholder="Mария")
            .contactForm__input
              label(for="") <span>*</span>Телефон:
              input(name="tel" type="text" placeholder="+7 (925) 123 23 55")
            .contactForm__input
              label(for="") <span>*</span>E-mail:
              input(name="email" type="text" placeholder="ksenia@mail.ru")
          .contactForm__row
            .contactForm__textarea
              label(for="") Сообщение:
              textarea(name="message", cols="30", rows="10" placeholder="Напишите текст Вашего сообщения")
          .contactForm__row
            button.contactForm__button Отправить
      

          
  include layouts/footer.jade