extends layouts/application.jade



block content
  //- include layouts/header.jade
  //- include layouts/main.jade
  //- include layouts/about.jade
  //- include layouts/consultate.jade
  
  .wrapper
    //- // HEADER
    include layouts/header.jade


    .sliderMain
      .sliderMain-bg(style="background:url('images/slider/slider-hotels-1.jpg') no-repeat center;min-height: 400px;")
        .container.sliderMain-wrapper
          .sliderMain-info
            p.sliderMain-price от 5500 $
            .sliderMain-name
              span test1
              span.sliderMain-star text
      .sliderMain-bg(style="background:url('images/slider/slider-hotels-1.jpg') no-repeat center;min-height: 400px;")
        .container.sliderMain-wrapper
          .sliderMain-info
            p.sliderMain-price от 5500 $
            .sliderMain-name
              span test2
              span.sliderMain-star text
      .sliderMain-bg(style="background:url('images/slider/slider-hotels-1.jpg') no-repeat center;min-height: 400px;")
        .container.sliderMain-wrapper
          .sliderMain-info
            p.sliderMain-price от 5500 $
            .sliderMain-name
              span test3
              span.sliderMain-star text
    .sliderMain-nav
      //- a.sliderMain-nav__controlPrev(href="")
      //- a.sliderMain-nav__controlNext(href="")
      a(href="")
        .sliderMain-nav__video
          img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
    .calendar-price
      .section__title
        h2.h2 Календарь цен
      .container.calendarSlider        

    .dSubscribePrice
        .dSubscribePrice__title Cледите за изменением цен
        p(style="text-align:center;color:#fff;") Получайте письма о понижении цен на Вашу почту
        form.short-form.dSubscribePrice__form(action="")
          input(type='text', placeholder='Ваш E-mail')
          button.subscribe-button(type='submit', data-href='#subscribe-popup')
            svg
                use(xlink:href='#arrow-right' )
    .container
      #hotelsTabs
        ul.hotelsTabs__nav
          li
            a(style="height:20px;width:20px;" href="#hotelsTabs-1") 1
          li
            a(style="height:20px;width:20px;" href="#hotelsTabs-2") 1
          li
            a(style="height:20px;width:20px;" href="#hotelsTabs-3") 1
          li
            a(style="height:20px;width:20px;" href="#hotelsTabs-4") 1
        #hotelsTabs-1(style="height:400px;widht:400px;background:#000;")
          #mapPrice(style="height:400px;width:100%;border-radius:12px;")
        #hotelsTabs-2(style="height:400px;widht:400px;background:#000;")
        #hotelsTabs-3(style="height:400px;widht:400px;background:#000;")
        #hotelsTabs-4(style="height:400px;widht:400px;background:#000;")
      
              
        


      



  include layouts/footer.jade