extends layouts/application.jade



block content
  //- include layouts/header.jade
  //- include layouts/main.jade
  //- include layouts/about.jade
  //- include layouts/consultate.jade
  
  .wrapper
    //- // HEADER
    include layouts/header.jade


    .sliderMain
      .sliderMain-bg(style="background:url('images/slider/slider-hotels-1.jpg') no-repeat center;min-height: 400px;")
        .container.sliderMain-wrapper
          .sliderMain-info
            p.sliderMain-price от 5500 $
            .sliderMain-name
              span test1
              span.sliderMain-star text
      .sliderMain-bg(style="background:url('images/slider/slider-hotels-1.jpg') no-repeat center;min-height: 400px;")
        .container.sliderMain-wrapper
          .sliderMain-info
            p.sliderMain-price от 5500 $
            .sliderMain-name
              span test2
              span.sliderMain-star text
      .sliderMain-bg(style="background:url('images/slider/slider-hotels-1.jpg') no-repeat center;min-height: 400px;")
        .container.sliderMain-wrapper
          .sliderMain-info
            p.sliderMain-price от 5500 $
            .sliderMain-name
              span test3
              span.sliderMain-star text
    .sliderMain-nav
      //- a.sliderMain-nav__controlPrev(href="")
      //- a.sliderMain-nav__controlNext(href="")
      a(href="")
        .sliderMain-nav__video
          img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
    .calendar-price
      .section__title
        h2.h2 Календарь цен
      .container.calendarSlider        

    .dSubscribePrice
        .dSubscribePrice__title Cледите за изменением цен
        p(style="text-align:center;color:#fff;") Получайте письма о понижении цен на Вашу почту
        form.short-form.dSubscribePrice__form(action="")
          input(type='text', placeholder='Ваш E-mail')
          button.subscribe-button(type='submit', data-href='#subscribe-popup')
            svg
                use(xlink:href='#arrow-right' )
    .container
      #hotelsTabs
        ul.hotelsTabs__nav
          li
            a(style="height:20px;width:20px;" href="#hotelsTabs-1") Описание тура
          li
            a#map-link(style="height:20px;width:20px;" href="#hotelsTabs-2") Отель на карте
          li
            a(style="height:20px;width:20px;" href="#hotelsTabs-3") Бонусы и акции
          li 
            a#sliderFeedback(style="height:20px;width:20px;" href="#hotelsTabs-4") Отзывы
        #hotelsTabs-1.hotelsTabs__block
          .hotelsDescription
            .hotelsDescription__column
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#elefan' x="0" y="0")
                .hotelsDescription__title Месторасположение:
                .hotelsDescription__value остров Эллайду в Ари Атолле 
                .hotelsDescription__value Расстояние до международного аэропорта<br/> IBRAHIM Nasir: 42 км
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#elefan' x="0" y="0")
                .hotelsDescription__title Размеры острова:
                .hotelsDescription__value остров Эллайду в Ари Атолле
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#elefan' x="0" y="0")
                .hotelsDescription__title Трансфер:
                .hotelsDescription__value остров Эллайду в Ари Атолле
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#elefan' x="0" y="0")
                .hotelsDescription__title В отеле:
                ul.hotelsDescription__list 
                  li.hotelsDescription__li бассейн
                  li.hotelsDescription__li SPA
                  
            .hotelsDescription__column
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#elefan' x="0" y="0")
                .hotelsDescription__title В отеле:

                ul.hotelsDescription__list
                  .hotelsDescription__name В отеле:
                  li.hotelsDescription__li завтраки, обеды, ужины;
                  li.hotelsDescription__li закуски;
                  li.hotelsDescription__li столовое вино, крепкий алкоголь, коктейли, пиво, безалкогольные напитки и пакетированные соки, бутылированная вода, чай и кофе;
                  li.hotelsDescription__li тренажерный зал, бадминтон, настольный теннис, бильярд, пляжный волейбол, сквош.
                ul.hotelsDescription__list
                  .hotelsDescription__name В отеле:
                  li.hotelsDescription__li завтраки, обеды, ужины;
                  li.hotelsDescription__li закуски;
                  li.hotelsDescription__li столовое вино, крепкий алкоголь, коктейли, пиво, безалкогольные напитки и пакетированные соки, бутылированная вода, чай и кофе;
                  li.hotelsDescription__li тренажерный зал, бадминтон, настольный теннис, бильярд, пляжный волейбол, сквош.
            .hotelsDescription__column
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#elefan' x="0" y="0")
                .hotelsDescription__title В отеле:

                ul.hotelsDescription__list
                  .hotelsDescription__name В отеле:
                  li.hotelsDescription__li завтраки, обеды, ужины;
                  li.hotelsDescription__li закуски;
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#elefan' x="0" y="0")
                .hotelsDescription__title В отеле:

                ul.hotelsDescription__list
                  .hotelsDescription__name В отеле:
                  li.hotelsDescription__li завтраки, обеды, ужины;
                  li.hotelsDescription__li закуски;
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#elefan' x="0" y="0")
                .hotelsDescription__title В отеле:

                ul.hotelsDescription__list
                  .hotelsDescription__name В отеле:
                  li.hotelsDescription__li завтраки, обеды, ужины;
                  li.hotelsDescription__li закуски;
        #hotelsTabs-2.hotelsTabs__block
          #mapPrice(style="height:400px;width:100%;border-radius:12px;")
        #hotelsTabs-3.hotelsTabs__block
          .hotelsTabs__bonus
            a.hotelsBonus__column(style="background:url(images/bonus/bonus-1.jpg) no-repeat 50%;" href="")
              .hotelsBonus__name 20% скидка на проживание
              .hotelsBonus__info  Бесплатное проживание и питание для детей до 7 лет в номере с двумя оплаченными взрослыми. 
              .hotelsBonus__info  Бесплатная вода в главном ресторане отеля во время завтраков, обедов и ужинов (согласно оплаченному типу питания).
              .hotelsBonus__border-bottom
              .hotelsBonus__date 
                p.hotelsBonus__date-name Период действия
                p.hotelsBonus__date-value 26.12.2016 - 16.04.2017
            a.hotelsBonus__column(style="background:url(images/bonus/bonus-2.jpg) no-repeat 50%;" href="")
              .hotelsBonus__name Бонус молодоженам, а также отмечающим "серебряную" и "золотую" свадьбу
              .hotelsBonus__info  Бутылка вина
              .hotelsBonus__info  Корзина фруктов
              .hotelsBonus__border-bottom 
              .hotelsBonus__date 
                p.hotelsBonus__date-name Период действия
                p.hotelsBonus__date-value 26.12.2016 - 16.04.2017
        #hotelsTabs-4.hotelsTabs__block
          include layouts/feedback.jade
    .holidayCreate
      .section__title
        h2.h2 Создай свой идеальный отдых
      .holidayCreate__filter
        
        include layouts/filter__hotels.jade
      .holidayCreate__slider
        
        #sliderNumbers.container
          .numbersSlider__item
            .sliderNumber.numbersSlider__images
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__value tests2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__price 2350$
            form.numbersSlider__form(action="")
              .numbersSlider__checkbox
              .numbersSlider__labelCheckbox номер выбран
          
          .numbersSlider__item
            .sliderNumber.numbersSlider__images
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__value tests2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__price 2350$
            form.numbersSlider__form(action="")
              .numbersSlider__checkbox
              .numbersSlider__labelCheckbox номер выбран
          
          .numbersSlider__item
            .sliderNumber.numbersSlider__images
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__value tests2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__price 2350$
            form.numbersSlider__form(action="")
              .numbersSlider__checkbox
              .numbersSlider__labelCheckbox номер выбран
          
          .numbersSlider__item
            .sliderNumber.numbersSlider__images
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__value tests2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__price 2350$
            form.numbersSlider__form(action="")
              .numbersSlider__checkbox
              .numbersSlider__labelCheckbox номер выбран
          
          .numbersSlider__item
            .sliderNumber.numbersSlider__images
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__value tests2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__price 2350$
            form.numbersSlider__form(action="")
              .numbersSlider__checkbox
              .numbersSlider__labelCheckbox номер выбран
          
          .numbersSlider__item
            .sliderNumber.numbersSlider__images
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__value tests2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__price 2350$
            form.numbersSlider__form(action="")
              .numbersSlider__checkbox
              .numbersSlider__labelCheckbox номер выбран
          
          
          
          


      
              
        


      



  include layouts/footer.jade