extends layouts/application.jade



block content
  //- include layouts/header.jade
  //- include layouts/main.jade
  //- include layouts/about.jade
  //- include layouts/consultate.jade
  
  .wrapper
    //- // HEADER
    include layouts/header.jade
    //- // HEADER [END]
    main.content.main-page
      .top
        .top__slider.slider
          ul.slider__list.js-init-slider
            li.slider__li
              img(src='images/slider/slider-01.jpg', alt='slide')
            li.slider__li
              img(src='images/slider/slider-02.jpg', alt='slide')
            li.slider__li
              img(src='images/slider/slider-03.jpg', alt='slide')
            li.slider__li
              img(src='images/slider/slider-04.jpg', alt='slide')
        //- // switch
        .top__switch.switch.js-init-tabs.slyde-effect
          .container
            .switch__inner
              ul.switch__list
                li.switch__li.active
                  a.switch__link.switch__link_tours(href='#', data-tab='1')
                    svg.icon-tour
                      use(xlink:href='#tour')
                    span Туры
                li.switch__li
                  a.switch__link.switch__link_hotels(href='#', data-tab='2')
                    svg.icon-hotel
                      use(xlink:href='#hotel')
                    span Отели
                li.switch__li
                  a.switch__link.switch__link_tickets(href='#', data-tab='3')
                    svg.icon-plane
                      use(xlink:href='#plane')
                    span Билеты
              .switch__view
                .switch__content.active(data-content='1')
                  .search.search--lg
                    form.search__form(action='')
                      .search__items
                        .search__item
                          svg.search__icon.icon-compass
                            use(xlink:href='#compass')
                          input.search__input.js-init-autocomplete(type='text', placeholder='Куда', data-source='places')
                          
                        .search__item.search__item--people
                          .search__chosen-count
                            .search__people
                              svg.search__people-icon
                                use(xlink:href='#man')
                              span.search__people-delete
                            .search__people
                              svg.search__people-icon
                                use(xlink:href='#man')
                              span.search__people-delete
                            .search__people.search__people_baby
                              span.search__baby-count 4
                              svg.search__people-icon.search__people-icon_baby
                                use(xlink:href='#baby')
                              span.search__people-delete
                          .search__add-count
                            .search__people
                              span.search__people-add
                              svg.search__people-icon
                                use(xlink:href='#man')
                            .search__people
                              span.search__people-add
                              svg.search__people-icon.search__people-icon_baby
                                use(xlink:href='#baby')
                                
                        .search__item.search__item--lg
                          svg.search__icon.icon-calendar
                            use(xlink:href='#calendar')
                          input.search__input.search__input_calendar.js-init-calendar(type='text', placeholder='Выберите дату', readonly='true')
                          svg.search__arrow
                            use(xlink:href='#caret-down')
                        .search__item
                          svg.search__icon.icon-location
                            use(xlink:href='#location')
                          input.search__input.search__input_location.js-init-autocomplete(type='text', placeholder='Из Москвы', data-source='from')
                          svg.search__arrow
                            use(xlink:href='#caret-down')
                            
                        .search__item.search__item_mobile
                          svg.search__icon.icon-man
                            use(xlink:href='#man')
                          input.search__input.search__input_adults.js-init-autocomplete(type='text', placeholder='Взрослые')
                          svg.search__arrow
                            use(xlink:href='#caret-down')
                        .search__item.search__item_mobile
                          svg.search__icon.icon-baby
                            use(xlink:href='#baby')
                          input.search__input.search__input_babies.js-init-autocomplete(type='text', placeholder='Дети')
                          svg.search__arrow
                            use(xlink:href='#caret-down')
                      button.search__button.button(type='submit') Поиск
                .switch__content(data-content='2')
                  .search.search--lg
                    form.search__form(action='')
                      .search__items
                        .search__item
                          svg.search__icon.icon-compass
                            use(xlink:href='#compass')
                          input.search__input.js-init-autocomplete(type='text', placeholder='Куда', data-source='places')
                        .search__item.search__item--lg.search__item--people
                          svg.search__icon.icon-people
                            use(xlink:href='#people')
                          input.search__input.js-init-people(type='text', placeholder='2 взрослых 0 детей', readonly='true')
                          svg.search__arrow
                            use(xlink:href='#caret-down')
                        .search__item.search__item--lg
                          svg.search__icon.icon-calendar
                            use(xlink:href='#calendar')
                          input.search__input.js-init-calendar(type='text', placeholder='Выберите дату', readonly='true')
                          svg.search__arrow
                            use(xlink:href='#caret-down')
                        .search__item
                          svg.search__icon.icon-location
                            use(xlink:href='#location')
                          input.search__input.js-init-autocomplete(type='text', placeholder='Из Москвы', data-source='from')
                          svg.search__arrow
                            use(xlink:href='#caret-down')
                      button.search__button.button(type='submit') Поиск
                .switch__content(data-content='3') билеты
        //- // switch end
        //- // people-drop
        .people-drop.dropdown__box
          .dropdown__triangle
          .people
            .people__item
              .people__top
                svg.people__minus.icon-minus
                  use(xlink:href='#minus')
                svg.icon-man
                  use(xlink:href='#man')
                svg.people__plus.icon-plus
                  use(xlink:href='#plus')
              strong.people__value
                | Взрослыx:
                input#input-adult.people__input(data-min='0', data-max='10', value='2')
            .people__item
              .people__top
                svg.people__minus.icon-minus
                  use(xlink:href='#minus')
                svg.icon-baby
                  use(xlink:href='#baby')
                svg.people__plus.icon-plus
                  use(xlink:href='#plus')
              strong.people__value
                | Детей:
                input#input-child.people__input(data-min='0', data-max='10', value='0')
        //- // people-drop end
        //- // calendar-drop
        .calendar-drop.dropdown__box
          .dropdown__triangle
          .calendar
            .calendar__top
              strong.calendar__title Выберите кол-во ночей
              .calendar__left
                .calendar__amount
                  .calendar__minus
                    svg.icon-minus
                      use(xlink:href='#minus')
                  input.calendar__nights(type='text', value='7 ночей', data-min='0', data-max='100')
                  .calendar__plus
                    svg.icon-plus
                      use(xlink:href='#plus')
              .calendar__right
                .calendar__toggle.toggle
                  input#input-calendar-1.radio--toggle(type='radio', name='calendar', value='1', checked='checked')
                  label(for='input-calendar-1') ± 2 Ночи
                  input#input-calendar-2.radio--toggle(type='radio', name='calendar', value='2')
                  label(for='input-calendar-2') Ровно
            .calendar__bottom
              strong.calendar__title Выберите дату вылета
              .calendar__datepicker
              button.calendar__button.button Сохранить
        //- // calendar-drop end
      section.section
        .section__title
          h1 Лучшие предложения отелей
        .container
          span.section__subtitle Все отели на Мальдивах
          .country
            ul.country__list.country-slider
              li.country__list-item
                a.country__list-link(href='#') Мальдивы
              li.country__list-item
                a.country__list-link.active(href='#') Шри-ланка
              li.country__list-item
                a.country__list-link(href='#') Доминикана
              li.country__list-item
                a.country__list-link(href='#') Таиланд
              li.country__list-item
                a.country__list-link(href='#') Сейшелы
              li.country__list-item
                a.country__list-link(href='#') Филлипины
              li.country__list-item
                a.country__list-link(href='#') Оаэ
              li.country__list-item
                a.country__list-link(href='#') Мальдивы
              li.country__list-item
                a.country__list-link(href='#') Шри-ланка
            .country__select
              select
                option(value='') Мальдивы
                option(value='') Шри-ланка
                option(value='') Доминикана
                option(value='') Таиланд
                option(value='') Сейшелы
                option(value='') Филлипины
                option(value='') Оаэ
          ul.product__list
            li.product__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__rating-icon 7,4
                    span.card__bonuses Бонусы отелей: 5
                    span.card__price от 5 500 $
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 23 20.13').card__icon-heart
                      title heart
                      path(d='M16.53.5c-2.11,0-4,2.22-5,3.94C10.44,2.72,8.58.5,6.47.5a6.1,6.1,0,0,0-6,6.22c0,4.06,2.89,6.33,5.78,8.69,2.57,2.1,5.22,4.08,5.22,4.08s2.64-2,5.22-4.08c2.89-2.36,5.78-4.63,5.78-8.69A6.1,6.1,0,0,0,16.53.5Z', fill='none', stroke='#000', stroke-width="2" stroke-miterlimit='10')

                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#breakfest')
                        |                       только завтраки
                    ul.card__tag-items
                      li.card__tag-box
                        a(href='#').card__tag эксклюзив
                      li.card__tag-box
                        a(href='#').card__tag семейный отдых
                      li.card__tag-box
                        a(href='#').card__tag LUXE коллекция
                      li.card__tag-box
                        a(href='#').card__tag экономичный отдых

            li.product__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__rating-icon 7,4
                    span.card__bonuses Бонусы отелей: 5
                    span.card__price от 5 500 $
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 23 20.13').card__icon-heart
                      title heart
                      path(d='M16.53.5c-2.11,0-4,2.22-5,3.94C10.44,2.72,8.58.5,6.47.5a6.1,6.1,0,0,0-6,6.22c0,4.06,2.89,6.33,5.78,8.69,2.57,2.1,5.22,4.08,5.22,4.08s2.64-2,5.22-4.08c2.89-2.36,5.78-4.63,5.78-8.69A6.1,6.1,0,0,0,16.53.5Z', fill='none', stroke='#000', stroke-width="2" stroke-miterlimit='10')

                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#breakfest')
                        |                       только завтраки
                    ul.card__tag-items
                      li.card__tag-box
                        a(href='#').card__tag эксклюзив
                      li.card__tag-box
                        a(href='#').card__tag семейный отдых
                      li.card__tag-box
                        a(href='#').card__tag LUXE коллекция
                      li.card__tag-box
                        a(href='#').card__tag экономичный отдых

            li.product__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__rating-icon 7,4
                    span.card__bonuses Бонусы отелей: 5
                    span.card__price от 5 500 $
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 23 20.13').card__icon-heart
                      title heart
                      path(d='M16.53.5c-2.11,0-4,2.22-5,3.94C10.44,2.72,8.58.5,6.47.5a6.1,6.1,0,0,0-6,6.22c0,4.06,2.89,6.33,5.78,8.69,2.57,2.1,5.22,4.08,5.22,4.08s2.64-2,5.22-4.08c2.89-2.36,5.78-4.63,5.78-8.69A6.1,6.1,0,0,0,16.53.5Z', fill='none', stroke='#000', stroke-width="2" stroke-miterlimit='10')

                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#breakfest')
                        |                       только завтраки
                    ul.card__tag-items
                      li.card__tag-box
                        a(href='#').card__tag эксклюзив
                      li.card__tag-box
                        a(href='#').card__tag семейный отдых
                      li.card__tag-box
                        a(href='#').card__tag LUXE коллекция
                      li.card__tag-box
                        a(href='#').card__tag экономичный отдых

            li.product__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__rating-icon 7,4
                    span.card__bonuses Бонусы отелей: 5
                    span.card__price от 5 500 $
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 23 20.13').card__icon-heart
                      title heart
                      path(d='M16.53.5c-2.11,0-4,2.22-5,3.94C10.44,2.72,8.58.5,6.47.5a6.1,6.1,0,0,0-6,6.22c0,4.06,2.89,6.33,5.78,8.69,2.57,2.1,5.22,4.08,5.22,4.08s2.64-2,5.22-4.08c2.89-2.36,5.78-4.63,5.78-8.69A6.1,6.1,0,0,0,16.53.5Z', fill='none', stroke='#000', stroke-width="2" stroke-miterlimit='10')

                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#breakfest')
                        |                       только завтраки
                    ul.card__tag-items
                      li.card__tag-box
                        a(href='#').card__tag эксклюзив
                      li.card__tag-box
                        a(href='#').card__tag семейный отдых
                      li.card__tag-box
                        a(href='#').card__tag LUXE коллекция
                      li.card__tag-box
                        a(href='#').card__tag экономичный отдых

            li.product__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__rating-icon 7,4
                    span.card__bonuses Бонусы отелей: 5
                    span.card__price от 5 500 $
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 23 20.13').card__icon-heart
                      title heart
                      path(d='M16.53.5c-2.11,0-4,2.22-5,3.94C10.44,2.72,8.58.5,6.47.5a6.1,6.1,0,0,0-6,6.22c0,4.06,2.89,6.33,5.78,8.69,2.57,2.1,5.22,4.08,5.22,4.08s2.64-2,5.22-4.08c2.89-2.36,5.78-4.63,5.78-8.69A6.1,6.1,0,0,0,16.53.5Z', fill='none', stroke='#000', stroke-width="2" stroke-miterlimit='10')

                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#breakfest')
                        |                       только завтраки
                    ul.card__tag-items
                      li.card__tag-box
                        a(href='#').card__tag эксклюзив
                      li.card__tag-box
                        a(href='#').card__tag семейный отдых
                      li.card__tag-box
                        a(href='#').card__tag LUXE коллекция
                      li.card__tag-box
                        a(href='#').card__tag экономичный отдых
                        
            li.product__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__rating-icon 7,4
                    span.card__bonuses Бонусы отелей: 5
                    span.card__price от 5 500 $
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 23 20.13').card__icon-heart
                      title heart
                      path(d='M16.53.5c-2.11,0-4,2.22-5,3.94C10.44,2.72,8.58.5,6.47.5a6.1,6.1,0,0,0-6,6.22c0,4.06,2.89,6.33,5.78,8.69,2.57,2.1,5.22,4.08,5.22,4.08s2.64-2,5.22-4.08c2.89-2.36,5.78-4.63,5.78-8.69A6.1,6.1,0,0,0,16.53.5Z', fill='none', stroke='#000', stroke-width="2" stroke-miterlimit='10')

                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#breakfest')
                        |                       только завтраки
                    ul.card__tag-items
                      li.card__tag-box
                        a(href='#').card__tag эксклюзив
                      li.card__tag-box
                        a(href='#').card__tag семейный отдых
                      li.card__tag-box
                        a(href='#').card__tag LUXE коллекция
                      li.card__tag-box
                        a(href='#').card__tag экономичный отдых
                        
            li.product__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__rating-icon 7,4
                    span.card__bonuses Бонусы отелей: 5
                    span.card__price от 5 500 $
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 23 20.13').card__icon-heart
                      title heart
                      path(d='M16.53.5c-2.11,0-4,2.22-5,3.94C10.44,2.72,8.58.5,6.47.5a6.1,6.1,0,0,0-6,6.22c0,4.06,2.89,6.33,5.78,8.69,2.57,2.1,5.22,4.08,5.22,4.08s2.64-2,5.22-4.08c2.89-2.36,5.78-4.63,5.78-8.69A6.1,6.1,0,0,0,16.53.5Z', fill='none', stroke='#000', stroke-width="2" stroke-miterlimit='10')

                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#breakfest')
                        |                       только завтраки
                    ul.card__tag-items
                      li.card__tag-box
                        a(href='#').card__tag эксклюзив
                      li.card__tag-box
                        a(href='#').card__tag семейный отдых
                      li.card__tag-box
                        a(href='#').card__tag LUXE коллекция
                      li.card__tag-box
                        a(href='#').card__tag экономичный отдых

            li.product__list-item
              .help-card.help-card--subscribe
                img(src='images/help-card-img/help-card-img-04.jpg', alt='')
                .help-card__content
                  .help-card__title ХОТИТЕ СЛЕДИТЬ ЗА ЛУЧШИМИ ПРЕДЛОЖЕНИЯМИ ?
                  .short-form
                    input(type='text', placeholder='Ваш E-mail')
                    button.subscribe-button(type='submit', data-href='#subscribe-popup') Хочу!
      section.section.restoffer
        .section__title
          h1 Подобрать отдых на 
          .pick-up
            | Мальдивах
            svg.pick-up__icon
              use(xlink:href='#caret-down')
            .dropdown__box
              span.dropdown__triangle
              ul.dropdown__list
                li.dropdown__list-item
                  a.dropdown__link(href='#') Шри-Ланка
                li.dropdown__list-item
                  a.dropdown__link(href='#') Доминикана
                li.dropdown__list-item
                  a.dropdown__link(href='#') Сейшелы
                li.dropdown__list-item
                  a.dropdown__link(href='#') Маврикий
                li.dropdown__list-item
                  a.dropdown__link(href='#') Индонезия
                li.dropdown__list-item
                  a.dropdown__link(href='#') Малайзия
                li.dropdown__list-item
                  a.dropdown__link(href='#') Вьетнам
                li.dropdown__list-item
                  a.dropdown__link(href='#') Фр. Полинезия
                li.dropdown__list-item
                  a.dropdown__link(href='#') Таиланд
                li.dropdown__list-item
                  a.dropdown__link(href='#') Куба
                li.dropdown__list-item
                  a.dropdown__link(href='#') ОАЭ
                li.dropdown__list-item
                  a.dropdown__link(href='#') Китай
                li.dropdown__list-item
                  a.dropdown__link(href='#') Россия
        .country
          .country__select
            select
              option(value='') Мальдивах
              option(value='') Шри-ланка
              option(value='') Доминикана
              option(value='') Таиланд
              option(value='') Сейшелы
              option(value='') Филлипины
              option(value='') Оаэ
        .container
          ul.category__list
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-01.jpg', alt='')
                  span.category-card__title
                    | ВСЕ ВКЛЮЧЕНО
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-02.jpg', alt='')
                  span.category-card__title
                    | ПЛЯЖНЫЙ ОТДЫХ
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-03.jpg', alt='')
                  span.category-card__title
                    | ГОРОДСКОЙ ОТДЫХ
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-04.jpg', alt='')
                  span.category-card__title
                    | СЕМЕЙНЫЙ ОТДЫХ
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-05.jpg', alt='')
                  span.category-card__title
                    | ОТДЫХ С ДЕТЬМИ
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-06.jpg', alt='')
                  span.category-card__title
                    | МОЛОДОЖЕНЫ
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-07.jpg', alt='')
                  span.category-card__title
                    | ЭКОНОМИЧЕСКИЙ ОТДЫХ
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-08.jpg', alt='')
                  span.category-card__title
                    | LUXE КОЛЛЕКЦИЯ
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-09.jpg', alt='')
                  span.category-card__title
                    | ЭКСКЛЮЗИВ
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-10.jpg', alt='')
                  span.category-card__title
                    | ТОЛЬКО ДЛЯ ВЗРОСЛЫХ
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-11.jpg', alt='')
                  span.category-card__title
                    | SPA
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-12.jpg', alt='')
                  span.category-card__title
                    | АВТОБУСНЫЕ ТУРЫ
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-13.jpg', alt='')
                  span.category-card__title
                    | ЯХТА
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-14.jpg', alt='')
                  span.category-card__title
                    | РЕКОМЕНДУЕМЫЕ ОТЕЛИ
                    span.category-card__count (5)
            li.category__list-item
              .category-card
                a(href='#')
                  img(src='images/category-image/category-image-15.jpg', alt='')
                  span.category-card__title
                    | ВИЛЛЫ И СЬЮТЫ
                    span.category-card__count (5)
      section.section.feedback
        .section__title
          h1 Отзывы
        .container
          ul.simple-slider.feedback__list
            li.simple-slider__item
              .feedback__item
                .feedback__head
                  span.feedback__rating 4,5
                  h3 Kurumba Village
                .feedback__subhead
                  h5 Алексей
                  .feedback__tripadviser
                    img(src='images/tripadvisor.jpg', alt='')
                p.feedback__description
                  | Отличный отель. Прекрасный персонал, который стерпел все мои прихоти. Просто супер! Буду рад поехать отдыхать сюда ...
                a(href='#') Подробнее
            li.simple-slider__item
              .feedback__item
                .feedback__head
                  span.feedback__rating 2,5
                  h3 West Beach отель
                .feedback__subhead
                  h5 Мария
                  .feedback__tripadviser
                    img(src='images/tripadvisor.jpg', alt='')
                p.feedback__description
                  | Если честно обслуживающий персонал хамил и неуважительно ко мне относился. Никому не посоветую ехать сюда ...
                a(href='#') Подробнее
            li.simple-slider__item
              .feedback__item
                .feedback__head
                  span.feedback__rating 4,5
                  h3 Kurumba Village
                .feedback__subhead
                  h5 Алексей
                  .feedback__tripadviser
                    img(src='images/tripadvisor.jpg', alt='')
                p.feedback__description
                  | Отличный отель. Прекрасный персонал, который стерпел все мои прихоти. Просто супер! Буду рад поехать отдыхать сюда ...
                a(href='#') Подробнее
            li.simple-slider__item
              .feedback__item
                .feedback__head
                  span.feedback__rating 2,5
                  h3 West Beach отель
                .feedback__subhead
                  h5 Мария
                  .feedback__tripadviser
                    img(src='images/tripadvisor.jpg', alt='')
                p.feedback__description
                  | Если честно обслуживающий персонал хамил и неуважительно ко мне относился. Никому не посоветую ехать сюда ...
                a(href='#') Подробнее
            li.simple-slider__item
              .feedback__item
                .feedback__head
                  span.feedback__rating 4,5
                  h3 Kurumba Village
                .feedback__subhead
                  h5 Алексей
                  .feedback__tripadviser
                    img(src='images/tripadvisor.jpg', alt='')
                p.feedback__description
                  | Отличный отель. Прекрасный персонал, который стерпел все мои прихоти. Просто супер! Буду рад поехать отдыхать сюда ...
                a(href='#') Подробнее
          .button-more-box
            a.button(href='#') Все отзывы
      section.section.news
        .section__title
          h1 Новости
        .container
          ul.simple-slider.news__list
            li.simple-slider__item
              .news__item
                a.news__img-box(href='#')
                  img(src='images/news/news-01.jpg', alt='')
                .news__content
                  span.news__date 16/08
                  span.news__title
                    a(href='#') Путешествуйте на автобусе по Европе
                  p.news__description
                    | Компания «Мальдивиана» представляет Вашему вниманию Самое интересное и веселое ...
                  a.news__link(href='#') Подробнее
            li.simple-slider__item
              .news__item
                a.news__img-box(href='#')
                  img(src='images/news/news-01.jpg', alt='')
                .news__content
                  span.news__date 16/08
                  span.news__title
                    a(href='#') Путешествуйте на автобусе по Европе
                  p.news__description
                    | Компания «Мальдивиана» представляет Вашему вниманию Самое интересное и веселое ...
                  a.news__link(href='#') Подробнее
            li.simple-slider__item
              .news__item
                a.news__img-box(href='#')
                  img(src='images/news/news-01.jpg', alt='')
                .news__content
                  span.news__date 16/08
                  span.news__title
                    a(href='#') Путешествуйте на автобусе по Европе
                  p.news__description
                    | Компания «Мальдивиана» представляет Вашему вниманию Самое интересное и веселое ...
                  a.news__link(href='#') Подробнее
            li.simple-slider__item
              .news__item
                a.news__img-box(href='#')
                  img(src='images/news/news-01.jpg', alt='')
                .news__content
                  span.news__date 16/08
                  span.news__title
                    a(href='#') Путешествуйте на автобусе по Европе
                  p.news__description
                    | Компания «Мальдивиана» представляет Вашему вниманию Самое интересное и веселое ...
                  a.news__link(href='#') Подробнее
            li.simple-slider__item
              .news__item
                a.news__img-box(href='#')
                  img(src='images/news/news-01.jpg', alt='')
                .news__content
                  span.news__date 16/08
                  span.news__title
                    a(href='#') Путешествуйте на автобусе по Европе
                  p.news__description
                    | Компания «Мальдивиана» представляет Вашему вниманию Самое интересное и веселое ...
                  a.news__link(href='#') Подробнее
          .button-more-box
            a.button(href='#') Все новости

    include layouts/hotels__article.jade
    //- // MAIN CONTENT [END]
  //- // FOOTER FIX [END]
  //- // FOOTER
  include layouts/footer.jade

  //- Test popups
  //-button(data-modal-popup='.js-thanks-for-an-order-popup').js-open-modal-popup thanks-for-an-order
  //-button(data-modal-popup='.js-thanks-for-registration-popup').js-open-modal-popup thanks-for-registration
  //-button(data-modal-popup='.js-create-a-password-popup').js-open-modal-popup create-a-password
  //-button(data-modal-popup='.js-change-password-popup').js-open-modal-popup change-password
  //-button(data-modal-popup='.js-signup-or-signin-popup').js-open-modal-popup signup-or-signin

  include layouts/modal-popups/thanks-for-an-order
  include layouts/modal-popups/thanks-for-registration
  include layouts/modal-popups/create-a-password
  include layouts/modal-popups/change-password
  include layouts/modal-popups/signup-or-signin