extends layouts/application.jade



block content

  .wrapper
    //- // HEADER
    include layouts/header.jade
    .container.breadcrumbs

        svg.breadcrumbs__icon
          use(xlink:href="#arrowLeft")
        a(href="").breadcrumbs__item Все новости

    h2.dNews__h2 Путешествие на яхте
    .container
      .dNews__main-banner
        img(src="images/news/main-banner.jpg", alt="")
      .dNews__article
        p.dNews__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, eum! Suscipit aliquid similique, vitae reiciendis ipsa error, deserunt nam eligendi cupiditate quam repellat obcaecati, fugiat soluta blanditiis tempore minus, dolores.

        p.dNews__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, eum! Suscipit aliquid similique, vitae reiciendis ipsa error, deserunt nam eligendi cupiditate quam repellat obcaecati, fugiat soluta blanditiis tempore minus, dolores.

        ul.dNews__ul 
          span В стоимость включено
          li.dNews__li трансфер
          li.dNews__li трансфер
          li.dNews__li трансфер
          li.dNews__li трансфер
          li.dNews__li трансфер

        ul.dNews__ul 
          span В стоимость включено
          li.dNews__li трансфер
          li.dNews__li трансфер
          li.dNews__li трансфер
          li.dNews__li трансфер
          li.dNews__li трансфер

        ul.dNews__ul 
          span В стоимость включено
          li.dNews__li трансфер
          li.dNews__li трансфер
          li.dNews__li трансфер
          li.dNews__li трансфер
          li.dNews__li трансфер

        .dNews__data 18/09/2017
      .border-hor
      .social-share
        .social-share__description
          span Поделиться с друзьями:
        .social-share__icons
          .ya-share2( data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter="")          
      .border-hor
      .dSubscribe
        .dSubscribe__title Хотите следить за нашими новостями?
        form.short-form.dSubscribe__form
          input(type='text', placeholder='Ваш E-mail')
          button.subscribe-button(type='submit', data-href='#subscribe-popup')
            | Хочу!
    .section__title
      h2.h2 Другие новости
    .container
      .other-news
        
        .other-news__collumn
          include layouts/news__item.jade
        .other-news__collumn
          include layouts/news__item.jade
        .other-news__collumn
          include layouts/news__item.jade
        .other-news__collumn
          include layouts/news__item.jade
        .clearfix
      .stockBanners
        .stockBanners__collumn
          a(href="#")
            img.stockBanners__images(src="images/stock/stock-1.jpg", alt="")
        .stockBanners__collumn
          a(href="#")
            img.stockBanners__images(src="images/stock/stock-2.jpg", alt="")
        .stockBanners__collumn
          a(href="#")
            img.stockBanners__images(src="images/stock/stock-3.jpg", alt="")
        .clearfix



      
  include layouts/footer.jade