extends layouts/application.jade



block content

  .wrapper
    //- // HEADER
    include layouts/header.jade
    .container.breadcrumbs

        svg.breadcrumbs__icon
          use(xlink:href="#arrowLeft")
        a(href="").breadcrumbs__item Все новости

    h2.dNews__h2 Как правильно подобрать тур
    .container
      .dNews__article
        p.dNews__text  Успех вашего путешествия зависит не только от правильного выбора турфирмы, но и от выбора тура. Ведь выбирая тур, вы выбираете программу своего отдыха. Мы расскажем вам, как правильно выбрать тур.
        p.dNews__text  Сегодня практически все турфирмы не только продают готовые путевки, когда за определенную цену турист получает определенный набор услуг, но и предлагают организацию индивидуальных путешествий, когда программу поездки турист формирует самостоятельно с учетом своего бюджета. Существуют и промежуточные варианты, когда для перевозки и трансфера всех туристов используется один и тот же транспорт, а тип жилья и его категорию каждый путешественник выбирает индивидуально.

        .regionArticle__border.regionArticle__border_size_lg.regionArticle__border_margin_y
          span.regionArticle__borderQuotes.__top
            svg
              use(xlink:href="#quotes")
          span.regionArticle__borderQuotes.__bottom
            svg
              use(xlink:href="#quotes")
          .regionArticle__borderText
            span
              | Мальдивские <br />
              | острова одни из лучших <br />
              | экзотических направлений...

        p.dNews__text Обзванивая турфирмы или изучая рекламу в поисках подходящего тура, при сравнении цен обязательно выясните, что включает названная стоимость. Сегодня в условиях жесткой конкуренции любая турфирма стремится найти компромисс между ценой и удобством для клиента. Однако чудес на свете не бывает. Более комфортабельное путешествие всегда будет стоить дороже. Помните это, иначе вы можете стать жертвой рекламной уловки или хуже того — попадете в турфирму-однодневку, которая исчезнет вместе с вашими деньгами накануне поездки. Исключение — горящие туры. Здесь по достаточно низкой цене вы получаете услуги высокого качества.
        p.dNews__text Успех вашего путешествия зависит не только от правильного выбора турфирмы, но и от выбора тура. Ведь выбирая тур, вы выбираете программу своего отдыха. Мы расскажем вам, как правильно выбрать тур.
        p.dNews__text Сегодня практически все турфирмы не только продают готовые путевки, когда за определенную цену турист получает определенный набор услуг, но и предлагают организацию индивидуальных путешествий, когда программу поездки турист формирует самостоятельно с учетом своего бюджета. Существуют и промежуточные варианты, когда для перевозки и трансфера всех туристов используется один и тот же транспорт, а тип жилья и его категорию каждый путешественник выбирает индивидуально.
        p.dNews__text Обзванивая турфирмы или изучая рекламу в поисках подходящего тура, при сравнении цен обязательно выясните, что включает названная стоимость. Сегодня в условиях жесткой конкуренции любая турфирма стремится найти компромисс между ценой и удобством для клиента. Однако чудес на свете не бывает. Более комфортабельное путешествие всегда будет стоить дороже. Помните это, иначе вы можете стать жертвой рекламной уловки или хуже того — попадете в турфирму-однодневку, которая исчезнет вместе с вашими деньгами накануне поездки. Исключение — горящие туры. Здесь по достаточно низкой цене вы получаете услуги высокого качества.

        .dNews__data 18/09/2017
      .border-hor
      .social-share
        .social-share__description
          span Поделиться с друзьями:
        .social-share__icons
          .ya-share2( data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter="")          
      .border-hor
      include layouts/subscribe-news
    .section__title
      h2.h2 Другие новости
    .container
      .other-news

        .other-news__collumn
          include layouts/news__item.jade
        .other-news__collumn
          include layouts/news__item.jade
        .other-news__collumn
          include layouts/news__item.jade
        .other-news__collumn
          include layouts/news__item.jade
        .clearfix
      .stockBanners
        .stockBanners__collumn.banner-img-wrapper
          a(href="#")
            img.stockBanners__images(src="images/stock/stock-1.jpg", alt="")
        .stockBanners__collumn.banner-img-wrapper
          a(href="#")
            img.stockBanners__images(src="images/stock/stock-2.jpg", alt="")
        .stockBanners__collumn.banner-img-wrapper
          a(href="#")
            img.stockBanners__images(src="images/stock/stock-3.jpg", alt="")
        .clearfix



      
  include layouts/footer.jade
  include layouts/modal-popups/thanks-for-subscribing