extends layouts/application.jade



block content

  .wrapper
    //- // HEADER
    include layouts/header.jade
    .container.breadcrumbs

        svg.breadcrumbs__icon
          use(xlink:href="#arrowLeft")
        a(href="").breadcrumbs__item Все новости

    h2.news__h2 Путешествие на яхте
    .container
      .news__main-banner
        img(src="images/news/main-banner.jpg", alt="")
      .news__article
        p.news__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, eum! Suscipit aliquid similique, vitae reiciendis ipsa error, deserunt nam eligendi cupiditate quam repellat obcaecati, fugiat soluta blanditiis tempore minus, dolores.

        p.news__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, eum! Suscipit aliquid similique, vitae reiciendis ipsa error, deserunt nam eligendi cupiditate quam repellat obcaecati, fugiat soluta blanditiis tempore minus, dolores.

        ul.news__ul 
          span В стоимость включено
          li.news__li трансфер
          li.news__li трансфер
          li.news__li трансфер
          li.news__li трансфер
          li.news__li трансфер

        ul.news__ul 
          span В стоимость включено
          li.news__li трансфер
          li.news__li трансфер
          li.news__li трансфер
          li.news__li трансфер
          li.news__li трансфер

        ul.news__ul 
          span В стоимость включено
          li.news__li трансфер
          li.news__li трансфер
          li.news__li трансфер
          li.news__li трансфер
          li.news__li трансфер

        .news__data 18/09/2017
      .border-hor
      .social-share
        .social-share__description
          span Поделиться с друзьями:
        .social-share__icons
          .ya-share2( data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter="")          
      .border-hor
      .dSubscribe
        .dSubscribe__title Хочу!
        form.short-form.dSubscribe__form
          input(type='text', placeholder='Ваш E-mail')
          button.subscribe-button(type='submit', data-href='#subscribe-popup')
            | text

      
  include layouts/footer.jade