extends layouts/application.jade
include layouts/interactive-stars


block content

  .wrapper.personal-area
    include layouts/header.jade
    h2.dNews__h2 Личный кабинет

    .personal-area-nav
      img(src='images/bg/personal-area-nav.jpg' alt='').personal-area-nav__image
      .container
        .personal-area-nav__content
          .personal-area-nav__bonuses
            .personal-area-nav__bonuses-row
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 467.03').personal-area-nav__bonuses-icon
                title palm
                path(d='M511.38,139.8c-.72-2-18.7-48.38-101.76-48.38a174.07,174.07,0,0,0-26.67,2l72.26-72.26a10.45,10.45,0,0,0,2.52-10.71c-.13-.39-.22-.61-.22-.61A10.69,10.69,0,0,0,452.14,4C450.23,3.14,404.71-17,346,41.77c-11.85,11.85-21.17,24.17-27.92,36.85-6.34-11.41-15.49-23.81-28.54-36.85-55-55-103.22-38.83-105.25-38.12a10.46,10.46,0,0,0-6.43,6.55l-.1.29a10.45,10.45,0,0,0,2.54,10.63L252.36,93.2a190.66,190.66,0,0,0-26.64-1.78c-77.78,0-100.45,45.53-101.37,47.47a10.49,10.49,0,0,0,.06,9.13l.18.35a10.45,10.45,0,0,0,9.3,5.69h113a43.85,43.85,0,0,0,29.47,66.15A43.82,43.82,0,0,0,292.64,271V422a43.36,43.36,0,0,0-20.33-8.61,71.33,71.33,0,0,0-132.08-3.66,47.34,47.34,0,0,0-37.75,36.37H84.68a10.45,10.45,0,1,0,0,20.9H424.12a10.45,10.45,0,0,0,0-20.9H349.07V265.55A43.79,43.79,0,0,0,359,220.21a43.85,43.85,0,0,0,29.47-66.15h113a10.45,10.45,0,0,0,9.36-5.8c.17-.34.26-.54.26-.54A10.64,10.64,0,0,0,511.38,139.8Zm-387,306.33a26.58,26.58,0,0,1,23.71-16.24,10.45,10.45,0,0,0,9.58-7.18A50.42,50.42,0,0,1,254.39,426,10.48,10.48,0,0,0,265,433.91c.36,0,.72,0,1.09,0a22.72,22.72,0,0,1,20.15,12.26H124.35ZM360.76,56.54C388.35,29,411.21,21.87,425.87,20.91l-88.71,88.71c-2.4,1.49-4.62,3-6.68,4.53-.34-2.43-.81-5-1.42-7.6C334,89.47,344.65,72.65,360.76,56.54ZM210.74,22c15.34,1.5,38.35,8.86,64,34.51C294.81,76.61,304,94.18,307.93,107.9a10.43,10.43,0,0,0,.61,2.27,67.66,67.66,0,0,1,1.32,6.66,87.57,87.57,0,0,0-14.08-9.77ZM156.07,133.16c11.9-9.79,33.38-20.85,69.66-20.85,26.89,0,45.3,5.3,57.77,11.76a10.3,10.3,0,0,0,2.06,1.11,65.82,65.82,0,0,1,11.4,8ZM284.22,200a23,23,0,1,1,23-23A23,23,0,0,1,284.22,200Zm44,246.09H313.54V278.63c1.35.13,2.72.2,4.11.2a43.77,43.77,0,0,0,10.52-1.28V446.13ZM317.65,257.94a23,23,0,1,1,23-23A23,23,0,0,1,317.65,257.94ZM351.09,200a23,23,0,1,1,23-23A23,23,0,0,1,351.09,200ZM340,133.16A74.75,74.75,0,0,1,348,127.4a10.42,10.42,0,0,0,1.83-1.1c12.77-7.46,31.89-14,59.74-14,39,0,60.2,11.16,71.24,20.85Z')
                path(d='M49.15,446.13H10.45a10.45,10.45,0,1,0,0,20.9h38.7a10.45,10.45,0,0,0,0-20.9Z')
                path(d='M501.52,446.13H459.64a10.45,10.45,0,0,0,0,20.9h41.88a10.45,10.45,0,0,0,0-20.9Z')
              span.personal-area-nav__bonuses-text.personal-area-nav__bonuses-text_size_lg 300
            span.personal-area-nav__bonuses-text Мальдивбонусов

          ul.personal-area-nav__items
            - var links = [{ path: '#', title: 'Заказы', active: true }, { path: '#', title: 'Избранное' }, { path: '#', title: 'Оставить заявку' }, { path: '#', title: 'Профиль' }];
            each link in links
              li.personal-area-nav__item(class=link.active ? 'personal-area-nav__item_active' : '')
                a(href=link.path).personal-area-nav__link= link.title

    .container
      .personal-area-section
        h2.personal-area-section__heading Заказы
        .personal-area-section__content
          .personal-area__no-orders
            .personal-area__no-orders-image-grid
              .personal-area-image-grid
                .personal-area-image-grid__row
                  .personal-area-image-grid__column.personal-area-image-grid__column_half_width.personal-area-image-grid__column_push_right.personal-area-image-grid__column_round_top-left.personal-area-image-grid__column_round_top-right.personal-area-image-grid__column_round_bottom-right
                    img(src='images/personal-area/image-grid/1.jpg' alt='').personal-area-image-grid__image
                .personal-area-image-grid__row
                  .personal-area-image-grid__column.personal-area-image-grid__column_half_width.personal-area-image-grid__column_round_top-left
                    img(src='images/personal-area/image-grid/2.jpg' alt='').personal-area-image-grid__image
                .personal-area-image-grid__row
                  .personal-area-image-grid__column.personal-area-image-grid__column_round_top-right.personal-area-image-grid__column_round_bottom-left.personal-area-image-grid__column_round_bottom-right
                    img(src='images/personal-area/image-grid/3.jpg' alt='').personal-area-image-grid__image

            .personal-area__no-orders-tour
              .personal-area__no-orders-heading Кажется настало время отдыхать
              a(href='#').button.personal-area__no-orders-button Подобрать тур

            .personal-area__no-orders-image-grid
              .personal-area-image-grid
                .personal-area-image-grid__row
                  .personal-area-image-grid__column
                    img(src='images/personal-area/image-grid/4.jpg' alt='').personal-area-image-grid__image
                  .personal-area-image-grid__column.personal-area-image-grid__column_round_top-right
                    img(src='images/personal-area/image-grid/5.jpg' alt='').personal-area-image-grid__image
                .personal-area-image-grid__row
                  .personal-area-image-grid__column.personal-area-image-grid__column_round_bottom-left
                    img(src='images/personal-area/image-grid/6.jpg' alt='').personal-area-image-grid__image
                .personal-area-image-grid__row
                  .personal-area-image-grid__column.personal-area-image-grid__column_half_width.personal-area-image-grid__column_push_right.personal-area-image-grid__column_round_bottom-left.personal-area-image-grid__column_round_bottom-right
                    img(src='images/personal-area/image-grid/7.jpg' alt='').personal-area-image-grid__image
  include layouts/footer.jade