extends layouts/application.jade
include layouts/interactive-stars


block content

  .wrapper.personal-area
    include layouts/header.jade
    h2.dNews__h2 Личный кабинет
    ul.personal-area-nav-mobile
      li.personal-area-nav-mobile__item.personal-area-nav-mobile__item_active
        a.personal-area-nav-mobile__link
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 60 51').personal-area-nav-mobile__icon.personal-area-nav-mobile__icon_bag
            title bag
            path(d='M57,9H55V6H45V9H41V3.21A3.21,3.21,0,0,0,37.79,0H22.21A3.21,3.21,0,0,0,19,3.21V9H15V6H5V9H3a3,3,0,0,0-3,3V48a3,3,0,0,0,3,3H57a3,3,0,0,0,3-3V12A3,3,0,0,0,57,9ZM47,8h6V9H47ZM21,3.21A1.21,1.21,0,0,1,22.21,2H37.79A1.21,1.21,0,0,1,39,3.21V9H21ZM19,11H50V49H10V11h9ZM7,8h6V9H7ZM2,48V12a1,1,0,0,1,1-1H8V49H3A1,1,0,0,1,2,48Zm56,0a1,1,0,0,1-1,1H52V11h5a1,1,0,0,1,1,1Z')
      li.personal-area-nav-mobile__item
        a.personal-area-nav-mobile__link
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 21.25').personal-area-nav-mobile__icon.personal-area-nav-mobile__icon_heart
            title heart
            path(d='M17,1c-2.11,0-4,2.22-5,3.94C10.94,3.22,9.08,1,7,1A6.1,6.1,0,0,0,1,7.22c0,4.06,2.89,6.33,5.78,8.69C9.36,18,12,20,12,20s2.64-2,5.22-4.08C20.11,13.56,23,11.29,23,7.22A6.1,6.1,0,0,0,17,1Z', fill='none', stroke='#000', stroke-miterlimit='10', stroke-width='2')
      li.personal-area-nav-mobile__item
        a.personal-area-nav-mobile__link
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 411.03 512').personal-area-nav-mobile__icon.personal-area-nav-mobile__icon_list
            title list-doc
            path(d='M378.55,0H32.48A32.51,32.51,0,0,0,0,32.48v447A32.51,32.51,0,0,0,32.48,512H378.55A32.51,32.51,0,0,0,411,479.52v-447A32.52,32.52,0,0,0,378.55,0ZM135.08,20.4H276V68.33H135.08Zm-10.2,68.34H286.15a10.2,10.2,0,0,0,10.2-10.2V66.29h36.1V445.71H137.17L137,397a10.2,10.2,0,0,0-10.2-10.18H78.57V66.29h36.1V78.53A10.2,10.2,0,0,0,124.88,88.73Zm-8.14,343.6L91.61,407.21h25.06Zm273.89,47.19a12.09,12.09,0,0,1-12.08,12.08H32.48A12.09,12.09,0,0,1,20.4,479.52v-447A12.09,12.09,0,0,1,32.48,20.4h82.2V45.9H68.37a10.2,10.2,0,0,0-10.2,10.2v342.3a10.2,10.2,0,0,0,3,7.21l57.51,57.51a10.2,10.2,0,0,0,7.21,3H342.65a10.2,10.2,0,0,0,10.2-10.2V56.1a10.2,10.2,0,0,0-10.2-10.2h-46.3V20.4h82.2a12.09,12.09,0,0,1,12.08,12.08Z')
            path(d='M124.33,326.53h-3.08a10.2,10.2,0,1,0,0,20.4h3.08a10.2,10.2,0,0,0,0-20.4Z')
            path(d='M289.77,326.53H160.63a10.2,10.2,0,0,0,0,20.4H289.77a10.2,10.2,0,0,0,0-20.4Z')
            path(d='M289.77,261.83H121.25a10.2,10.2,0,1,0,0,20.4H289.77a10.2,10.2,0,0,0,0-20.4Z')
            path(d='M289.77,197.13H121.25a10.2,10.2,0,1,0,0,20.4H289.77a10.2,10.2,0,0,0,0-20.4Z')
            path(d='M289.77,131.57H121.25a10.2,10.2,0,1,0,0,20.4H289.77a10.2,10.2,0,0,0,0-20.4Z')
      li.personal-area-nav-mobile__item
        a.personal-area-nav-mobile__link
          svg.personal-area-nav-mobile__icon.personal-area-nav-mobile__icon_user
            use(xlink:href='#user')
      li.personal-area-nav-mobile__item
        a.personal-area-nav-mobile__link
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 489.6 481.3').personal-area-nav-mobile__icon.personal-area-nav-mobile__icon_users
            title users
            path(d='M386.8,0a61.8,61.8,0,1,0,61.8,61.8A61.84,61.84,0,0,0,386.8,0Zm0,99.1a37.3,37.3,0,1,1,37.3-37.3A37.3,37.3,0,0,1,386.8,99.1Z')
            path(d='M244.8,123.6A61.8,61.8,0,1,0,183,61.8,61.84,61.84,0,0,0,244.8,123.6Zm0-99.1a37.3,37.3,0,1,1-37.3,37.3A37.3,37.3,0,0,1,244.8,24.5Z')
            path(d='M428.3,136.1H375.7a12.3,12.3,0,0,0,0,24.6h52.6a36.83,36.83,0,0,1,36.8,36.8v78.3a36.91,36.91,0,0,1-24.2,34.5,12.32,12.32,0,0,0-8,11.5V432.4a24.33,24.33,0,0,1-24.3,24.3H353a12.3,12.3,0,1,0,0,24.6h55.6a48.87,48.87,0,0,0,48.8-48.8v-103a61.49,61.49,0,0,0,32.2-53.9V197.3A61.29,61.29,0,0,0,428.3,136.1Z')
            path(d='M217,481h55.6a48.87,48.87,0,0,0,48.8-48.8V329.5a61.49,61.49,0,0,0,32.2-53.9V197.3A61.37,61.37,0,0,0,292.3,136H197.2a61.37,61.37,0,0,0-61.3,61.3v78.3a61.49,61.49,0,0,0,32.2,53.9V432.2A49,49,0,0,0,217,481ZM160.5,275.6V197.3a36.83,36.83,0,0,1,36.8-36.8h95.1a36.83,36.83,0,0,1,36.8,36.8v78.3a37,37,0,0,1-24.1,34.5,12.32,12.32,0,0,0-8,11.5V432.2a24.33,24.33,0,0,1-24.3,24.3H217.2a24.33,24.33,0,0,1-24.3-24.3V321.6a12.32,12.32,0,0,0-8-11.5A36.82,36.82,0,0,1,160.5,275.6Z')
            path(d='M164.6,61.8a61.8,61.8,0,1,0-61.8,61.8A61.84,61.84,0,0,0,164.6,61.8Zm-99.1,0a37.3,37.3,0,1,1,37.3,37.3A37.36,37.36,0,0,1,65.5,61.8Z')
            path(d='M81,481h55.6a12.3,12.3,0,1,0,0-24.6H81a24.33,24.33,0,0,1-24.3-24.3V321.6a12.32,12.32,0,0,0-8-11.5,36.86,36.86,0,0,1-24.1-34.5V197.3a36.83,36.83,0,0,1,36.8-36.8h52.4a12.3,12.3,0,0,0,0-24.6H61.3A61.37,61.37,0,0,0,0,197.2v78.3a61.49,61.49,0,0,0,32.2,53.9V432.1A48.89,48.89,0,0,0,81,481Z')

    .personal-area-nav
      img(src='images/bg/personal-area-nav.jpg' alt='').personal-area-nav__image
      .container
        .personal-area-nav__content
          a(href='#').button.personal-area-nav__master-web MasterWeb
          ul.personal-area-nav__items
            - var links = [{ path: '#', title: 'Заказы', active: true }, { path: '#', title: 'Избранное' }, { path: '#', title: 'Оставить заявку' }, { path: '#', title: 'Профиль' }, { path: '#', title: 'Туристы' }];
            each link in links
              li.personal-area-nav__item(class=link.active ? 'personal-area-nav__item_active' : '')
                a(href=link.path).personal-area-nav__link= link.title

    .container
      .personal-area-section
        h2.personal-area-section__heading Заказы
        .personal-area-section__content
          .personal-area__orders
            // tour
            .personal-area-order
              .personal-area-order__heading заказ #45674455
              .personal-area-order__items
                // card
                .personal-area-order__item
                  .card
                    a(href='#')
                      .card__img-box
                        img(src='images/card-image/card-image-01.jpg', alt='')
                        span.card__price <b>Статус:</b> Внесена предоплата
                        a(href='#').card__download.hide-mobile
                          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 349.16 336.71').card__download-icon
                            title contract
                            path(d='M341.66,0H83.46A7.5,7.5,0,0,0,76,7.5V156.6H7.5A7.5,7.5,0,0,0,0,164.1V291.23a45.53,45.53,0,0,0,45.48,45.48h258.2a45.53,45.53,0,0,0,45.48-45.48V7.5A7.5,7.5,0,0,0,341.66,0ZM15,291.23V171.6H76V291.23a30.48,30.48,0,1,1-61,0Zm319.16,0a30.51,30.51,0,0,1-30.48,30.48H79.2A45.31,45.31,0,0,0,91,291.23V15h243.2V291.23Z')
                            path(d='M202,86.63h96.13a7.5,7.5,0,0,0,0-15H202a7.5,7.5,0,0,0,0,15Z')
                            path(d='M202,169h96.13a7.5,7.5,0,0,0,0-15H202a7.5,7.5,0,0,0,0,15Z')
                            path(d='M202,251.42h96.13a7.5,7.5,0,0,0,0-15H202a7.5,7.5,0,0,0,0,15Z')
                            path(d='M132.81,95.07a7.51,7.51,0,0,0,5.45,2.35h.06A7.5,7.5,0,0,0,143.81,95L185,49.85a7.5,7.5,0,1,0-11.08-10.11L138.17,78.9,127,67.11a7.5,7.5,0,0,0-10.91,10.3Z')
                            path(d='M173.93,125.71l-35.75,39.15L127,153.08a7.5,7.5,0,0,0-10.9,10.3L132.81,181a7.51,7.51,0,0,0,5.45,2.35h.06a7.5,7.5,0,0,0,5.48-2.44L185,135.83a7.5,7.5,0,0,0-11.08-10.11Z')
                            path(d='M173.93,211.69l-35.75,39.15L127,239.06a7.5,7.5,0,0,0-10.9,10.3L132.81,267a7.51,7.51,0,0,0,5.45,2.35h.06a7.5,7.5,0,0,0,5.48-2.44L185,221.8a7.5,7.5,0,0,0-11.08-10.11Z')
                          span.card__download-text Скачать договор
                      .card__content
                        span.card__country Мальдивы
                        .card__title
                          span.card__rating
                            svg.card__rating-star
                              use(xlink:href='#star-fill')
                            svg.card__rating-star
                              use(xlink:href='#star-fill')
                            svg.card__rating-star
                              use(xlink:href='#star-fill')
                            svg.card__rating-star
                              use(xlink:href='#star-fill')
                          h3 Kurumba Village
                        .card__description-box
                          .card__description
                            span <b>8-13 янв. 2017 г.</b>
                            span <b>7 ночей</b> на двоих
                            span + ребенок (3 года)
                          .card__description
                            span к оплате:
                            span <b>125 000 руб</b>
                            span коммиссия:
                            span <b>10 000 руб</b>
                          .card__description.hide-mobile
                            a(href='#').button Подробнее
                        .card__links
                          a(href='#').card__download
                            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 349.16 336.71').card__download-icon
                              title contract
                              path(d='M341.66,0H83.46A7.5,7.5,0,0,0,76,7.5V156.6H7.5A7.5,7.5,0,0,0,0,164.1V291.23a45.53,45.53,0,0,0,45.48,45.48h258.2a45.53,45.53,0,0,0,45.48-45.48V7.5A7.5,7.5,0,0,0,341.66,0ZM15,291.23V171.6H76V291.23a30.48,30.48,0,1,1-61,0Zm319.16,0a30.51,30.51,0,0,1-30.48,30.48H79.2A45.31,45.31,0,0,0,91,291.23V15h243.2V291.23Z')
                              path(d='M202,86.63h96.13a7.5,7.5,0,0,0,0-15H202a7.5,7.5,0,0,0,0,15Z')
                              path(d='M202,169h96.13a7.5,7.5,0,0,0,0-15H202a7.5,7.5,0,0,0,0,15Z')
                              path(d='M202,251.42h96.13a7.5,7.5,0,0,0,0-15H202a7.5,7.5,0,0,0,0,15Z')
                              path(d='M132.81,95.07a7.51,7.51,0,0,0,5.45,2.35h.06A7.5,7.5,0,0,0,143.81,95L185,49.85a7.5,7.5,0,1,0-11.08-10.11L138.17,78.9,127,67.11a7.5,7.5,0,0,0-10.91,10.3Z')
                              path(d='M173.93,125.71l-35.75,39.15L127,153.08a7.5,7.5,0,0,0-10.9,10.3L132.81,181a7.51,7.51,0,0,0,5.45,2.35h.06a7.5,7.5,0,0,0,5.48-2.44L185,135.83a7.5,7.5,0,0,0-11.08-10.11Z')
                              path(d='M173.93,211.69l-35.75,39.15L127,239.06a7.5,7.5,0,0,0-10.9,10.3L132.81,267a7.51,7.51,0,0,0,5.45,2.35h.06a7.5,7.5,0,0,0,5.48-2.44L185,221.8a7.5,7.5,0,0,0-11.08-10.11Z')
                            span.card__download-text Скачать договор
                          a(href='#').button Подробнее

                // tickets
                .personal-area-order__item
                  ul.about-tour__tickets-list
                    li.about-tour__tickets-item
                      ul.about-tour__tickets-logos
                        li.about-tour__tickets-logos-item
                          img(src='images/about-tour/ticket-logos/logo.png' alt='').about-tour__tickets-logos-image
                        li.about-tour__tickets-logos-item
                          img(src='images/about-tour/ticket-logos/logo-1.png' alt='').about-tour__tickets-logos-image
                      .about-tour__tickets-info
                        img(src='images/about-tour/ticket-bg/bg.jpg' alt='').about-tour__tickets-info-image
                        .about-tour__tickets-info-content
                          .about-tour__tickets-info-row
                            .about-tour__tickets-info-time 12:40
                            .about-tour__tickets-info-travel-time
                              svg.about-tour__tickets-info-travel-time-icon
                                use(xlink:href='#plane-up')
                              .about-tour__tickets-info-travel-time-text
                                span Всего: 24ч 5м
                                span 1 пересадка (7ч)
                              svg.about-tour__tickets-info-travel-time-icon.about-tour__tickets-info-travel-time-icon_down
                                use(xlink:href='#plane-up')
                            .about-tour__tickets-info-time 14:45
                          .about-tour__tickets-info-row
                            .about-tour__tickets-info-direction
                              span Москва
                              span 09 янв 2017, Сб
                            ul.about-tour__tickets-info-airports
                              li.about-tour__tickets-info-airports-item
                                .about-tour__tickets-info-airport DME
                              li.about-tour__tickets-info-airports-item
                                .about-tour__tickets-info-airport AUH
                              li.about-tour__tickets-info-airports-item
                                .about-tour__tickets-info-airport MLE
                            .about-tour__tickets-info-direction.about-tour__tickets-info-direction_right
                              span Москва
                              span 09 янв 2017, Сб

                    li.about-tour__tickets-item
                      ul.about-tour__tickets-logos
                        li.about-tour__tickets-logos-item
                          img(src='images/about-tour/ticket-logos/logo.png' alt='').about-tour__tickets-logos-image
                        li.about-tour__tickets-logos-item
                          img(src='images/about-tour/ticket-logos/logo-1.png' alt='').about-tour__tickets-logos-image
                      .about-tour__tickets-info
                        img(src='images/about-tour/ticket-bg/bg.jpg' alt='').about-tour__tickets-info-image
                        .about-tour__tickets-info-content
                          .about-tour__tickets-info-row
                            .about-tour__tickets-info-time 19:30
                            .about-tour__tickets-info-travel-time
                              svg.about-tour__tickets-info-travel-time-icon
                                use(xlink:href='#plane-up')
                              .about-tour__tickets-info-travel-time-text
                                span Всего: 13ч 5м
                                span 1 пересадка (2ч)
                              svg.about-tour__tickets-info-travel-time-icon.about-tour__tickets-info-travel-time-icon_down
                                use(xlink:href='#plane-up')
                            .about-tour__tickets-info-time 07:15
                          .about-tour__tickets-info-row
                            .about-tour__tickets-info-direction
                              span Мале
                              span 16 янв 2017, Пт
                            ul.about-tour__tickets-info-airports
                              li.about-tour__tickets-info-airports-item
                                .about-tour__tickets-info-airport MLE
                              li.about-tour__tickets-info-airports-item
                                .about-tour__tickets-info-airport AUH
                              li.about-tour__tickets-info-airports-item
                                .about-tour__tickets-info-airport DME
                            .about-tour__tickets-info-direction.about-tour__tickets-info-direction_right
                              span Москва
                              span 16 янв 2017, Сб
                  // MOBILE TICKETS BLOCK
                  ul.about-tour__tickets-list.about-tour__tickets-list_mobile
                    li.about-tour__tickets-item
                      ul.about-tour__tickets-item-info-list
                        li.about-tour__tickets-item-info-item
                          .about-tour__tickets-item-info-col
                            b.about-tour__tickets-item-info-text Москва
                            span.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue DME, Домодедово
                          .about-tour__tickets-item-info-col
                            b.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue 12:40
                            span.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue 09 янв,сб
                          .about-tour__tickets-item-info-col.about-tour__tickets-item-info-col_logo
                            img(src='images/about-tour/ticket-logos/logo.png' alt='').about-tour__tickets-logos-image
                        li.about-tour__tickets-item-info-item
                          .about-tour__tickets-item-info-col
                            b.about-tour__tickets-item-info-text 1 пересадка (7ч)
                            span.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue AUH
                        li.about-tour__tickets-item-info-item
                          .about-tour__tickets-item-info-col
                            b.about-tour__tickets-item-info-text Мале
                            span.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue MLE, Мальдивы
                          .about-tour__tickets-item-info-col
                            b.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue 14:45
                            span.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue 10 янв,вс
                          .about-tour__tickets-item-info-col.about-tour__tickets-item-info-col_logo
                            img(src='images/about-tour/ticket-logos/logo-1.png' alt='').about-tour__tickets-logos-image
                    li.about-tour__tickets-item
                      ul.about-tour__tickets-item-info-list
                        li.about-tour__tickets-item-info-item
                          .about-tour__tickets-item-info-col
                            b.about-tour__tickets-item-info-text Мале
                            span.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue MLE, Мальдивы
                          .about-tour__tickets-item-info-col
                            b.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue 14:45
                            span.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue 10 янв,вс
                          .about-tour__tickets-item-info-col.about-tour__tickets-item-info-col_logo
                            img(src='images/about-tour/ticket-logos/logo-1.png' alt='').about-tour__tickets-logos-image
                        li.about-tour__tickets-item-info-item
                          .about-tour__tickets-item-info-col
                            b.about-tour__tickets-item-info-text 1 пересадка (7ч)
                            span.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue AUH
                        li.about-tour__tickets-item-info-item
                          .about-tour__tickets-item-info-col
                            b.about-tour__tickets-item-info-text Москва
                            span.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue DME, Домодедово
                          .about-tour__tickets-item-info-col
                            b.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue 12:40
                            span.about-tour__tickets-item-info-text.about-tour__tickets-item-info-text_blue 09 янв,сб
                          .about-tour__tickets-item-info-col.about-tour__tickets-item-info-col_logo
                            img(src='images/about-tour/ticket-logos/logo.png' alt='').about-tour__tickets-logos-image

            // hotel
            .personal-area-order
              .personal-area-order__heading заказ #45674455
              .personal-area-order__items
                // card
                .personal-area-order__item
                  .card
                    a(href='#')
                      .card__img-box
                        img(src='images/card-image/card-image-01.jpg', alt='')
                        span.card__price <b>Статус:</b> Новый, ожидание оплаты
                        a(href='#').card__download.hide-mobile
                          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 349.16 336.71').card__download-icon
                            title contract
                            path(d='M341.66,0H83.46A7.5,7.5,0,0,0,76,7.5V156.6H7.5A7.5,7.5,0,0,0,0,164.1V291.23a45.53,45.53,0,0,0,45.48,45.48h258.2a45.53,45.53,0,0,0,45.48-45.48V7.5A7.5,7.5,0,0,0,341.66,0ZM15,291.23V171.6H76V291.23a30.48,30.48,0,1,1-61,0Zm319.16,0a30.51,30.51,0,0,1-30.48,30.48H79.2A45.31,45.31,0,0,0,91,291.23V15h243.2V291.23Z')
                            path(d='M202,86.63h96.13a7.5,7.5,0,0,0,0-15H202a7.5,7.5,0,0,0,0,15Z')
                            path(d='M202,169h96.13a7.5,7.5,0,0,0,0-15H202a7.5,7.5,0,0,0,0,15Z')
                            path(d='M202,251.42h96.13a7.5,7.5,0,0,0,0-15H202a7.5,7.5,0,0,0,0,15Z')
                            path(d='M132.81,95.07a7.51,7.51,0,0,0,5.45,2.35h.06A7.5,7.5,0,0,0,143.81,95L185,49.85a7.5,7.5,0,1,0-11.08-10.11L138.17,78.9,127,67.11a7.5,7.5,0,0,0-10.91,10.3Z')
                            path(d='M173.93,125.71l-35.75,39.15L127,153.08a7.5,7.5,0,0,0-10.9,10.3L132.81,181a7.51,7.51,0,0,0,5.45,2.35h.06a7.5,7.5,0,0,0,5.48-2.44L185,135.83a7.5,7.5,0,0,0-11.08-10.11Z')
                            path(d='M173.93,211.69l-35.75,39.15L127,239.06a7.5,7.5,0,0,0-10.9,10.3L132.81,267a7.51,7.51,0,0,0,5.45,2.35h.06a7.5,7.5,0,0,0,5.48-2.44L185,221.8a7.5,7.5,0,0,0-11.08-10.11Z')
                          span.card__download-text Скачать договор
                      .card__content
                        span.card__country Мальдивы
                        .card__title
                          span.card__rating
                            svg.card__rating-star
                              use(xlink:href='#star-fill')
                            svg.card__rating-star
                              use(xlink:href='#star-fill')
                            svg.card__rating-star
                              use(xlink:href='#star-fill')
                            svg.card__rating-star
                              use(xlink:href='#star-fill')
                          h3 Kurumba Village
                        .card__description-box
                          .card__description
                            span <b>8-13 янв. 2017 г.</b>
                            span <b>7 ночей</b> на двоих
                          .card__description
                            span к оплате:
                            span <b>125 000 руб</b>
                            span коммиссия:
                            span <b>10 000 руб</b>
                          .card__description.hide-mobile
                            a(href='#').button Подробнее
                        .card__links
                          a(href='#').card__download
                            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 349.16 336.71').card__download-icon
                              title contract
                              path(d='M341.66,0H83.46A7.5,7.5,0,0,0,76,7.5V156.6H7.5A7.5,7.5,0,0,0,0,164.1V291.23a45.53,45.53,0,0,0,45.48,45.48h258.2a45.53,45.53,0,0,0,45.48-45.48V7.5A7.5,7.5,0,0,0,341.66,0ZM15,291.23V171.6H76V291.23a30.48,30.48,0,1,1-61,0Zm319.16,0a30.51,30.51,0,0,1-30.48,30.48H79.2A45.31,45.31,0,0,0,91,291.23V15h243.2V291.23Z')
                              path(d='M202,86.63h96.13a7.5,7.5,0,0,0,0-15H202a7.5,7.5,0,0,0,0,15Z')
                              path(d='M202,169h96.13a7.5,7.5,0,0,0,0-15H202a7.5,7.5,0,0,0,0,15Z')
                              path(d='M202,251.42h96.13a7.5,7.5,0,0,0,0-15H202a7.5,7.5,0,0,0,0,15Z')
                              path(d='M132.81,95.07a7.51,7.51,0,0,0,5.45,2.35h.06A7.5,7.5,0,0,0,143.81,95L185,49.85a7.5,7.5,0,1,0-11.08-10.11L138.17,78.9,127,67.11a7.5,7.5,0,0,0-10.91,10.3Z')
                              path(d='M173.93,125.71l-35.75,39.15L127,153.08a7.5,7.5,0,0,0-10.9,10.3L132.81,181a7.51,7.51,0,0,0,5.45,2.35h.06a7.5,7.5,0,0,0,5.48-2.44L185,135.83a7.5,7.5,0,0,0-11.08-10.11Z')
                              path(d='M173.93,211.69l-35.75,39.15L127,239.06a7.5,7.5,0,0,0-10.9,10.3L132.81,267a7.51,7.51,0,0,0,5.45,2.35h.06a7.5,7.5,0,0,0,5.48-2.44L185,221.8a7.5,7.5,0,0,0-11.08-10.11Z')
                            span.card__download-text Скачать договор
                          a(href='#').button Подробнее
                .personal-area-order__item
                  a(href='#').personal-area-order__banner.personal-area-order__banner_with_overlay
                    img(src='images/personal-area/banner/2.jpg' alt='').personal-area-order__banner-image
                    .personal-area-order__banner-content ПОМОЧЬ ПОДОБРАТЬ БИЛЕТЫ  ПО ЭТОМУ НАПРАВЛЕНИЮ?
  include layouts/footer.jade