extends layouts/application.jade
include layouts/interactive-stars


block content

  .wrapper.personal-area
    include layouts/header.jade
    h2.dNews__h2 Личный кабинет
    ul.personal-area-nav-mobile
      li.personal-area-nav-mobile__item
        a.personal-area-nav-mobile__link
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 60 51').personal-area-nav-mobile__icon.personal-area-nav-mobile__icon_bag
            title bag
            path(d='M57,9H55V6H45V9H41V3.21A3.21,3.21,0,0,0,37.79,0H22.21A3.21,3.21,0,0,0,19,3.21V9H15V6H5V9H3a3,3,0,0,0-3,3V48a3,3,0,0,0,3,3H57a3,3,0,0,0,3-3V12A3,3,0,0,0,57,9ZM47,8h6V9H47ZM21,3.21A1.21,1.21,0,0,1,22.21,2H37.79A1.21,1.21,0,0,1,39,3.21V9H21ZM19,11H50V49H10V11h9ZM7,8h6V9H7ZM2,48V12a1,1,0,0,1,1-1H8V49H3A1,1,0,0,1,2,48Zm56,0a1,1,0,0,1-1,1H52V11h5a1,1,0,0,1,1,1Z')
      li.personal-area-nav-mobile__item
        a.personal-area-nav-mobile__link
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 21.25').personal-area-nav-mobile__icon.personal-area-nav-mobile__icon_heart
            title heart
            path(d='M17,1c-2.11,0-4,2.22-5,3.94C10.94,3.22,9.08,1,7,1A6.1,6.1,0,0,0,1,7.22c0,4.06,2.89,6.33,5.78,8.69C9.36,18,12,20,12,20s2.64-2,5.22-4.08C20.11,13.56,23,11.29,23,7.22A6.1,6.1,0,0,0,17,1Z', fill='none', stroke='#000', stroke-miterlimit='10', stroke-width='2')
      li.personal-area-nav-mobile__item.personal-area-nav-mobile__item_active
        a.personal-area-nav-mobile__link
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 411.03 512').personal-area-nav-mobile__icon.personal-area-nav-mobile__icon_list
            title list-doc
            path(d='M378.55,0H32.48A32.51,32.51,0,0,0,0,32.48v447A32.51,32.51,0,0,0,32.48,512H378.55A32.51,32.51,0,0,0,411,479.52v-447A32.52,32.52,0,0,0,378.55,0ZM135.08,20.4H276V68.33H135.08Zm-10.2,68.34H286.15a10.2,10.2,0,0,0,10.2-10.2V66.29h36.1V445.71H137.17L137,397a10.2,10.2,0,0,0-10.2-10.18H78.57V66.29h36.1V78.53A10.2,10.2,0,0,0,124.88,88.73Zm-8.14,343.6L91.61,407.21h25.06Zm273.89,47.19a12.09,12.09,0,0,1-12.08,12.08H32.48A12.09,12.09,0,0,1,20.4,479.52v-447A12.09,12.09,0,0,1,32.48,20.4h82.2V45.9H68.37a10.2,10.2,0,0,0-10.2,10.2v342.3a10.2,10.2,0,0,0,3,7.21l57.51,57.51a10.2,10.2,0,0,0,7.21,3H342.65a10.2,10.2,0,0,0,10.2-10.2V56.1a10.2,10.2,0,0,0-10.2-10.2h-46.3V20.4h82.2a12.09,12.09,0,0,1,12.08,12.08Z')
            path(d='M124.33,326.53h-3.08a10.2,10.2,0,1,0,0,20.4h3.08a10.2,10.2,0,0,0,0-20.4Z')
            path(d='M289.77,326.53H160.63a10.2,10.2,0,0,0,0,20.4H289.77a10.2,10.2,0,0,0,0-20.4Z')
            path(d='M289.77,261.83H121.25a10.2,10.2,0,1,0,0,20.4H289.77a10.2,10.2,0,0,0,0-20.4Z')
            path(d='M289.77,197.13H121.25a10.2,10.2,0,1,0,0,20.4H289.77a10.2,10.2,0,0,0,0-20.4Z')
            path(d='M289.77,131.57H121.25a10.2,10.2,0,1,0,0,20.4H289.77a10.2,10.2,0,0,0,0-20.4Z')
      li.personal-area-nav-mobile__item
        a.personal-area-nav-mobile__link
          svg.personal-area-nav-mobile__icon.personal-area-nav-mobile__icon_user
            use(xlink:href='#user')
      li.personal-area-nav-mobile__item
        a(data-modal-popup='.js-maldiv-bonuses-popup').personal-area-nav-mobile__link.js-open-modal-popup
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512').personal-area-nav-mobile__icon.personal-area-nav-mobile__icon_percent
            title percent
            path(d='M512,254.85a61.87,61.87,0,0,0-10.13-34,41.18,41.18,0,0,1-6-29.66,62.14,62.14,0,0,0-26.21-61.75c-8.4-5.72-14.43-14.84-17-25.66A62.14,62.14,0,0,0,405.55,57.4a42.4,42.4,0,0,1-25.73-16.87,62.13,62.13,0,0,0-62.2-25.14,41.19,41.19,0,0,1-29.69-5.85,62.13,62.13,0,0,0-67.08.58,41.17,41.17,0,0,1-29.66,6,62.13,62.13,0,0,0-61.75,26.21c-5.72,8.4-14.84,14.43-25.66,17A62.14,62.14,0,0,0,57.4,106.45a42.39,42.39,0,0,1-16.88,25.73,62.13,62.13,0,0,0-25.14,62.2,41.18,41.18,0,0,1-5.85,29.69,62.13,62.13,0,0,0,.58,67.08,41.18,41.18,0,0,1,6,29.66,62.14,62.14,0,0,0,26.21,61.75c8.4,5.73,14.43,14.84,17,25.66a62.14,62.14,0,0,0,47.18,46.37,42.39,42.39,0,0,1,25.73,16.88,62.13,62.13,0,0,0,62.2,25.14,41.18,41.18,0,0,1,29.68,5.85,62.13,62.13,0,0,0,67.08-.58,41.16,41.16,0,0,1,29.66-6,62.13,62.13,0,0,0,61.75-26.21c5.73-8.4,14.84-14.43,25.66-17a62.13,62.13,0,0,0,46.37-47.18,42.39,42.39,0,0,1,16.88-25.73,62.13,62.13,0,0,0,25.14-62.2,41.18,41.18,0,0,1,5.85-29.69A61.89,61.89,0,0,0,512,254.85ZM485.21,277a61.52,61.52,0,0,0-8.64,44.37,41.73,41.73,0,0,1-16.87,41.74,62.75,62.75,0,0,0-25,38,41.74,41.74,0,0,1-31.12,31.66c-15.8,3.72-29.23,12.73-37.84,25.35a41.73,41.73,0,0,1-41.44,17.59,61.51,61.51,0,0,0-44.3,9,41.73,41.73,0,0,1-45,.39,62.06,62.06,0,0,0-33.13-9.69,60.32,60.32,0,0,0-11.24,1.06,41.73,41.73,0,0,1-41.75-16.87,62.74,62.74,0,0,0-38.05-25,41.74,41.74,0,0,1-31.66-31.12c-3.72-15.8-12.72-29.23-25.35-37.84a41.74,41.74,0,0,1-17.59-41.44,61.51,61.51,0,0,0-9-44.29,41.74,41.74,0,0,1-.39-45,61.52,61.52,0,0,0,8.64-44.37A41.73,41.73,0,0,1,52.3,148.84a62.75,62.75,0,0,0,25-38.05,41.74,41.74,0,0,1,31.12-31.66c15.8-3.72,29.23-12.73,37.84-25.35a41.73,41.73,0,0,1,41.44-17.59,61.51,61.51,0,0,0,44.29-9,41.74,41.74,0,0,1,45-.39,61.53,61.53,0,0,0,44.37,8.64A41.73,41.73,0,0,1,363.16,52.3a62.74,62.74,0,0,0,38.05,25,41.74,41.74,0,0,1,31.66,31.12c3.72,15.8,12.73,29.23,25.35,37.84a41.74,41.74,0,0,1,17.59,41.44,61.51,61.51,0,0,0,9,44.29,41.74,41.74,0,0,1,.39,45Z')
            path(d='M225.46,226V178.63c0-27.17-18-37.27-40.75-37.27-23.06,0-40.75,10.11-40.75,37.27V226c0,27.17,17.69,37.28,40.75,37.27C207.46,263.29,225.46,253.18,225.46,226Zm-19,0c0,13.9-8.21,20.53-21.8,20.53s-21.8-6.63-21.8-20.53V178.63c0-13.9,8.21-20.53,21.8-20.53s21.8,6.63,21.8,20.53Z')
            path(d='M322.13,251.29c-23.06,0-40.75,10.11-40.75,37.27v47.38c0,27.17,17.69,37.27,40.75,37.27,22.74,0,40.75-10.11,40.75-37.27V288.56C362.88,261.39,344.87,251.29,322.13,251.29Zm21.8,84.66c0,13.9-8.21,20.53-21.8,20.53s-21.8-6.63-21.8-20.53V288.56c0-13.9,8.21-20.53,21.8-20.53s21.8,6.63,21.8,20.53Z')
            path(d='M323.39,139.46c0-6-5.68-10.43-10.74-10.42a8.69,8.69,0,0,0-7.9,4.74L186.29,368.16a9.72,9.72,0,0,0-.95,4.11c0,5.05,4.42,9.48,10.11,9.48,3.79,0,7.27-1.58,8.85-5.05L322.44,143.88A11.16,11.16,0,0,0,323.39,139.46Z')

    .personal-area-nav
      img(src='images/bg/personal-area-nav.jpg' alt='').personal-area-nav__image
      .container
        .personal-area-nav__content
          .personal-area-nav__bonuses
            .personal-area-nav__bonuses-row
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 467.03').personal-area-nav__bonuses-icon
                title palm
                path(d='M511.38,139.8c-.72-2-18.7-48.38-101.76-48.38a174.07,174.07,0,0,0-26.67,2l72.26-72.26a10.45,10.45,0,0,0,2.52-10.71c-.13-.39-.22-.61-.22-.61A10.69,10.69,0,0,0,452.14,4C450.23,3.14,404.71-17,346,41.77c-11.85,11.85-21.17,24.17-27.92,36.85-6.34-11.41-15.49-23.81-28.54-36.85-55-55-103.22-38.83-105.25-38.12a10.46,10.46,0,0,0-6.43,6.55l-.1.29a10.45,10.45,0,0,0,2.54,10.63L252.36,93.2a190.66,190.66,0,0,0-26.64-1.78c-77.78,0-100.45,45.53-101.37,47.47a10.49,10.49,0,0,0,.06,9.13l.18.35a10.45,10.45,0,0,0,9.3,5.69h113a43.85,43.85,0,0,0,29.47,66.15A43.82,43.82,0,0,0,292.64,271V422a43.36,43.36,0,0,0-20.33-8.61,71.33,71.33,0,0,0-132.08-3.66,47.34,47.34,0,0,0-37.75,36.37H84.68a10.45,10.45,0,1,0,0,20.9H424.12a10.45,10.45,0,0,0,0-20.9H349.07V265.55A43.79,43.79,0,0,0,359,220.21a43.85,43.85,0,0,0,29.47-66.15h113a10.45,10.45,0,0,0,9.36-5.8c.17-.34.26-.54.26-.54A10.64,10.64,0,0,0,511.38,139.8Zm-387,306.33a26.58,26.58,0,0,1,23.71-16.24,10.45,10.45,0,0,0,9.58-7.18A50.42,50.42,0,0,1,254.39,426,10.48,10.48,0,0,0,265,433.91c.36,0,.72,0,1.09,0a22.72,22.72,0,0,1,20.15,12.26H124.35ZM360.76,56.54C388.35,29,411.21,21.87,425.87,20.91l-88.71,88.71c-2.4,1.49-4.62,3-6.68,4.53-.34-2.43-.81-5-1.42-7.6C334,89.47,344.65,72.65,360.76,56.54ZM210.74,22c15.34,1.5,38.35,8.86,64,34.51C294.81,76.61,304,94.18,307.93,107.9a10.43,10.43,0,0,0,.61,2.27,67.66,67.66,0,0,1,1.32,6.66,87.57,87.57,0,0,0-14.08-9.77ZM156.07,133.16c11.9-9.79,33.38-20.85,69.66-20.85,26.89,0,45.3,5.3,57.77,11.76a10.3,10.3,0,0,0,2.06,1.11,65.82,65.82,0,0,1,11.4,8ZM284.22,200a23,23,0,1,1,23-23A23,23,0,0,1,284.22,200Zm44,246.09H313.54V278.63c1.35.13,2.72.2,4.11.2a43.77,43.77,0,0,0,10.52-1.28V446.13ZM317.65,257.94a23,23,0,1,1,23-23A23,23,0,0,1,317.65,257.94ZM351.09,200a23,23,0,1,1,23-23A23,23,0,0,1,351.09,200ZM340,133.16A74.75,74.75,0,0,1,348,127.4a10.42,10.42,0,0,0,1.83-1.1c12.77-7.46,31.89-14,59.74-14,39,0,60.2,11.16,71.24,20.85Z')
                path(d='M49.15,446.13H10.45a10.45,10.45,0,1,0,0,20.9h38.7a10.45,10.45,0,0,0,0-20.9Z')
                path(d='M501.52,446.13H459.64a10.45,10.45,0,0,0,0,20.9h41.88a10.45,10.45,0,0,0,0-20.9Z')
              span.personal-area-nav__bonuses-text.personal-area-nav__bonuses-text_size_lg 300
            span.personal-area-nav__bonuses-text Мальдивбонусов

          ul.personal-area-nav__items
            - var links = [{ path: '#', title: 'Заказы' }, { path: '#', title: 'Избранное' }, { path: '#', title: 'Оставить заявку', active: true }, { path: '#', title: 'Профиль' }];
            each link in links
              li.personal-area-nav__item(class=link.active ? 'personal-area-nav__item_active' : '')
                a(href=link.path).personal-area-nav__link= link.title

    .container
      .personal-area-section
        h2.personal-area-section__heading Оставить заявку
        .personal-area-section__content

          form.personal-area__request
            label.personal-area__field
              span.personal-area__label Телефон:
              input(value='+7 (925) 123 23 55').personal-area__text-field
            label.personal-area__field
              span.personal-area__label Куда:
              .personal-area__select
                select.personal-area__select-field
                  option Доминикана
                  option Текст
                svg.personal-area__select-icon
                  use(xlink:href='#caret-down')
            // TODO ПО КЛИКУ НА ПОЛЕ ДОЛЖЕН ОТКРЫВАТЬСЯ НЕ СЕЛЕКТ, А КАЛЕНДАРЬ.
            label.personal-area__field
              span.personal-area__label Когда:
              .personal-area__select
                select.personal-area__select-field
                  option Текст
                  option Текст
                svg.personal-area__select-icon
                  use(xlink:href='#caret-down')
            .personal-area__field
              span.personal-area__label Категория отеля:
              +interactive-stars(5, 'hotel-category')
            label.personal-area__field
              span.personal-area__label Бюджет:
              input(value='100 000 руб.').personal-area__text-field
              span.personal-area__field-text на всех
            label.personal-area__field
              span.personal-area__label Комментарий:
              textarea.personal-area__text-area Нужно очень срочно!
            .personal-area__field_labelless
              button(type='submit').button Отправить
  include layouts/footer.jade
  include layouts/modal-popups/maldiv-bonuses-popup