extends layouts/application.jade



block content
  .wrapper.region-page
    include layouts/header.jade
    h2.dNews__h2 Африка и Индийский океан
    - var gallerySliderNoDescription = true
    include layouts/gallery-slider

    .regionCountry
      .section__title
        h2.h2 Другие страны в этом регионе
      .container
        ul.category__list
          li.category__list-item
            .category-card
              a(href='#')
                img(src='images/region/country-2.jpg', alt='')
                span.category-card__title
                  | шри-ланка
          li.category__list-item
            .category-card
              a(href='#')
                img(src='images/region/country-3.jpg', alt='')
                span.category-card__title
                  | сейшелы
          li.category__list-item
            .category-card
              a(href='#')
                img(src='images/region/country-4.jpg', alt='')
                span.category-card__title
                  | дайвинг-сафари

    .regionArticle
      .container
        .regionArticle__content
          .regionArticle__text
            .regionArticle__textTitle 
              span
                |Выбери страну по вкусу!
            .regionArticle__textDescription  
              p Африка и Индийский окена – это 1 192 коралловых острова, из которых постоянно заселено лишь порядка 200.Здесь вас ждут Лазурь неба и моря, яркое солнце, песчаные роскошные пляжи, тропическая зелень, спокойствие и умиротворение. Оформлять визу заранее не требуется, поэтому купить горящую путевку на Мальдивы можно без долгих размышлений.
              p Когда лучше ехать на Мальдивы? Больше всего туристов на островах с ноября по апрель – в это время здесь температура воды поднимается до 26-28 °С, а воздуха – до 31-32°С. Это период самых высоких цен.
              p Стоимость тура на Мальдивы в «не сезон» (май-октябрь) самая низкая. Любители серфинга и люди, плохо переносящие жару, предпочитают отдых в это время: температура воздуха редко поднимается выше 30°С, а ветер создает условия для хорошей волны. Дожди, как правило, кратковременные, но море может не порадовать прозрачной голубизной – из-за ветров вода иногда становится мутной. Впрочем, судя по отзывам отдыхающих, опасения касательно ветров и дождей обычно преувеличены.
              p Возможно, тем, кто впервые решил купить путевки на Мальдивы, цена покажется довольно высокой. Но вы получаете по-настоящему шикарный отдых. Длительность туров – от 5-ти до 15-ти дней и, соответственно, от 6-ти до 16-ти ночей. Если вы предпочитаете проводить отдых более разнообразно, можно подобрать комбинированные туры. Это либо Шри-Ланка + Мальдивы, либо ОАЭ + Мальдивы, либо Турция + Мальдивы.
          .regionArticle__images
            img.regionArticle__image(src="images/stock/stock-2.jpg", alt="")
            img.regionArticle__image(src="images/stock/stock-2.jpg", alt="")

        .regionArticle__content
          .regionArticle__border
            span.regionArticle__borderQuotes.__top
              svg
                  use(xlink:href="#quotes")
            span.regionArticle__borderQuotes.__bottom
              svg
                  use(xlink:href="#quotes")
            .regionArticle__borderText
              span
                |  Любители серфинга и люди, <br/> плохо переносящие жару,  <br/>предпочитают отдых в это время
          .regionArticle__text-2
            
            .regionArticle__textDescription  
              p Африка и Индийский окена– это 1 192 коралловых острова, из которых постоянно заселено лишь порядка 200.Здесь вас ждут Лазурь неба и моря, яркое солнце, песчаные роскошные пляжи, тропическая зелень, спокойствие и умиротворение. Оформлять визу заранее не требуется, поэтому купить горящую путевку на Мальдивы можно без долгих размышлений.
              p Когда лучше ехать на Мальдивы? Больше всего туристов на островах с ноября по апрель – в это время здесь температура воды поднимается до 26-28 °С, а воздуха – до 31-32°С. Это период самых высоких цен.
              p Стоимость тура на Мальдивы в «не сезон» (май-октябрь) самая низкая. Любители серфинга и люди, плохо переносящие жару, предпочитают отдых в это время: температура воздуха редко поднимается выше 30°С, а ветер создает условия для хорошей волны. Дожди, как правило, кратковременные, но море может не порадовать прозрачной голубизной – из-за ветров вода иногда становится мутной. Впрочем, судя по отзывам отдыхающих, опасения касательно ветров и дождей обычно преувеличены.
              p Возможно, тем, кто впервые решил купить путевки на Мальдивы, цена покажется довольно высокой. Но вы получаете по-настоящему шикарный отдых. Длительность туров – от 5-ти до 15-ти дней и, соответственно, от 6-ти до 16-ти ночей. Если вы предпочитаете проводить отдых более разнообразно, можно подобрать комбинированные туры. Это либо Шри-Ланка + Мальдивы, либо ОАЭ + Мальдивы, либо Турция + Мальдивы.
    .typesHoliday
      .section__title
        h2.h2 Типы отдыха
      .container
        include layouts/types__holiday.jade

    .regionHotelsSlider
      .section__title.regionHotelsSlider__title
        h2.h2 Отели в этом регионе
      .container
        include layouts/slider__catalog.jade

    .specialOffers
      .section__title.regionHotelsSlider__title
        h2.h2 Спецпредложения отелей
      #specialOffers__map

    .otherRegions
      .section__title.regionHotelsSlider__title
        h2.h2 Другие регионы

      .otherRegions__slider-wrapper
        div.otherRegions__button.otherRegions__button_prev.js-otherRegions__button_prev
          svg.otherRegions__button-icon
            use(xlink:href="#arrow-left")

        div.otherRegions__button.otherRegions__button_next.js-otherRegions__button_next
          svg.otherRegions__button-icon
            use(xlink:href="#arrow-right")

        .otherRegions__slider.js-otherRegions__slider.swiper-container.container
          ul.otherRegions__items.swiper-wrapper
            - for (var i = 0; i < 2; i++)
                li.otherRegions__item.swiper-slide
                    img(src='images/region/otherregions.jpg' alt='').otherRegions__image
                    a(href='#').otherRegions__name Азия, Ближний и Средний Восток
    
    .contactForm
      .container
        form.contactForm__inner
          .contactForm__textTitle 
              span
                |Выберите страну по вкусу
          .contactForm__description  Наши менеджеры подберут для вас идеальное предложение, учитывая все Ваши пожелания.

          .contactForm__row
            .contactForm__input
              label(for="") <span>*</span>Имя:
              input(name="name" type="text" placeholder="Mария")
            .contactForm__input
              label(for="") <span>*</span>Телефон:
              input(name="tel" type="text" placeholder="+7 (925) 123 23 55")
            .contactForm__input
              label(for="") <span>*</span>E-mail:
              input(name="email" type="text" placeholder="ksenia@mail.ru")
          .contactForm__row
            .contactForm__textarea
              label(for="") Сообщение:
              textarea(name="message", cols="30", rows="10" placeholder="Напишите текст Вашего сообщения")
          .contactForm__row
            button.contactForm__button Отправить

    .featuresHoliday
      .section__title.featuresHoliday__title
        h2.h2 Преимущества Мальдивы
      .container
        .featuresHoliday__column
          .featuresHoliday__item
            .featuresHoliday__icon
              svg
                use(xlink:href="#aircraft")
            .featuresHoliday__description 99% вылетов без задержек
          .featuresHoliday__item
            .featuresHoliday__icon
              svg
                use(xlink:href="#starsfeatures")
            .featuresHoliday__description Ведущее место в рейтинге<br/>туроператоров России
        .featuresHoliday__column
          .featuresHoliday__item
            .featuresHoliday__icon
              svg
                use(xlink:href="#blankfeatures")
            .featuresHoliday__description Все туры застрахованы
          .featuresHoliday__item
            .featuresHoliday__icon
              svg
                use(xlink:href="#shipfeatures")
            .featuresHoliday__description Яхта «Мальдивиана» с 2009 г.<br/>признана лучшей сафари-яхтой Азии 
        .featuresHoliday__column
          .featuresHoliday__item
            .featuresHoliday__icon
              svg
                use(xlink:href="#giftfeatures")
            .featuresHoliday__description Многолетняя помощь <br/>Благотворительному фонду<br/><strong>ПОДАРИ ЖИЗНЬ</strong>
          .featuresHoliday__item
            .featuresHoliday__icon
              svg
                use(xlink:href="#airflotfeatures")
            .featuresHoliday__description Официальный представитель<br/>а/к Аэрофлот на мальдивах 


                

  include layouts/footer.jade