extends layouts/application.jade



block content
  //- include layouts/header.jade
  //- include layouts/main.jade
  //- include layouts/about.jade
  //- include layouts/consultate.jade
  
  .wrapper.tour-page
    //- // HEADER
    include layouts/header.jade
    .popup__wishlist
      .container
        .popup__column.__title
          .popup__title Отель добавлен в избранное
        .popup__column.__middle
          .popup__middle
            svg.svg__wishlist.__popup
              use(xlink:href='#wishlist')
            a.popup__link(href="") Перейти в избранное
        .popup__column.__close
          .popup__close
            svg.svg__close
              use(xlink:href='#closeButton')

    .popup__compare
      .container
        .popup__column.__title
          .popup__title Отель добавлен в сравнение
        .popup__column.__middle
          .popup__middle
            svg.svg__compare.__popup
              use(xlink:href='#compare')
            a.popup__link(href="") Перейти в сравнение
        .popup__column.__close
          .popup__close
            svg.svg__close
              use(xlink:href='#closeButton')


    .hotelsHeader
      .container
        .hotelsHeader__column.__panel
          .hotelsHeader__button-wishlist.js-wishlist
            //- img(src="images/icon/wishlist.png", alt="")
            svg.svg__wishlist.js-wishlist
              use(xlink:href='#wishlist' )
            span В избранное
          .hotelsHeader__button-compare.js-compare
            svg.svg__compare
              use(xlink:href='#compare' )
            span В сравнение
        .hotelsHeader__column.__title
          .hotelsHeader__nameHotel  Тур в отель Sol Cayo Largo 4*
          .hotelsHeader__geo  Мальдивы, Атолл Фелиху
          .hotelsHeader__priceMob от 5 500 $
        .hotelsHeader__column.__rating
          svg.svg__rating
            use(xlink:href='#rating' )
          .hotelsHeader__value 9.3 / 10

    include layouts/gallery-slider

    .hotelsHeader__button-wishlistMob.js-wishlist
      //- img(src="images/icon/wishlist.png", alt="")
      svg.svg__wishlist.js-wishlist
        use(xlink:href='#wishlist' )
      span Добавить в избранное
    .calendar-price
      .section__title
        h2.h2 Календарь цен
      .container
        .js-calendar-price-slider-container.swiper-container
          .calendar-price-charts.js-calendar-price-charts.swiper-wrapper

        .calendar-price__btn.calendar-price__btn_prev.js-calendar-price__btn_prev
          svg
              use(xlink:href="#arrow-left")
        .calendar-price__btn.calendar-price__btn_next.js-calendar-price__btn_next
          svg
              use(xlink:href="#arrow-right")

    .dSubscribePrice
      .container
        .dSubscribePrice__wrapper
          img(src='images/bg/bg-subcribe-price.jpg' alt='').dSubscribePrice__image
          .dSubscribePrice__content
            span.dSubscribePrice__title Cледите за изменением цен
            span.dSubscribePrice__description Получайте письма о понижении цен на Вашу почту
            form.short-form.dSubscribePrice__form(action="")
              input(type='text', placeholder='Ваш E-mail').dSubscribePrice__input
              button.subscribe-button.dSubscribePrice__button(type='submit', data-href='#subscribe-popup')
                svg
                  use(xlink:href='#arrow-right')

    .container
      #hotelsTabs.hotelsTabs.js-accordion
        ul.hotelsTabs__nav
          li
            a(href="#hotelsTabs-1") Описание тура
          li
            a#map-link.hotelsTabs__link(href="#hotelsTabs-2") Отель на карте
          li
            a(href="#hotelsTabs-3") Бонусы и акции
          li 
            a#sliderFeedback(href="#hotelsTabs-4") Отзывы
        p.mobShow.hotelsDescription__accordTitle.hotelsTabsDrop-1.active Описание отеля 
        #hotelsTabs-1.hotelsTabs__block

          .hotelsDescription
            
            .hotelsDescription__column
              .hotelsDescription__info
                .hotelsDescription__heading
                  .hotelsDescription__icon-wrapper
                    .hotelsDescription__icon
                      svg
                        use(xlink:href='#geo-island' x="0" y="0")
                  .hotelsDescription__title Месторасположение:
                .hotelsDescription__value остров Эллайду в Ари Атолле
                .hotelsDescription__value Расстояние до международного аэропорта<br/> IBRAHIM Nasir: 42 км
              .hotelsDescription__info
                .hotelsDescription__heading
                  .hotelsDescription__icon-wrapper
                    .hotelsDescription__icon
                      svg
                        use(xlink:href='#size-island' x="0" y="0")
                  .hotelsDescription__title Размеры острова:
                .hotelsDescription__value остров Эллайду в Ари Атолле
              .hotelsDescription__info
                .hotelsDescription__heading
                  .hotelsDescription__icon-wrapper
                    .hotelsDescription__icon
                      svg
                        use(xlink:href='#transfer' x="0" y="0")
                  .hotelsDescription__title Трансфер:
                .hotelsDescription__value остров Эллайду в Ари Атолле
              .hotelsDescription__info
                .hotelsDescription__heading
                  .hotelsDescription__icon-wrapper
                    .hotelsDescription__icon
                      svg
                        use(xlink:href='#hotel-house' x="0" y="0")
                  .hotelsDescription__title В отеле:
                ul.hotelsDescription__list
                  li.hotelsDescription__li бассейн
                  li.hotelsDescription__li SPA
                  
            .hotelsDescription__column
              .hotelsDescription__info
                .hotelsDescription__heading
                  .hotelsDescription__icon-wrapper
                    .hotelsDescription__icon
                      svg
                        use(xlink:href='#food-hotels' x="0" y="0")
                  .hotelsDescription__title Питание:

                ul.hotelsDescription__list
                  .hotelsDescription__name Пакет "All Inclusive": 
                  li.hotelsDescription__li завтраки, обеды, ужины;
                  li.hotelsDescription__li закуски;
                  li.hotelsDescription__li столовое вино, крепкий алкоголь, коктейли, пиво, безалкогольные напитки и пакетированные соки, бутылированная вода, чай и кофе;
                  li.hotelsDescription__li тренажерный зал, бадминтон, настольный теннис, бильярд, пляжный волейбол, сквош.
                ul.hotelsDescription__list
                  .hotelsDescription__name Пакет "Premium All Inclusive":
                  .hotelsDescription__value(style="margin-top:0;") (минимум проживания - 7 ночей) дополнительно включает:
                  li.hotelsDescription__li бесплатный WI-FI;
                  li.hotelsDescription__li мини-бар (заполняется один раз в день безалкогольными напитками и пивом); алкоголь премиальных марок;
                  li.hotelsDescription__li широкий выбор коктейлей;
                  li.hotelsDescription__li свежевыжатые соки и молочные коктейли;
                  li.hotelsDescription__li две бесплатные экскурсии на выбор по специальному меню;
                  li.hotelsDescription__li ужин на пляже;
                  li.hotelsDescription__li 60-минутный массаж.
            .hotelsDescription__column
              .hotelsDescription__info
                .hotelsDescription__heading
                  .hotelsDescription__icon-wrapper
                    .hotelsDescription__icon
                      svg
                        use(xlink:href='#aqua-mask' x="0" y="0")
                  .hotelsDescription__title Спорт и развлечения

                ul.hotelsDescription__list
                  
                  li.hotelsDescription__li немоторизованные водные виды спорта
                  li.hotelsDescription__li футбольное поле
                  li.hotelsDescription__li моторизованные водные виды спорта
                  li.hotelsDescription__li фитнес/тренажерный зал
                  li.hotelsDescription__li дайвинг-центр
                  li.hotelsDescription__li волейбол
              .hotelsDescription__info
                .hotelsDescription__heading
                  .hotelsDescription__icon-wrapper
                    .hotelsDescription__icon
                      svg
                        use(xlink:href='#compass-hotel' x="0" y="0")
                  .hotelsDescription__title Экскурсии

                ul.hotelsDescription__list
                  
                  li.hotelsDescription__li Рыбацкая деревушка
                  li.hotelsDescription__li Ромео и Джульета
                  li.hotelsDescription__li Остров Расду
                  li.hotelsDescription__li Мале
                  li.hotelsDescription__li Рыбалка на закате
                  li.hotelsDescription__li Глубоководная рыбалка
                  li.hotelsDescription__li «За дельфинами»
                  li.hotelsDescription__li Утренняя рыбалка
                  li.hotelsDescription__li Ночная рыбалка
                  li.hotelsDescription__li Сноркелинг
              
        p.mobShow.hotelsDescription__accordTitle.hotelsTabsDrop-2 Отель на карте
        #hotelsTabs-2.hotelsTabs__block
          
          #mapPrice(style="height:400px;width:100%;border-radius:12px;")
        p.mobShow.hotelsDescription__accordTitle.hotelsTabsDrop-3 Бонусы и акции
        #hotelsTabs-3.hotelsTabs__block
          .hotelsTabs__bonus
            
            a.hotelsBonus__column
              img(src='images/bonus/bonus-1.jpg' alt='').hotelsBonus__image
              .hotelsBonus__content
                .hotelsBonus__name 20% скидка на проживание
                .hotelsBonus__info Бесплатное проживание и питание для детей до 7 лет в номере с двумя оплаченными взрослыми.
                .hotelsBonus__info Бесплатная вода в главном ресторане отеля во время завтраков, обедов и ужинов (согласно оплаченному типу питания).
                .hotelsBonus__border-bottom
                .hotelsBonus__date
                  p.hotelsBonus__date-name Период действия
                  p.hotelsBonus__date-value 26.12.2016 - 16.04.2017
              .hotelsBonus__hover
                p.hotelsBonus__hover-heading 20% скидка на проживание
                ul.hotelsBonus__hover-optionlist
                  li
                    span.hotelsBonus__hover-optionname Типы номеров:
                    | Все
                  li
                    span.hotelsBonus__hover-optionname Пансион:
                    | Все
                  li
                    span.hotelsBonus__hover-optionname Комбинируется с другими бонусами:
                    | Да
                  li
                    span.hotelsBonus__hover-optionname Бонус учтен в ценах на сайте:
                    | Да
                .hotelsBonus__hover-attention
                  p.hotelsBonus__hover-attentionheading Внимание:
                  p.hotelsBonus__hover-attentiontext Бонусные (бесплатные) ночи расчитываются на базовом питании. Разницу между выбранным и базовым питанием необходимо будет оплатить

            a.hotelsBonus__column
              img(src='images/bonus/bonus-2.jpg' alt='').hotelsBonus__image
              .hotelsBonus__content
                .hotelsBonus__name Бонус молодоженам, а также отмечающим "серебряную" и "золотую" свадьбу
                .hotelsBonus__info Бутылка вина
                .hotelsBonus__info Корзина фруктов
                .hotelsBonus__border-bottom
                .hotelsBonus__date
                  p.hotelsBonus__date-name Период действия
                  p.hotelsBonus__date-value 26.12.2016 - 16.04.2017
              .hotelsBonus__hover
                p.hotelsBonus__hover-heading Бонус молодоженам, а также отмечающим "серебряную" и "золотую" свадьбу
                ul.hotelsBonus__hover-optionlist
                  li
                    span.hotelsBonus__hover-optionname Типы номеров:
                    | Все
                  li
                    span.hotelsBonus__hover-optionname Пансион:
                    | Все
                  li
                    span.hotelsBonus__hover-optionname Комбинируется с другими бонусами:
                    | Да
                  li
                    span.hotelsBonus__hover-optionname Бонус учтен в ценах на сайте:
                    | Да
                .hotelsBonus__hover-attention
                  p.hotelsBonus__hover-attentionheading Внимание:
                  p.hotelsBonus__hover-attentiontext Бонусные (бесплатные) ночи расчитываются на базовом питании. Разницу между выбранным и базовым питанием необходимо будет оплатить
                
        p#sliderFeedbackMobile.mobShow.hotelsDescription__accordTitle.hotelsTabsDrop-4 Отзывы
        #hotelsTabs-4.hotelsTabs__block
          
          include layouts/feedback.jade

    .holidayCreate
      .section__title
          h2.h2 Туры с вылетом из 
          .pick-up
            | Москвы
            svg.pick-up__icon
              use(xlink:href='#caret-down')
            .dropdown__box
              span.dropdown__triangle
              ul.dropdown__list
                li.dropdown__list-item
                  a.dropdown__link(href='#') Шри-Ланка
                li.dropdown__list-item
                  a.dropdown__link(href='#') Доминикана
                li.dropdown__list-item
                  a.dropdown__link(href='#') Сейшелы
                li.dropdown__list-item
                  a.dropdown__link(href='#') Маврикий

      .holidayCreate__filter
        img(src='images/bg/filter-hotels.jpg' alt='@').holidayCreate__filter-image
        a.filter__back.back.js-close-filterMob(href='#')
          svg.icon-arrow-left
            use(xlink:href='#arrow-left')
          | Назад
        .container.holidayCreate__filter-content

          form.search__form.search__form_hotels(action='')
            .search__items
              .search__item
                svg.search__icon.icon-compass
                  use(xlink:href='#compass')
                input.search__input.js-init-autocomplete(type='text', placeholder='Куда', data-source='places')
                
              .search__item.search__item--people
                input.search__hidden(type='text', name='adults')
                input.search__hidden(type='text', name='babies')
                .search__chosen-count
                  .search__people.search__people_adult
                    svg.search__people-icon
                      use(xlink:href='#man')
                    span.search__people-delete
                  .search__people.search__people_adult
                    svg.search__people-icon
                      use(xlink:href='#man')
                    span.search__people-delete
                  .search__people.search__people_baby
                    span.search__baby-count 4
                    svg.search__people-icon.search__people-icon_baby
                      use(xlink:href='#baby')
                    span.search__people-delete
                .search__add-count
                  .search__people.search__people_adult
                    span.search__people-add
                    svg.search__people-icon
                      use(xlink:href='#man')
                  .search__people.search__people_baby
                    input.search__baby-age.js-init-autocomplete(type='text' data-source='babyage')
                    span.search__people-add
                    svg.search__people-icon.search__people-icon_baby
                      use(xlink:href='#baby')
                      
              .search__item.search__item--lg
                svg.search__icon.icon-calendar
                  use(xlink:href='#calendar')
                input.search__input.search__input_calendar.js-init-calendar(type='text', placeholder='Выберите дату', readonly='true')
                svg.search__arrow
                  use(xlink:href='#caret-down')
                  
              .search__item.search__item_mobile
                svg.search__icon.icon-man
                  use(xlink:href='#man')
                input.search__input.search__input_adults.js-init-autocomplete(type='text', placeholder='Взрослые', data-source='adults')
                svg.search__arrow
                  use(xlink:href='#caret-down')
              .search__item.search__item_mobile
                svg.search__icon.icon-baby
                  use(xlink:href='#baby')
                input.search__input.search__input_babies.js-init-autocomplete(type='text', placeholder='Дети', data-source='babies')
                svg.search__arrow
                  use(xlink:href='#caret-down')
            button.search__button.button(type='submit') Поиск

          .holidayCreate__selectors.holidayCreate__selectors_tour
            .holidayCreate__selectors-item.selectbox.selectbox_form
              label.select-arrow(for="test")
                svg
                  use(xlink:href='#caret-down')
              select(name="test")
                option(value='Любой') Любой тип питания
                option(value='Тип1') Тип 1
                option(value='Тип2') Тип 2
                option(value='Тип3') Тип 3
            .holidayCreate__selectors-item.selectbox.selectbox_form
              label.select-arrow(for="test")
                svg
                  use(xlink:href='#caret-down')
              select(name="test")
                option(value='Любой') Любой тип номера
                option(value='Тип1') Тип 1
                option(value='Тип2') Тип 2
                option(value='Тип3') Тип 3
            .holidayCreate__selectors-item.selectbox.selectbox_form
              label.select-arrow(for="test")
                svg
                  use(xlink:href='#caret-down')
              select(name="test")
                option(value='Авиакомпания') Авиакомпания
                option(value='Авиакомпания2') Авиакомпания 2
                option(value='Авиакомпания3') Авиакомпания 3
                option(value='Авиакомпания4') Авиакомпания 4
          .holidayCreate__sort
            .container
              .catalog-sort.js-mobile-screen
                a.catalog-sort__back.back.js-close-mobile-screen(href='#')
                  svg.icon-arrow-left
                    use(xlink:href='#arrow-left')
                  | Назад
                .catalog-sort__desctop.holidayCreate__sort-inner
                  span.catalog-sort__title Сортировать по:
                  ul.catalog-sort__list.js-sort
                    li.catalog-sort__list-item.active
                      a.catalog-sort__link(href='#') цене
                    li.catalog-sort__list-item
                      a.catalog-sort__link(href='#') дате
                    li.catalog-sort__list-item
                      a.catalog-sort__link(href='#') популярности
                    li.catalog-sort__list-item
                      a.catalog-sort__link(href='#') названию

      .container
        button.filter__buttonMob Фильтр
      //- // calendar-drop
      .calendar-drop.dropdown__box
        .dropdown__triangle
        .calendar
          .calendar__top
            strong.calendar__title Выберите кол-во ночей
            .calendar__left
              .calendar__amount
                .calendar__minus
                  svg.icon-minus
                    use(xlink:href='#minus')
                input.calendar__nights(type='text', value='7 ночей', data-min='0', data-max='100')
                .calendar__plus
                  svg.icon-plus
                    use(xlink:href='#plus')
            .calendar__right
              .calendar__toggle.toggle
                input#input-calendar-1.radio--toggle(type='radio', name='calendar', value='1', checked='checked')
                label(for='input-calendar-1') ± 2 Ночи
                input#input-calendar-2.radio--toggle(type='radio', name='calendar', value='2')
                label(for='input-calendar-2') Ровно
          .calendar__bottom
            strong.calendar__title Выберите дату вылета
            .calendar__datepicker
            button.calendar__button.button Сохранить
      //- // calendar-drop end
      //- .holidayCreate__sliderMob
      //-  .container
      //-    include layouts/slider__catalog.jade
      .holidayCreate__slider
        
        #sliderNumbers.container
          - for (var i = 0; i < 10; i++)
            .numbersSlider__item
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 19.28 20').numbersSlider__zoom
                title zoom
                path(d='M19.09,18.8,13.9,13.4a8,8,0,1,0-1,1l5.21,5.42a.7.7,0,0,0,.51.22.71.71,0,0,0,.51-1.2ZM8,14.58A6.58,6.58,0,1,1,14.58,8,6.59,6.59,0,0,1,8,14.58Z', fill='#fff')
                path(d='M11,7.35H8.65V5a.65.65,0,0,0-1.3,0V7.35H5a.65.65,0,0,0,0,1.3H7.35V11a.65.65,0,1,0,1.3,0V8.65H11a.65.65,0,1,0,0-1.3Z', fill='#fff')

              svg.numbersSlider__lunch
                use(xlink:href='#lunch')

              .sliderNumber.numbersSlider__images
                img(src='images/numbers/image-1.jpg' alt='').numbersSlider__image
                img(src='images/numbers/image-1.jpg' alt='').numbersSlider__image
                img(src='images/numbers/image-1.jpg' alt='').numbersSlider__image
              .numbersSlider__type
                .numbersSlider__propertie Тип номера
                .numbersSlider__value Улучшенный двухместный номер с видом на море
              .numbersSlider__info
                .numbersSlider__propertie Продолжительность
                .numbersSlider__value 12 дн. / 10 н.
              .numbersSlider__info
                .numbersSlider__propertie Питание
                .numbersSlider__value Все включено
              .numbersSlider__info
                .numbersSlider__propertie Условия
                .numbersSlider__value Скидка при раннем бронировании
              .numbersSlider__info.numbersSlider__info_price
                .numbersSlider__propertie Цена
                .numbersSlider__price 1 270 $
              form.numbersSlider__form(action="")
                .numbersSlider__checkbox
                .numbersSlider__labelCheckbox(data-active-text='Номер выбран') Выбрать номер

      .holidayCreate__result
        .container
          .numberResult
            .numberResult__image-wrapper
              img(src='images/numbers/bg-result.jpg' alt='').numberResult__image
            .numberResult__content
              p.numberResult__start-text Выберите тур
              .numberResult__sum
                .numberResult__sumTitle Сумма
                .numberResult__sumValue 1 390 $
                .numberResult__sumBonus
                  .numberResult__sumIcon
                    svg
                      use(xlink:href='#palma2')

                  .numberResult__sumText При покупке Вы получите <br> <strong>150 Мальдив бонусов</strong>
                a.numberResult__sumLink(href="") Подробнее о бонусной программе
              .numberResult__payment
                .numberResult__paymentDescription
                  | Вы можете внести предоплату 50%
                  | <br>Оставшуюся сумму не поздней, чем за 14 дней
                  | <br>до начала тура.
                a.numberResult__paymentLink(href="") Список документов для визы
                .numberResult__paymentMethods
                  .numberResult__paymentIcon
                    svg
                      use(xlink:href='#monets')
                  .numberResult__paymentText
                    | <strong>Способы оплаты:</strong> банковской картой онлайн,
                    | <br>наличными или картой в офисе, а также
                    | <br>оформить кредит от Сбербанка
              .numberResult__buy
                button.numberResult__buyButton Купить

      .hotelsAround
        .section__title.hotelsAround__title
          h2.h2 Отели рядом
        .container
          include layouts/slider__catalog.jade

      .hotelsSimilar
        .section__title.hotelsSimilar__title
          h2.h2 Похожие туры
        .container
          include layouts/slider__catalog.jade

      .hotelsArticle
        .section__title.hotelsArticle__title
          h2.h2 История Мальдивских островов
        .container.hotelsArticle__wrapper
          .hotelsArticle__content
            .hotelsArticle__history-column 
              |  В 1982 г., основываясь на записках британского комиссара на Цейлоне Х. Белла (1879) и американского антрополога К. Мэлони ("Население Мальдивских островов", 1980), Тур Хейердал приступил к исследованию истории Мальдив.
              |К тому времени уже было известно, что мальдивская культура появилась значительно раньше V в. до н.э., времени, когда на островах появились буддисты.
              |Раскопки, предпринятые Хейердалом на атоллах Хуваду и Адду, позволили сделать вывод, что на островах существовала более древняя цивилизация, вероятно арийского происхождения, родившаяся в долине реки Инд приблизительно за 2000 лет до н.э. Хейердал дает новую интерпретацию "хавиттам", обнаруженным в XIX в. Х. Беллом. Он полагает, что эти курганы, сложенные из коралловых блоков, являлись культовыми святынями народа, поклонявшегося Солнцу. Камни, окруженные концентрическими линиями, а также такие необычные для Мальдив мотивы, как цветы подсолнечника и лотоса, указывают на то, что их авторами были представители самых древних цивилизаций.
              |Заинтригованный Хейердал узнал у местных старожилов, что на Мальдивах существует легенда о белокожих людях высокого роста с голубыми глазами, орлиными носами, удлиненными лицами и темными волосами. Эти люди назывались рединами. Их верования основывались на культе Солнца и сопровождались обрядами, главными действующими лицами которых были злые духи-джинны.
              |Найденные при раскопках фрагменты керамики позволили датировать поселения рединов примерно 2000 г. до н.э.
              |На острове Ниланду, который находится на одинаковом расстоянии как от самого северного, так и от самого южного из Мальдивских островов, обнаружены следы еще одного племени, которое, вероятно, последовало за рединами. Этот народ назывался холинами. Их религиозные святилища были окружены скульптурами, напоминающими грибы-поганки. Когда мальдивцев спросили о происхождении этих людей, они вполне логично ответили, что холины пришли из земли холинов. Нам придется удовлетвориться этим ответом, так как нет ни одного научного исследования на эту тему.
              |В западной части атолла Мале живет небольшая община гиравару (около 200 человек).
              |Раньше они размещались на острове Гиравару, что к западу от Мале, а затем, когда на их родном острове начали строить международный аэропорт, переселились на Мале. Они претендуют на звание старейших жителей Мальдив, и их претензии, похоже, весьма обоснованы. Гиравару являются потомками тамилов, выходцев из южных районов Индии, хотя некоторые специалисты утверждают, что они близки австралийским аборигенам. Несмотря на заселение острова буддистами, а затем и принятие ислама, гиравару сохранили свои древние традиции и всегда считались в некотором роде изгоями.
              |Похоже, что дни этого племени сочтены. Ассимиляция гиравару идет быстрыми темпами. Живя в другой среде, они постепенно утрачивают свои обычаи. Правда, женщины до сих пор завязывают волосы с правой стороны, в то время как все остальные мальдивки — с левой, и украшают свою одежду необычной серебряной вышивкой. Гиравару говорят с особым акцентом. Он отличается от произношения жителей атолла Мале, но довольно похож на акцент обитателей атолла Адду.  
              |Остров Гиравару
              |Остров Гиравару
              |Буддисты и Индуисты
              |Вторая волна заселения Мальдивских островов приходится на 500 г. до н.э. В эту эпоху с территории современной Шри-Ланки на острова прибыли буддисты. Они обосновались преимущественно на южных островах, где и построили свои святилища в честь Будды, похожие на дагобы (буддистские святыни в форме купола), на месте древних хавитов культуры рединов.
            .hotelsArticle__history-column
              |  В 1982 г., основываясь на записках британского комиссара на Цейлоне Х. Белла (1879) и американского антрополога К. Мэлони ("Население Мальдивских островов", 1980), Тур Хейердал приступил к исследованию истории Мальдив.
              |К тому времени уже было известно, что мальдивская культура появилась значительно раньше V в. до н.э., времени, когда на островах появились буддисты.
              |Раскопки, предпринятые Хейердалом на атоллах Хуваду и Адду, позволили сделать вывод, что на островах существовала более древняя цивилизация, вероятно арийского происхождения, родившаяся в долине реки Инд приблизительно за 2000 лет до н.э. Хейердал дает новую интерпретацию "хавиттам", обнаруженным в XIX в. Х. Беллом. Он полагает, что эти курганы, сложенные из коралловых блоков, являлись культовыми святынями народа, поклонявшегося Солнцу. Камни, окруженные концентрическими линиями, а также такие необычные для Мальдив мотивы, как цветы подсолнечника и лотоса, указывают на то, что их авторами были представители самых древних цивилизаций.
              |Заинтригованный Хейердал узнал у местных старожилов, что на Мальдивах существует легенда о белокожих людях высокого роста с голубыми глазами, орлиными носами, удлиненными лицами и темными волосами. Эти люди назывались рединами. Их верования основывались на культе Солнца и сопровождались обрядами, главными действующими лицами которых были злые духи-джинны.
              |Найденные при раскопках фрагменты керамики позволили датировать поселения рединов примерно 2000 г. до н.э.
              |На острове Ниланду, который находится на одинаковом расстоянии как от самого северного, так и от самого южного из Мальдивских островов, обнаружены следы еще одного племени, которое, вероятно, последовало за рединами. Этот народ назывался холинами. Их религиозные святилища были окружены скульптурами, напоминающими грибы-поганки. Когда мальдивцев спросили о происхождении этих людей, они вполне логично ответили, что холины пришли из земли холинов. Нам придется удовлетвориться этим ответом, так как нет ни одного научного исследования на эту тему.
              |В западной части атолла Мале живет небольшая община гиравару (около 200 человек).
              |Раньше они размещались на острове Гиравару, что к западу от Мале, а затем, когда на их родном острове начали строить международный аэропорт, переселились на Мале. Они претендуют на звание старейших жителей Мальдив, и их претензии, похоже, весьма обоснованы. Гиравару являются потомками тамилов, выходцев из южных районов Индии, хотя некоторые специалисты утверждают, что они близки австралийским аборигенам. Несмотря на заселение острова буддистами, а затем и принятие ислама, гиравару сохранили свои древние традиции и всегда считались в некотором роде изгоями.
              |Похоже, что дни этого племени сочтены. Ассимиляция гиравару идет быстрыми темпами. Живя в другой среде, они постепенно утрачивают свои обычаи. Правда, женщины до сих пор завязывают волосы с правой стороны, в то время как все остальные мальдивки — с левой, и украшают свою одежду необычной серебряной вышивкой. Гиравару говорят с особым акцентом. Он отличается от произношения жителей атолла Мале, но довольно похож на акцент обитателей атолла Адду.  
              |Остров Гиравару
              |Остров Гиравару
              |Буддисты и Индуисты
              |Вторая волна заселения Мальдивских островов приходится на 500 г. до н.э. В эту эпоху с территории современной Шри-Ланки на острова прибыли буддисты. Они обосновались преимущественно на южных островах, где и построили свои святилища в честь Будды, похожие на дагобы (буддистские святыни в форме купола), на месте древних хавитов культуры рединов.
            .hotelsArticle__blockOpacity
          button.hotelsArticle__button Подробно



  include layouts/footer.jade
  include layouts/modal-popups/discount-for-accommodation
  include layouts/modal-popups/hotel-added-to-favourites

  button(data-modal-popup='.js-discount-for-accommodation-popup').js-open-modal-popup.hotelsBonusdetail discount-for-accommodation
  button(data-modal-popup='.js-hotel-added-to-favourites-popup').js-open-modal-popup.hotelsAddtofavorite hotel-added-to-favourites